In [11]:
# Importação das bibliotecas necessárias
import pandas as pd
import numpy as np
import psycopg2
import math
from datetime import datetime
import sys
import os
import openpyxl
import boto3
from io import BytesIO

In [12]:
pd.set_option("display.max_columns", None)

In [117]:
nome_empresa = input("Digite o nome da empresa: ")

if nome_empresa.lower() == 'tateti':
    cnpj = "65369985000504"
    cnpj_produtos = "65369985000334"
    cnpjs = [cnpj]

if nome_empresa.lower() == 'ladakh':
    cnpj = "07318052000150"
    cnpj_produtos = "07318052000150"
    cnpjs = [cnpj]
    
connection = psycopg2.connect(
        user=  'cat',
        password=  '5pM2h0MBQu9JHkxHud2A',
        host=  '177.11.49.194',
        port="3361",
        database=  '4btaxtech'
    )

# Variáveis para acesso ao s3
bucket_name = '4btaxtech'

s3 = boto3.client('s3', 
                  aws_access_key_id='AKIA4RCAOBRSFONXEUTE', 
                  aws_secret_access_key='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',
                  region_name='us-east-1'
                  )

In [104]:
def ler_arquivo_para_dataframe(bucket_name, s3_key, file_type='csv'):
    """
    Lê um arquivo do S3 e carrega em um DataFrame do Pandas.
    
    :param bucket_name: Nome do bucket.
    :param s3_key: Caminho do arquivo no S3.
    :param file_type: Tipo do arquivo ('csv' ou 'xlsx').
    :return: DataFrame do Pandas.
    """
    try:
        response = s3.get_object(Bucket=bucket_name, Key=s3_key)
        if file_type == 'csv':
            df = pd.read_csv(BytesIO(response['Body'].read()), dtype=str, header=0, sep=';')
        elif file_type == 'xlsx':
            df = pd.read_excel(BytesIO(response['Body'].read()))
        else:
            raise ValueError("Tipo de arquivo não suportado. Use 'csv' ou 'xlsx'.")
        print(f"Arquivo '{s3_key}' lido com sucesso!")
        return df
    except Exception as e:
        print(f"Erro ao ler arquivo do S3: {e}")
        return None
    
def salvar_dataframe_no_s3(df, bucket_name, s3_key, file_type='csv'):
    """
    Salva um DataFrame do Pandas no S3.
    
    :param df: DataFrame a ser salvo.
    :param bucket_name: Nome do bucket.
    :param s3_key: Caminho para salvar o arquivo no S3.
    :param file_type: Tipo do arquivo ('csv' ou 'xlsx').
    """
    try:
        buffer = BytesIO()
        if file_type == 'csv':
            df.to_csv(buffer, index=False, encoding='utf-8')
        elif file_type == 'xlsx':
            with pd.ExcelWriter(buffer, engine='xlsxwriter') as writer:
                df.to_excel(writer, index=False)
        else:
            raise ValueError("Tipo de arquivo não suportado. Use 'csv' ou 'xlsx'.")
        
        buffer.seek(0)  # Resetar o ponteiro do buffer
        s3.put_object(Bucket=bucket_name, Key=s3_key, Body=buffer.getvalue())
        print(f"Arquivo salvo com sucesso em '{s3_key}'.")
    except Exception as e:
        print(f"Erro ao salvar arquivo no S3: {e}")

In [303]:
def baixar_arquivo(bucket_name, s3_key, local_file_name):
    try:
        s3.download_file(bucket_name, s3_key, local_file_name)
        print(f"Arquivo '{s3_key}' baixado como '{local_file_name}'.")
    except Exception as e:
        print(f"Erro ao baixar arquivo: {e}")

baixar_arquivo(bucket_name, s3_key=f'Cat42/{nome_empresa.title()}/Ficha 3/ficha_3_{nome_empresa.title()}_{cnpj}_v2.xlsx',
               local_file_name=f'ficha_3_{nome_empresa}_{cnpj}_v2.xlsx')

Arquivo 'Cat42/Tateti/Ficha 3/ficha_3_Tateti_65369985000334_v2.xlsx' baixado como 'ficha_3_tateti_65369985000334_v2.xlsx'.

In [164]:
colunas = ['Código da Mercadoria', 'Número da Ordem', 'Data', 'Chave', 'Tipo', 'Série do documento', 'Número da nota',
            'Código do Remetente ou Destinatário', 'CFOP', 'Número do Item no Documento XML', 'Quantidade (Entrada)',
            'Valor Total do ICMS Suportado na Retenção ou Antecipação por ST', 'Quantidade (Saída)',
            'Valor Unitário do ICMS Suportado', 'Saída a Consumidor ou Usuário Final - Código Enquadramento Legal = 1',
            'Fato Gerador Não Realizado - Código Enquadramento Legal = 2', 
            'Saída ou Saída Subsequente com isenção ou Não incidência - Código Enquadramento Legal = 3',
            'Saída para Outro Estado - Código Enquadramento Legal = 4',
            'Saída para Comercialização Subsequente(Demais Saídas) - Código Enquadramento Legal = 0',
            'ICMS Efetivo na Saída a Consumidor ou Usuário Final ou no caso de Saída Subsequente com Isenção ou Não Incidência',
            'Quantidade',  'Valor Unitário do Saldo', 'Valor Total do Saldo', 'Valor do Ressarcimento', 'Valor do Complemento',
            'ICMS Efetivo da Entrada', 'ICMS - Crédito da Operação Própria (artigo 271 do RICMS)']

ficha_3_revizia = pd.DataFrame(columns=colunas)
teste = ler_arquivo_para_dataframe(bucket_name=bucket_name, s3_key=f'Cat42/{nome_empresa.title()}/Ficha 3/ficha_3_{nome_empresa.title()}_{cnpj}_v2.xlsx',
                                  file_type='xlsx')

Arquivo 'Cat42/Tateti/Ficha 3/ficha_3_Tateti_65369985000504_v2.xlsx' lido com sucesso!

In [ ]:
ficha_3_revizia['Código da Mercadoria'] = teste['COD_ITEM']
ficha_3_revizia['Número da Ordem'] = teste.groupby('COD_ITEM').cumcount() + 1
ficha_3_revizia['Data'] = teste['DATA']
ficha_3_revizia['Chave'] = teste['CHV_DOC']
ficha_3_revizia['Tipo'] = teste['IND_OPER']
ficha_3_revizia['Código do Remetente ou Destinatário'] = teste['CHV_DOC'].str.slice(6, 20)
ficha_3_revizia['CFOP'] = teste['CFOP']
ficha_3_revizia['Série do documento'] = ficha_3_revizia['Chave'].str.slice(22, 25)
ficha_3_revizia['Número da nota'] = ficha_3_revizia['Chave'].str.slice(25,34)
ficha_3_revizia['Número do Item no Documento XML'] = teste['NUM_ITEM']
ficha_3_revizia['Quantidade (Entrada)'] = np.where(teste['IND_OPER'] == 0, teste['QTD_CAT'], np.nan)
ficha_3_revizia['Valor Total do ICMS Suportado na Retenção ou Antecipação por ST'] = teste['ICMS_TOT']
ficha_3_revizia['Quantidade (Saída)'] = np.where(teste['IND_OPER'] == 1, teste['QTD_CAT'], np.nan)
ficha_3_revizia['Valor Unitário do ICMS Suportado'] = teste['ICMS_SAIDA_UNI']
ficha_3_revizia['Saída a Consumidor ou Usuário Final - Código Enquadramento Legal = 1'] = np.where(teste['COD_LEGAL'] == 1,
                                                                                                   teste['ICMS_SAIDA'],
                                                                                                   np.nan)
ficha_3_revizia['Saída para Comercialização Subsequente(Demais Saídas) - Código Enquadramento Legal = 0'] = np.where(teste['COD_LEGAL'] == 0,
                                                                                                                     teste['ICMS_SAIDA'],
                                                                                                                     np.nan)
ficha_3_revizia['Fato Gerador Não Realizado - Código Enquadramento Legal = 2'] = np.where(teste['COD_LEGAL'] == 2,
                                                                                          teste['ICMS_SAIDA'],
                                                                                          np.nan)
ficha_3_revizia['Saída ou Saída Subsequente com isenção ou Não incidência - Código Enquadramento Legal = 3'] = np.where(teste['COD_LEGAL'] == 3,
                                                                                          teste['ICMS_SAIDA'],
                                                                                          np.nan)
ficha_3_revizia['Saída para Outro Estado - Código Enquadramento Legal = 4'] = np.where(teste['COD_LEGAL'] == 4,
                                                                                          teste['ICMS_SAIDA'],
                                                                                          np.nan)
ficha_3_revizia['ICMS Efetivo na Saída a Consumidor ou Usuário Final ou no caso de Saída Subsequente com Isenção ou Não Incidência'] = teste['VLR_CONF_0']
ficha_3_revizia['Quantidade'] = teste['QTD_SALDO']
ficha_3_revizia['Valor Total do Saldo']  = teste['ICMS_TOT_SALDO']
ficha_3_revizia['Valor Unitário do Saldo'] = ficha_3_revizia['Valor Total do Saldo'] / ficha_3_revizia['Quantidade']
ficha_3_revizia['Valor do Ressarcimento'] = teste['VLR_RESSARCIMENTO']
ficha_3_revizia['Valor do Complemento'] = teste['VLR_COMPLEMENTO']
ficha_3_revizia['ICMS Efetivo da Entrada'] = np.where(teste['COD_LEGAL'].isin([2, 3, 4]), 
                                                      teste['ICMS_EFETIVO_ENTRADA'],
                                                      np.nan)
ficha_3_revizia['ICMS - Crédito da Operação Própria (artigo 271 do RICMS)'] = np.where(teste['COD_LEGAL'] == 4,
                                                                                       teste['ICMS_EFETIVO_ENTRADA'],
                                                                                       np.nan)

# Função para extrair os dados de acordo com o modelo da chave
def extrair_dados(chave):
    if isinstance(chave, str) and len(chave) == 44:  # Verifica se a chave tem 44 caracteres
        modelo = chave[20:22]  # Posições 21 e 22 determinam o modelo

        if modelo == "55":  # Modelo 55 (NF-e)
            serie = chave[22:25]  # Posições 23 a 25 (3 caracteres)
            numero_nota = chave[25:34]  # Posições 26 a 34 (9 caracteres)
        elif modelo == "59":  # Modelo 59 (CFe-SAT)
            serie = chave[22:31]  # Posições 23 a 31 (9 caracteres - Número de Série do SAT)
            numero_nota = chave[31:37]  # Posições 32 a 37 (6 caracteres - Número do CFe-SAT)
        else:
            serie, numero_nota = None, None  # Caso seja um modelo diferente

        return serie, numero_nota
    return None, None


# Aplicar a função em todas as chaves e preencher as colunas
ficha_3_revizia[['Série do documento', 'Número da nota']] = ficha_3_revizia['Chave'].apply(lambda x: pd.Series(extrair_dados(x)))

# Função para inserir a linha "cabeçalho" antes das linhas do grupo
def inserir_linha_inicial(grupo):
    # Identificar o código da mercadoria (COD_ITEM) do grupo atual
    cod_item = grupo['Código da Mercadoria'].iloc[0]
    
    # Buscar a primeira linha correspondente no 'teste'
    # (assumindo que todo cod_item de ficha_3_revizia está presente em teste)
    row_teste = teste.loc[teste['COD_ITEM'] == cod_item].iloc[0]

    # Montar o dicionário da nova linha, com colunas específicas
    nova_linha = {
        'Código da Mercadoria': cod_item,
        'Quantidade': row_teste['QTD_INI'],
        'Valor Unitário do Saldo': row_teste['ULT_ICMS_SAIDA_UNI'],
        'Valor Total do Saldo': row_teste['ICMS_INI'],
        # Se quiser deixar as demais colunas em branco (NaN) ou algum valor fixo
        # 'Outra Coluna': '',
        # ...
    }
    
    # Converter a nova linha em um DataFrame de uma única linha
    nova_linha_df = pd.DataFrame([nova_linha])
    
    # Concatenar a nova linha ao grupo (colocando a nova linha antes)
    return pd.concat([nova_linha_df, grupo], ignore_index=True)

# Agrupar por 'Código da Mercadoria' e aplicar a função
ficha_3_revizia_com_cabecalho = (
    ficha_3_revizia
    .groupby('Código da Mercadoria', group_keys=False)
    .apply(inserir_linha_inicial)
)

ficha_3_revizia_com_cabecalho = ficha_3_revizia_com_cabecalho[['Código da Mercadoria', 'Número da Ordem', 'Data', 'Chave', 'Tipo', 'Série do documento', 'Número da nota',
            'Código do Remetente ou Destinatário', 'CFOP', 'Número do Item no Documento XML', 'Quantidade (Entrada)',
            'Valor Total do ICMS Suportado na Retenção ou Antecipação por ST', 'Quantidade (Saída)',
            'Valor Unitário do ICMS Suportado', 'Saída a Consumidor ou Usuário Final - Código Enquadramento Legal = 1',
            'Fato Gerador Não Realizado - Código Enquadramento Legal = 2', 
            'Saída ou Saída Subsequente com isenção ou Não incidência - Código Enquadramento Legal = 3',
            'Saída para Outro Estado - Código Enquadramento Legal = 4',
            'Saída para Comercialização Subsequente(Demais Saídas) - Código Enquadramento Legal = 0',
            'ICMS Efetivo na Saída a Consumidor ou Usuário Final ou no caso de Saída Subsequente com Isenção ou Não Incidência',
            'Quantidade',  'Valor Unitário do Saldo', 'Valor Total do Saldo', 'Valor do Ressarcimento', 'Valor do Complemento',
            'ICMS Efetivo da Entrada', 'ICMS - Crédito da Operação Própria (artigo 271 do RICMS)']]


ficha_3_revizia_com_cabecalho

C:\Users\vinic\AppData\Local\Temp\ipykernel_31396\4059727930.py:94: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(inserir_linha_inicial)

,Código da Mercadoria,Número da Ordem,Data,Chave,Tipo,Série do documento,Número da nota,Código do Remetente ou Destinatário,CFOP,Número do Item no Documento XML,Quantidade (Entrada),Valor Total do ICMS Suportado na Retenção ou Antecipação por ST,Quantidade (Saída),Valor Unitário do ICMS Suportado,Saída a Consumidor ou Usuário Final - Código Enquadramento Legal = 1,Fato Gerador Não Realizado - Código Enquadramento Legal = 2,Saída ou Saída Subsequente com isenção ou Não incidência - Código Enquadramento Legal = 3,Saída para Outro Estado - Código Enquadramento Legal = 4,Saída para Comercialização Subsequente(Demais Saídas) - Código Enquadramento Legal = 0,ICMS Efetivo na Saída a Consumidor ou Usuário Final ou no caso de Saída Subsequente com Isenção ou Não Incidência,Quantidade,Valor Unitário do Saldo,Valor Total do Saldo,Valor do Ressarcimento,Valor do Complemento,ICMS Efetivo da Entrada,ICMS - Crédito da Operação Própria (artigo 271 do RICMS)
0,001010101002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.83,3.793936,507.742430,NaN,NaN,NaN,NaN
1,001010101002,1.0,2020-03-16,35200365369985000504550060000473171100175734,1.0,006,000047317,65369985000504,5405.0,3.0,NaN,0.0,8.0,3.793936,30.351487,NaN,NaN,NaN,NaN,17.1216,125.83,3.793936,477.390944,13.229887,0.0,NaN,NaN
2,001010101002,2.0,2020-03-18,35200365369985000504550060000473911100009840,1.0,006,000047391,65369985000504,5405.0,1.0,NaN,0.0,3.0,3.793936,11.381807,NaN,NaN,NaN,NaN,8.1432,122.83,3.793936,466.009136,3.238607,0.0,NaN,NaN
3,001010101002,3.0,2020-04-24,35200465369985000504550060000483591100304419,1.0,006,000048359,65369985000504,5405.0,8.0,NaN,0.0,50.0,3.793936,189.696791,NaN,NaN,NaN,NaN,135.7200,72.83,3.793936,276.312346,53.976791,0.0,NaN,NaN
4,001010101002,4.0,2020-05-06,35200565369985000504550060000486951100123356,1.0,006,000048695,65369985000504,5405.0,19.0,NaN,0.0,10.0,3.793936,37.939358,NaN,NaN,NaN,NaN,32.5800,62.83,3.793936,238.372987,5.359358,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,VIAVE3001005,3.0,2020-10-23,35201065369985000504590003340440078578021018,1.0,000334044,007857,65369985000504,5102.0,1.0,NaN,0.0,1.0,2.122003,NaN,NaN,NaN,NaN,2.122003,1.6788,1.00,2.122003,2.122003,0.000000,0.0,NaN,NaN
4,VIAVE3001005,4.0,2020-10-23,35201065369985000504590003340440078578021018,1.0,000334044,007857,65369985000504,5102.0,2.0,NaN,0.0,1.0,2.122003,NaN,NaN,NaN,NaN,2.122003,1.6788,0.00,NaN,0.000000,0.000000,0.0,NaN,NaN
0,VIAVE3001006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00,1.060243,2.120486,NaN,NaN,NaN,NaN
1,VIAVE3001006,1.0,2020-06-18,35200665369985000504590003340440044091519950,1.0,000334044,004409,65369985000504,5102.0,1.0,NaN,0.0,1.0,1.060243,NaN,NaN,NaN,NaN,1.060243,0.8388,1.00,1.060243,1.060243,0.000000,0.0,NaN,NaN
2,VIAVE3001006,2.0,2020-06-26,35200665369985000504590003340440046248265500,1.0,000334044,004624,65369985000504,5102.0,1.0,NaN,0.0,1.0,1.060243,NaN,NaN,NaN,NaN,1.060243,0.8388,0.00,NaN,0.000000,0.000000,0.0,NaN,NaN

In [166]:
salvar_dataframe_no_s3(ficha_3_revizia_com_cabecalho,
                    bucket_name,
                    f'Cat42/{nome_empresa.title()}/Ficha 3 Revizia/ficha_3_modelo_revizia_{nome_empresa.title()}_{cnpj}.xlsx',
                                                           file_type='xlsx')

Arquivo salvo com sucesso em 'Cat42/Tateti/Ficha 3 Revizia/ficha_3_modelo_revizia_Tateti_65369985000504.xlsx'.

In [6]:
sum(teste['VLR_RESSARCIMENTO'])

2700214.5340872207

In [ ]:
import pandas as pd

# Caminho do arquivo Excel
caminho_arquivo = r"C:\Users\simas\OneDrive\Área de Trabalho\teste.xlsx"

# Carregar a planilha
df = pd.read_excel(caminho_arquivo, dtype=str)


# Função para extrair os dados de acordo com o modelo da chave
def extrair_dados(chave):
    if isinstance(chave, str) and len(chave) == 44:  # Verifica se a chave tem 44 caracteres
        modelo = chave[20:22]  # Posições 21 e 22 determinam o modelo

        if modelo == "55":  # Modelo 55 (NF-e)
            serie = chave[22:25]  # Posições 23 a 25 (3 caracteres)
            numero_nota = chave[25:34]  # Posições 26 a 34 (9 caracteres)
        elif modelo == "59":  # Modelo 59 (CFe-SAT)
            serie = chave[22:31]  # Posições 23 a 31 (9 caracteres - Número de Série do SAT)
            numero_nota = chave[31:37]  # Posições 32 a 37 (6 caracteres - Número do CFe-SAT)
        else:
            serie, numero_nota = None, None  # Caso seja um modelo diferente

        return serie, numero_nota
    return None, None


# Aplicar a função em todas as chaves e preencher as colunas
df[['Série do documento', 'Número da nota']] = df['Chave'].apply(lambda x: pd.Series(extrair_dados(x)))

# Salvar a planilha atualizada
caminho_saida = r"C:\Users\simas\OneDrive\Área de Trabalho\teste_atualizado.xlsx"
df.to_excel(caminho_saida, index=False)

print(f"Arquivo atualizado salvo em: {caminho_saida}")

In [145]:
tabela_1 = ler_arquivo_para_dataframe(bucket_name, f'Cat42/{nome_empresa.title()}/Tabela 1/tabela_1_{nome_empresa}.csv', file_type='csv')
tabela_1 = tabela_1.dropna(subset='Número Item')

tabela_1['Código Produto ou Serviço'] = tabela_1['Código Produto ou Serviço'].astype(str)
tabela_1['Data Emissão'] = pd.to_datetime(tabela_1['Data Emissão'].str.slice(0,10),format='mixed')

uso_complementar = input('Haverá uso de nota complementar ? ')

# Leitura do arquivo da complementar
if uso_complementar.lower() == 'sim':
 
    complementar = ler_arquivo_para_dataframe(bucket_name, f"Cat42/{nome_empresa.title()}/Complementar/complementar.xlsx", file_type='xlsx')
    complementar['Produto'] = complementar['Produto'].astype(str)
    complementar['Item NFE Origem'] = complementar['Item NFE Origem'].astype(int)

if uso_complementar.lower() == 'não':
    colunas = ['Chave Acesso NFe', 'Item NFE Origem', 'EAN', 'Produto',
                       'Quantidade Comercial', 'Valor Produto ou Serviço', 'Valor Base Cálculo ICMS ST Retido Operação Anterior',
                       'vPMC', 'anvisa', 'vBCST', 'ICMS ST Retido-Base de Cálculo','ALIQUOTA', 'ICMS ST Retido- Valor']
    
    complementar = pd.DataFrame(columns=colunas)
    for coluna in colunas:
        complementar[coluna] = np.zeros(shape=tabela_1.shape[0])

# Leitura da tabela da efd_mod55 para um data frame

query = f"SELECT * FROM modelo55 WHERE cnpj = '{cnpj}';"

efd = pd.read_sql_query(query, connection)
if efd.shape[0] == 0:
    print(f'Tabela modelo 55 da loja {nome_empresa.title()}:{cnpj} não consta no banco. Favor verificar')
    sys.exit()

# Alteração do tipo de dado

efd['codigo_do_item'] = efd['codigo_do_item'].astype(float)

# Leitura da tabela da efd_mod59 para um data frame

query = f'SELECT * FROM modelo59 WHERE cnpj = {cnpj}'

efd_mod59 = pd.read_sql_query(query, connection)
if (efd_mod59.shape[0] == 0) and (nome_empresa != 'ladakh'):
    print(f'Tabela modelo 59 da loja {nome_empresa.title()}:{cnpj} não consta no banco. Favor verificar')
    sys.exit()


# Formatação da coluna de data
efd_mod59['data_efds'] = pd.to_datetime(efd_mod59['data_efds'], format='%m/%Y')

# Alteração do tipo de dado

# efd_mod59['codigo_produto'] = efd_mod59['codigo_produto'].astype(str)

# Retirada dos valores negativos de base de calculo da complementar

complementar['ICMS ST Retido-Base de Cálculo'] = complementar['ICMS ST Retido-Base de Cálculo'].astype(float)
complementar['ICMS ST Retido- Valor'] = complementar['ICMS ST Retido- Valor'].astype(float)
complementar_final = complementar[complementar['ICMS ST Retido-Base de Cálculo'] >= 0]

# Formatação da coluna de data da tabela 1

tabela_1['Data Emissão'] = pd.to_datetime(tabela_1['Data Emissão'],format='mixed')

# Formatação da coluna Valor Produto ou Serviço para o tipo correto

tabela_1['Valor Produto ou Serviço'] = tabela_1['Valor Produto ou Serviço'].astype(float)

# Preenchimento da coluna bc_complementar_total_complementar

tabela_1['Número Item'] = tabela_1['Número Item'].astype(float)
tabela_1['Chave Acesso NFe'] = tabela_1['Chave Acesso NFe'].astype(str)

complementar_final['Item NFE Origem'] = complementar_final['Item NFE Origem'].astype(float)
complementar_final['Chave Acesso NFe'] = complementar_final['Chave Acesso NFe'].astype(str)
bc_df = complementar_final[['Chave Acesso NFe', 'Item NFE Origem', 'vBCST', 'ICMS ST Retido-Base de Cálculo', 'Produto', 'vPMC']]
merged_df = pd.merge(tabela_1, bc_df, left_on=['Chave Acesso NFe', 'Número Item'],
                    right_on=['Chave Acesso NFe', 'Item NFE Origem'], how='left')

# merged_df = merged_df.drop('Unnamed: 0', axis=1)
merged_df = merged_df.drop_duplicates()

# Preenchimento da coluna bc_complementar_total_item_original

merged_df['Valor Base de Cálculo ICMS ST Retido'] = merged_df['Valor Base de Cálculo ICMS ST Retido'].astype(float).fillna(0)
merged_df['Valor ICMS Operação'] = merged_df['Valor ICMS Operação'].astype(float).fillna(0)

merged_df['bc_complementar_total_item_original'] = merged_df['ICMS ST Retido-Base de Cálculo']

# Formatação da coluna de data
efd['data_saida'] = efd['data_saida'].replace('', np.nan)
efd['data_saida'] = pd.to_datetime(efd['data_saida'], format='%d/%m/%Y')

# Mudança do tipo de dado para string

efd['codigo_do_item'] = efd['codigo_do_item'].astype(float)
merged_df['Número Item'] = merged_df['Número Item'].astype(float)

# Mudança do tipo de dado para string

efd['chave_nfe'] = efd['chave_nfe'].astype(str)
merged_df['Chave Acesso NFe'] = merged_df['Chave Acesso NFe'].astype(str)

#Preenchimento das colunas referentes a informações da efd
merged = pd.merge(merged_df, efd[['chave_nfe','data_saida', 'codigo_do_item',
                                  'cfop', 'codigo_produto', 'quantidade',
                                 'descricao_produto', 'ean', 'ncm', 'cest', 'indice_operacao']],
                 left_on=['Chave Acesso NFe', 'Número Item'],
                 right_on=['chave_nfe', 'codigo_do_item'],
                 how='left')

merged = merged.drop_duplicates()

# Definição de coluna com para chave-item para identificação de erros

merged['CHAVE_ITEM'] = merged['Chave Acesso NFe'].astype(str) + '-' + merged['Número Item'].astype(str)
merged = merged.drop_duplicates(subset='CHAVE_ITEM', keep='first')

# Identificação de algum possível erro em relação à unicidade de pares chave-item

merged['CHAVE_ITEM'] = merged['Chave Acesso NFe'].astype(str) + '-' + merged['Número Item'].astype(str)

duplicate_mask = merged['CHAVE_ITEM'].duplicated(keep=False)
duplicate_df = merged[duplicate_mask]
if duplicate_df.shape[0] > 0:
    print('Erro encontrado: combinação Chave-Item duplicada. Por favor verificar')
    sys.exit()

# Leitura para um dataframe da tabela de produtos
# do banco de dados

query = f"SELECT * FROM produtos where empresa = '{cnpj_produtos}'"
produtos = pd.read_sql_query(query, connection)

# Checagem de erro em relação à duplicidade de aliquota na tabela de produtos

mask = produtos.groupby('codigo_produto')['icms'].transform('nunique') > 1

# Filtrar as linhas que atendem à condição
result = produtos[mask]
result = result.sort_values(by='codigo_produto')
if result.shape[0] > 0:
    print('DUPLICAÇÃO DE ALIQUOTA NA TABELA DE PRODUTOS, FAVOR CHECAR')
    sys.exit()

# Ajustes de dados e definição de informações para aplicação da regras de 
# filtragem dos dados presentes na efd

efd['codigo_produto'] = efd['codigo_produto'].astype(str)
efd['CHAVE_ITEM'] = efd['chave_nfe'] + '-' + efd['codigo_do_item'].astype(str)
cods = efd['codigo_produto'].unique()
merged['Produto'] = merged['Produto'].astype(str)
merged['Chave-Item'] = merged['Chave Acesso NFe'] + '-' + merged['Número Item'].astype(str)

chave_mod_59 = efd_mod59['chv_cfe'].unique()
chave_mod_55 = efd['chave_nfe'].unique()

# Aplicação das regras

# Regra 1
df_1 = merged[merged['Chave-Item'].isin(efd['CHAVE_ITEM'])]
df_1['Tipo'] = 'entrada'

# Regra 2
efd_filtrado  = efd[(efd['codigo_do_item'].isna()) & (efd['indice_operacao'] == '1')]
df_2 = merged[merged['Chave Acesso NFe'].isin(efd_filtrado['chave_nfe'])]
df_2['Tipo'] = 'saida'
# Regra 3
df_3 =  merged[merged['Chave Acesso NFe'].isin(chave_mod_59)]
df_3['Tipo'] = 'saida'

merged_novo = pd.concat([df_1,  df_2, df_3])

merged_novo['IND_OPER'] = np.where((merged_novo['Tipo'] == 'saida'),
                            1, 0)

merged_novo = merged_novo.drop_duplicates()
merged_novo['Produto'] = np.where((merged_novo['Tipo'] == 'entrada') & (~merged_novo['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)) & (merged_novo['CFOP'].astype(float) != 5409),
                               merged_novo['codigo_produto'], merged_novo['Código Produto ou Serviço'])
merged_novo['Produto'] = merged_novo['Produto'].astype(str)

df_merged = pd.merge(merged_novo, produtos[['codigo_produto', 'icms', 'cest']],
                    left_on=['Produto'], right_on=['codigo_produto'],
                    how='left')

# Checagem de duplicação de chave-item

df_merged['CHAVE_ITEM'] = df_merged['Chave Acesso NFe'].astype(str) + '-' + df_merged['Número Item'].astype(str)

duplicate_mask = df_merged['CHAVE_ITEM'].duplicated(keep=False)
duplicate_df = df_merged[duplicate_mask]
if duplicate_df.shape[0] > 0:
    print('Erro encontrado: combinação Chave-Item duplicada. Por favor verificar')
    sys.exit()

df_merged = df_merged.drop_duplicates()

df = df_merged.copy()

# Retirada de linhas duplicadas

df = df.drop_duplicates()

# Preenchimento da coluna ICMS_TOT
df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = df['Valor Base Cálculo ICMS ST Retido Operação Anterior'].fillna(0)
df['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária'].astype(float).fillna(0)
df['Valor ICMS Operação'] = df['Valor ICMS Operação'].astype(float).fillna(0)
df['Valor ICMS ST Retido'] = df['Valor ICMS ST Retido'].astype(float).fillna(0)
df['Valor ICMS Substituto'] = df['Valor ICMS Substituto'].astype(float).fillna(0)
df['icms'] = df['icms'].astype(str).replace('None', np.nan)

df['icms'] = df['icms'].str.replace('-', '0').fillna('0').str.replace('nan', '0')
df['vBCST'] = df['vBCST'].astype(float).fillna(0)

# Geração da coluna CHV_DOC
tabela_2 = pd.DataFrame()

tabela_2['CHV_DOC'] = df['Chave Acesso NFe']

# Geração da coluna DATA

tabela_2['DATA'] = np.where((df['Tipo'] == 'entrada') & (~df['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)),
                            df['data_saida'], df['Data Emissão'])

# Geração da coluna NUM_ITEM

tabela_2['NUM_ITEM'] = df['Número Item']

# Preenchimento da coluna CFOP

tabela_2['CFOP'] = np.where((df['Tipo'] == 'entrada') & (~df['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)),
                               df['cfop'], df['CFOP'])

tabela_2['CFOP'] = tabela_2['CFOP'].astype(str).str.replace(r'\.0$', '', regex=True)

# Preenchimento da coluna COD_ITEM

tabela_2['COD_ITEM'] = np.where((df['Tipo'] == 'entrada') & (~df['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)) & (~df['CFOP'].astype(float).isin([5202, 6202, 5409, 5411])),
                               df['Produto'], 
                               df['Código Produto ou Serviço'])

tabela_2['COD_ITEM'] = np.where((df['Tipo'] == 'entrada') & (~df['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)) & (df['CFOP'].astype(float).isin([5405, 5152])) & (df['cfop'].astype(float) == 1409),
                                df['Código Produto ou Serviço'],
                                tabela_2['COD_ITEM'])

tabela_2['COD_ITEM'] = np.where((df['Tipo'] == 'entrada') & (~df['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)) & (df['CFOP'].astype(float).isin([5411, 5202])),
                                df['Produto'],
                                tabela_2['COD_ITEM'])


# Preenchimento das colunas QTD_NOTA, QTD_CAT e QTD_EFD

tabela_2['QTD_NOTA'] = df['Quantidade Comercial'].astype(float)
tabela_2['QTD_CAT'] = np.where((df['Tipo'] == 'entrada') & (~df['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)) & (~df['CFOP'].astype(float).isin([5202, 6202, 5409, 5411])),
                                df['quantidade'], df['Quantidade Comercial'])
tabela_2['QTD_CAT'] = np.where((df['Tipo'] == 'entrada') & (~df['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)) & (df['CFOP'].astype(float).isin([5405, 5152])) & (df['cfop'].astype(float) == 1409),
                                df['Quantidade Comercial'],
                                tabela_2['QTD_CAT'])

tabela_2['QTD_CAT'] = np.where((df['Tipo'] == 'entrada') & (~df['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)) & (df['CFOP'].astype(float).isin([5411, 5202])),
                                df['quantidade'],
                                tabela_2['QTD_CAT'])

tabela_2['QTD_NOTA'] = tabela_2['QTD_NOTA'].astype(str).str.replace(r'\.0$', '', regex=True)
tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(str).str.replace(r'\.0$', '', regex=True)
tabela_2['QTD_EFD'] = np.where((df['Tipo'] == 'entrada') & (~df['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)),
                                df['quantidade'], np.nan)


# Preenchimento da coluna DESCRICAO

tabela_2['DESCRICAO'] = np.where((df['Tipo'] == 'entrada') & (~df['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)) & (~df['CFOP'].astype(float).isin([5202, 6202, 5409, 5411])),
                               df['descricao_produto'], df['Descrição Produto'])

tabela_2['DESCRICAO'] = np.where((df['Tipo'] == 'entrada') & (~df['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)) & (df['CFOP'].astype(float).isin([5405, 5152])) & (df['cfop'].astype(float) == 1409),
                                df['Descrição Produto'],
                                tabela_2['DESCRICAO'])

tabela_2['DESCRICAO'] = np.where((df['Tipo'] == 'entrada') & (~df['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)) & (df['CFOP'].astype(float).isin([5411, 5202])),
                                df['descricao_produto'],
                                tabela_2['DESCRICAO'])

# Preenchimento da coluna CODIGO_BARRA


tabela_2['CODIGO_BARRA'] = np.where((df['Tipo'] == 'entrada') & (~df['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)),
                               df['ean'], df['Código GTIN'])

# Preenchimento da coluna UNIDADE

tabela_2['UNIDADE'] = df['Unidade Comercial']

# Preenchimento da coluna N C M

df['N C M'] = np.where((df['Tipo'] == 'entrada') & (~df['Chave Acesso NFe'].str.slice(6,20).isin(cnpjs)),
                               df['ncm'], df['Código NCM'])

tabela_2['N C M'] = np.where(df['N C M'].notnull(),
                               df['N C M'], df['Código NCM'])

# Preenchimento da coluna ALIQUOTA

tabela_2['ALIQUOTA'] = df['icms']
tabela_2['ALIQUOTA'] = tabela_2['ALIQUOTA'].astype(str).str.replace(r'\.0$','', regex=True)

# Preenchimento da coluna CEST

tabela_2['CEST'] = df['cest_y']                        

# Preenchimento da coluna Entr_PCAT

cfops = [1102, 1202, 1403, 1409, 1411, 
         1949, 2101, 2102, 2202, 2209, 
         2401, 2403, 2405, 2409, 
         2411, 2414, 2949, 5101, 5102, 
         5117, 5118, 
         5120, 5152, 5201, 5202, 
         5210, 5401, 5403, 5405, 
         5409, 5410, 5411, 5413, 5551,
         5556, 5910, 5911, 5922, 5923, 
         5927, 
         5929, 5949, 6101, 6102, 6103, 
         6108, 6117, 6119, 6152, 6202, 
         6401, 6403, 6404, 6409, 
         6411, 6414, 6556, 6910, 
         6911, 6922, 6923]

tabela_2['Entr_PCAT'] = np.where((tabela_2['CFOP'].astype(int).isin(cfops)) & (tabela_2['CEST'].notnull()),
                                 1,
                                 0)


# Preenchimento das colunas CNPJ EMITENTE e CNPJ DESTINATARIO

tabela_2['CNPJ EMITENTE'] = df['Número CNPJ Emitente']
tabela_2['CNPJ DESTINATARIO'] = df['Número CNPJ Destinatário']

# Preenchimento da coluna IND_OPER

tabela_2['IND_OPER'] = df['IND_OPER']

# Preenchimento da coluna VALOR
tabela_2['VALOR'] = df['Valor Produto ou Serviço']

# Definição de mais colunas

tabela_2['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = df['Valor Base Cálculo ICMS ST Retido Operação Anterior']
tabela_2['Valor Base Cálculo ICMS Substituição Tributária'] = df['Valor Base Cálculo ICMS Substituição Tributária']
tabela_2['Valor Complementar'] = df['bc_complementar_total_item_original']
tabela_2['vBCST'] = df['vBCST']
tabela_2['Valor ICMS Operação'] = df['Valor ICMS Operação']
tabela_2['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária']
tabela_2['Valor ICMS ST Retido'] = df['Valor ICMS ST Retido']
tabela_2['Valor ICMS Substituto'] = df['Valor ICMS Substituto']
tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].replace('nan', np.nan)
tabela_2['CST'] = df['CST ICMS']
tabela_2['FONTE'] = df['Tipo']

# Preenchimento da coluna ICMS_TOT 
tabela_2['Valor ICMS Operação'] = np.where((tabela_2['FONTE'] == 'entrada') & (~tabela_2['CHV_DOC'].str.slice(6,20).isin(cnpjs)),
                                     np.where(tabela_2['Valor Base Cálculo ICMS ST Retido Operação Anterior'] <= tabela_2['vBCST'],
                                              tabela_2['Valor ICMS Operação'],
                                              tabela_2['Valor ICMS Substituto']),
                                              tabela_2['Valor ICMS Operação'])

tabela_2['Valor ICMS Operação'] = tabela_2['Valor ICMS Operação'].fillna(0)
tabela_2['Valor ICMS Substituição Tributária'] = tabela_2['Valor ICMS Substituição Tributária'].fillna(0)
tabela_2['Valor ICMS ST Retido'] = tabela_2['Valor ICMS ST Retido'].fillna(0)
tabela_2['Valor ICMS Substituto'] = tabela_2['Valor ICMS Substituto'].fillna(0)
tabela_2['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = tabela_2['Valor Base Cálculo ICMS ST Retido Operação Anterior'].fillna(0)
tabela_2['Valor Complementar'] = tabela_2['Valor Complementar'].fillna(0)
tabela_2['vBCST'] = tabela_2['vBCST'].fillna(0)
tabela_2['ALIQUOTA'] = tabela_2['ALIQUOTA'].fillna(0)

condicao_entrada = (tabela_2['FONTE'] == 'entrada') & (~tabela_2['CHV_DOC'].str.slice(6, 20).isin(cnpjs))

condicao_base_icms = tabela_2['Valor Base Cálculo ICMS ST Retido Operação Anterior'] <= tabela_2['vBCST']
condicao_zero_valores = (
    (tabela_2['Valor Complementar'] == 0) &
    (tabela_2['Valor Base Cálculo ICMS ST Retido Operação Anterior'] == 0) &
    (tabela_2['Valor ICMS Operação'] == 0) &
    (tabela_2['Valor ICMS Substituição Tributária'] == 0)
)

# Ajustando a lógica para garantir que a soma dos valores ICMS retido e substituto aconteça quando os outros valores forem 0
tabela_2['ICMS_TOT'] = np.where(
    condicao_entrada,
    np.where(
        condicao_base_icms,
        np.where(
            condicao_zero_valores,
            tabela_2['Valor ICMS ST Retido'] + tabela_2['Valor ICMS Substituto'],  # Garantir que essa soma seja feita
            np.maximum(
                tabela_2['Valor ICMS Operação'] + tabela_2['Valor ICMS Substituição Tributária'],
                (tabela_2['Valor Base Cálculo ICMS ST Retido Operação Anterior'] + tabela_2['Valor Complementar']) * tabela_2['ALIQUOTA'].astype(float) / 100
            )
        ),
        np.where(
            tabela_2['vBCST'] != 0,
            np.maximum(
                tabela_2['Valor ICMS Operação'] + tabela_2['Valor ICMS Substituição Tributária'],
                (tabela_2['vBCST'] + tabela_2['Valor Complementar']) * tabela_2['ALIQUOTA'].astype(float) / 100
            ),
            tabela_2['Valor ICMS ST Retido'] + tabela_2['Valor ICMS Substituto']  # Garantir que a soma de ICMS ST Retido e Substituto aconteça aqui também
        )
    ),
    np.nan  # Valor a ser atribuído quando a condição principal não for atendida
)

tabela_2['ICMS_TOT'] = np.where(tabela_2['CFOP'].isin([1102, 2102]), np.nan, tabela_2['ICMS_TOT'])

tabela_2['Valor ICMS Operação'] = np.where(tabela_2['Valor ICMS Operação'] == 0,
                                           tabela_2['Valor ICMS Substituto'],
                                           tabela_2['Valor ICMS Operação'])

tabela_2 = tabela_2[tabela_2['Entr_PCAT'] == 1]

query = 'select * from cfop'
df_2 = pd.read_sql_query(query, connection)

tabela_2['CFOP'] = tabela_2['CFOP'].astype(int)
df_2['cfop'] = df_2['cfop'].astype(int)

tabela_2 = tabela_2.merge(df_2, left_on='CFOP', right_on='cfop')
tabela_2['DATA'] = pd.to_datetime(tabela_2['DATA'], format='%Y-%m-%d')
# df_new = df_new.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER'])
tabela_2['ALIQUOTA'] = tabela_2['ALIQUOTA'].astype(str).replace('nan', np.nan)

# Preenchimento da coluna VL_CONFR
tabela_2['CFOP'] = tabela_2['CFOP'].astype(int)
tabela_2['IND_OPER'] = tabela_2['IND_OPER'].astype(int)
tabela_2['sinal'] = tabela_2['sinal'].astype(int)

mask = (tabela_2['IND_OPER'] == 1) & (tabela_2['sinal'] == 1) & \
       (~tabela_2['CFOP'].isin([5409, 5927])) 
# Calculate the values using NumPy operations
values = np.where(mask, tabela_2['VALOR'] * (tabela_2['ALIQUOTA'].fillna(0).astype(float) / 100), np.nan)

# Assign the calculated values to the 'vl_confr' column
        
tabela_2['VL_CONFR'] = values

tabela_2['SUB_TIPO'] = tabela_2['sinal']
tabela_2['VL_CONFR_0'] = tabela_2['VL_CONFR']

tabela_2['ALIQUOTA'] = tabela_2['ALIQUOTA'].astype(str).replace('nan', np.nan)

# Preenchimento da coluna COD_LEGAL
tabela_2['CFOP'] = tabela_2['CFOP'].astype(int)
tabela_2['IND_OPER'] = tabela_2['IND_OPER'].astype(int)
tabela_2['SUB_TIPO'] = tabela_2['SUB_TIPO'].astype(int)

Arquivo 'Cat42/Ladakh/Tabela 1/tabela_1_ladakh.csv' lido com sucesso!

C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\140159998.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  efd = pd.read_sql_query(query, connection)
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\140159998.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  efd_mod59 = pd.read_sql_query(query, connection)
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\140159998.py:133: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  produtos = pd.read_sql_query(query, connection)
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\140159998.py:162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Tipo'] = 'entrada'
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\140159998.py:167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['Tipo'] = 'saida'
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\140159998.py:205: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = df['Valor Base Cálculo ICMS ST Retido Operação Anterior'].fillna(0)
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\140159998.py:419: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_2 = pd.read_sql_query(query, connection)

In [146]:
conditions = [
    tabela_2['CFOP'] == 5927,
    tabela_2['CFOP'].isin([6102, 6404, 6108, 6117, 6152, 6409]),
    tabela_2['CFOP'] == 5409,
    (tabela_2['IND_OPER'] == 0) & (tabela_2['SUB_TIPO'] == 1),
    (tabela_2['IND_OPER'] == 1) & (tabela_2['SUB_TIPO'] == -1),
    tabela_2['ALIQUOTA'].isnull()
]

conditions = [
    (tabela_2['IND_OPER'] == 0) & (tabela_2['SUB_TIPO'] == 1),
    (tabela_2['IND_OPER'] == 1) & (tabela_2['SUB_TIPO'] == -1),
    tabela_2['ALIQUOTA'].isnull(),
    tabela_2['CFOP'] == 5927,
    tabela_2['CFOP'].isin([6102, 6404, 6108, 6117, 6152, 6409]),
    tabela_2['CFOP'] == 5409
]

choices = [np.nan, np.nan, 0, 2, 4, 0]

# If none of the conditions are met, the default choice is 1
default_choice = 1

# Use numpy.select to set values for 'COD_LEGAL'
tabela_2['COD_LEGAL'] = np.select(conditions, choices, default=default_choice)

In [149]:
tabela_2[tabela_2['CFOP'].astype(float).isin([1411])]

,CHV_DOC,DATA,NUM_ITEM,CFOP,COD_ITEM,QTD_NOTA,QTD_CAT,QTD_EFD,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST,Entr_PCAT,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,vBCST,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor ICMS ST Retido,Valor ICMS Substituto,CST,FONTE,ICMS_TOT,cfop,valido_para_ressarcimento,sinal,VL_CONFR,SUB_TIPO,VL_CONFR_0,COD_LEGAL
227,35220142750994000103550010000000091900080107,2022-01-30,1.0,1411,3360,7,7,7,PRIMER FACIAL YES! MAKE.UP 15G - PRIMER FACIAL...,None,UN,33042090,25,2001100,1,42750994000103,07318052000150,0,83.79,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,entrada,0.0,1411,S,-1,NaN,-1,NaN,1.0
228,35220142750994000103550010000000091900080107,2022-01-30,2.0,1411,171003,18,18,18,MASCARA P/CILIOS CURVADOR YES! MAKE.UP PRETA,None,UN,33042010,25,2001000,1,42750994000103,07318052000150,0,215.46,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,entrada,0.0,1411,S,-1,NaN,-1,NaN,1.0
229,35220142750994000103550010000000091900080107,2022-01-30,3.0,1411,171002,15,15,15,MASCARA P/CILIOS DEFINIDOR YES! MAKE.UP PRETA,None,UN,33042010,25,2001000,1,42750994000103,07318052000150,0,179.55,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,entrada,0.0,1411,S,-1,NaN,-1,NaN,1.0
230,35220142750994000103550010000000091900080107,2022-01-30,4.0,1411,171000,23,23,23,MASCARA P/CILIOS EXTRAVOLUME YES! MAKE.UP PRETA,None,UN,33042010,25,2001000,1,42750994000103,07318052000150,0,275.31,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,entrada,0.0,1411,S,-1,NaN,-1,NaN,1.0
231,35220142750994000103550010000000091900080107,2022-01-30,5.0,1411,3612,11,1100,1100,LAPIS DELINEADOR DE OLHOS NUDE 1.4G,None,UN,33041000,25,2001000,1,42750994000103,07318052000150,0,65.67,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,entrada,0.0,1411,S,-1,NaN,-1,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,35220142750994000103550010000000091900080107,2022-01-30,133.0,1411,351003,11,11,11,PINCEL PARA SOMBRA YES!MAKE.UP,None,UN,96033000,12,2005800,1,42750994000103,07318052000150,0,105.27,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,entrada,0.0,1411,S,-1,NaN,-1,NaN,1.0
359,35220142750994000103550010000000091900080107,2022-01-30,134.0,1411,351002,1,1,1,PINCEL PARA BASE YES!MAKE.UP,None,UN,96033000,12,2005800,1,42750994000103,07318052000150,0,16.00,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,entrada,0.0,1411,S,-1,NaN,-1,NaN,1.0
360,35220142750994000103550010000000091900080107,2022-01-30,135.0,1411,351004,25,25,25,PINCEL ESFUMADOR YES!MAKE.UP,None,UN,96033000,12,2005800,1,42750994000103,07318052000150,0,400.00,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,entrada,0.0,1411,S,-1,NaN,-1,NaN,1.0
524,35220342354636000181550010000000201326010538,2022-04-08,49.0,1411,946023,23,23,23,YES!TOUCH SABONETE EM BARRA ACAI ( 2 UNIDADES ),None,un,34011190,18,2003400,1,42354636000181,07318052000150,0,130.41,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,entrada,0.0,1411,S,-1,NaN,-1,NaN,1.0
661,35220342354636000181550010000000201326010538,2022-04-08,186.0,1411,3342,19,19,19,CORRETIVO SKIN BALANCE MEDIO 5G - CORRETIVO SK...,None,UN,33042090,25,2001100,1,42354636000181,07318052000150,0,141.93,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,entrada,0.0,1411,S,-1,NaN,-1,NaN,1.0

In [142]:
tabela_2 = ler_arquivo_para_dataframe(bucket_name, f'Cat42/{nome_empresa.title()}/Tabela 2/tabela_2_{nome_empresa.title()}_{cnpj}.xlsx', file_type='xlsx')
tabela_2['COD_ITEM'] = tabela_2['COD_ITEM'].astype(str)
# tabela_2 = tabela_2[tabela_2['COD_ITEM'] == '109001']
# tabela_2 = tabela_2.drop('Unnamed: 0', axis=1)
tabela_2 = tabela_2[tabela_2.groupby('COD_ITEM')['IND_OPER'].transform(lambda x: not (x.nunique() == 1 and x.iloc[0] == 0))]
tabela_2 = tabela_2.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                            ascending=[True, True, True, True]).reset_index().drop('index', axis=1)


tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(float)

ficha_3 = tabela_2[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'QTD_CAT', 'Valor ICMS Operação',
                        'CST', 'ALIQUOTA', 'FONTE']]

query = 'SELECT * FROM produtos'
produtos = pd.read_sql_query(query, connection)

# Ordenação da tabela de acordo com os critérios definidos
ficha_3['DATA'] = pd.to_datetime(ficha_3['DATA'], format='%Y-%m-%d')
ficha_3 = ficha_3.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                            ascending=[True, True, True, True])

ficha_3['ICMS_TOT'] = tabela_2['ICMS_TOT'].astype(float)
ficha_3['VALOR'] = tabela_2['VALOR']

ficha_3 = ficha_3.merge(produtos[['codigo_produto', 'mva_antes']], 
                    left_on='COD_ITEM',
                    right_on='codigo_produto',
                    how='left')
ficha_3 = ficha_3.drop('codigo_produto', axis=1).rename(columns={'mva_antes': 'MVA'})

ficha_3['VALOR'] = ficha_3['VALOR'].astype(str).replace('-', np.nan).astype(float)
ficha_3['ALIQUOTA'] = ficha_3['ALIQUOTA'].astype(str).replace('-', np.nan).astype(float)
ficha_3['MVA'] = ficha_3['MVA'].astype(str).replace('-', np.nan).replace('None', np.nan).astype(float)

cond_1 = ((ficha_3['CST'].astype(float) == 60) & ((ficha_3['ICMS_TOT'] == 0) | (ficha_3['ICMS_TOT'].isnull())))
cond_2 = ((ficha_3['CFOP'].isin([1403, 1409, 1411, 1949, 2403, 2411])) & ((ficha_3['ICMS_TOT'] == 0) | (ficha_3['ICMS_TOT'].isnull())))

ficha_3['ICMS_TOT'] = np.where(cond_1 | cond_2 , 
                            ficha_3['VALOR'] * (ficha_3['ALIQUOTA'] / 100) * ficha_3['MVA'] * 0.8,
                            ficha_3['ICMS_TOT'])

ficha_3['ICMS_TOT'] = np.where((ficha_3['CFOP'].astype(float).isin([1102, 1202, 2102])) | (ficha_3['IND_OPER'] == 1),
                                np.nan,
                                ficha_3['ICMS_TOT'])

cond_1 = ((ficha_3['CST'].astype(float) == 60) & ((ficha_3['Valor ICMS Operação'] == 0) | (ficha_3['Valor ICMS Operação'].isnull())))
cond_2 = ((ficha_3['CFOP'].isin([1403, 1409, 1411, 1949, 2403, 2411])) & ((ficha_3['Valor ICMS Operação'] == 0) | (ficha_3['Valor ICMS Operação'].isnull())))

ficha_3['Valor ICMS Operação'] = np.where(cond_1 | cond_2,
                                        (ficha_3['ALIQUOTA'].astype(float)/ 100) * ficha_3['VALOR'].astype(float),
                                        ficha_3['Valor ICMS Operação'])

ficha_3['Valor ICMS Operação'] = np.where((ficha_3['CFOP'].astype(float).isin([1102, 2102])) | ((ficha_3['CFOP'].astype(float).isin([1202, 2202])) & (ficha_3['CST'] != 60)),
                                np.nan,
                                ficha_3['Valor ICMS Operação'])

data = ficha_3[['COD_ITEM', 'DATA', 'QTD_CAT', 'IND_OPER']]

# Transformação da coluna 'DATA' para o tipo correto
data['DATA'] = pd.to_datetime(data['DATA'], format='%Y-%m-%d')

# Ordenação do dataset para cálculo correto do ICMS inicial

data['IND_OPER'] = data['IND_OPER'].astype(int)
data = data.sort_values(by=['COD_ITEM','DATA', 'IND_OPER'], ascending=[True, True, True])

# Cáculo dos saldos das operações para definição da Quantidade Inicial
data['OPER'] = np.where(data['IND_OPER'] == 0, data['QTD_CAT'], -data['QTD_CAT'])
data['SALDO'] = data.groupby('COD_ITEM')['OPER'].cumsum()

# Criação da coluna para as informações da Quantidade Inicial

min_saldo = data.groupby('COD_ITEM')['SALDO'].transform('min')

# Set 'QTD_INI' to the minimum 'SALDO' value if it's less than or equal to 0,
# otherwise set it to 0
data['QTD_INI'] = np.where(min_saldo <= 0, min_saldo.abs(), 0)

# Get the first rows within each group
first_rows = data.groupby('COD_ITEM').head(1)

# Set 'QTD_INI' to NaN for all rows except the last rows within each group
data['QTD_INI'] = np.where(data.index.isin(first_rows.index), data['QTD_INI'], np.nan)

# Update 'QTD_INI' with calculated values for the last rows
data.loc[first_rows.index, 'QTD_INI'] = first_rows['QTD_INI']

# Cálculo do ICMS inicial 

data['SUB_TIPO'] = tabela_2['SUB_TIPO']
data['ICMS_TOT_0'] = ficha_3['ICMS_TOT']
data['CST'] = ficha_3['CST']
data['Valor ICMS Operação'] = ficha_3['Valor ICMS Operação']
data['VALOR_UNIT'] = np.where((data['SUB_TIPO'] == 1) & (data['IND_OPER'] == 0),
                                data['ICMS_TOT_0'].fillna(0) / data['QTD_CAT'],
                                np.nan)
data['VALOR_OP_UNIT'] = np.where((data['SUB_TIPO'] == 1) & (data['IND_OPER'] == 0),
                                data['Valor ICMS Operação'].fillna(0) / data['QTD_CAT'],
                                np.nan)

grouped_data = data.groupby('COD_ITEM').agg({
    'VALOR_UNIT': 'mean',
    'VALOR_OP_UNIT': 'mean',
    'QTD_INI': 'first'
})

# Cálculo vetorizado para icms_init
grouped_data['ICMS_INI'] = grouped_data['VALOR_UNIT'] * (1 - 0.3 * np.random.random(size=len(grouped_data))) * grouped_data['QTD_INI']
grouped_data['ICMS_OP_INI'] = grouped_data['VALOR_OP_UNIT'] * (1 - 0.3 * np.random.random(size=len(grouped_data))) * grouped_data['QTD_INI']
data = data.merge(grouped_data[['ICMS_INI', 'ICMS_OP_INI']], how='left', left_on='COD_ITEM', right_index=True)

mask = data.duplicated(subset='COD_ITEM', keep='first')

# Definindo como nulo valores de 'ICMS_INI' onde a máscara é True, indicando que não é a primeira linha para 'COD_ITEM'
data['ICMS_INI'] = np.where(mask, np.nan, data['ICMS_INI'])
data['ICMS_OP_INI'] = np.where(mask, np.nan, data['ICMS_OP_INI'])

produtos_somente_saida = tabela_2.groupby('COD_ITEM')['IND_OPER'].all()
produtos_somente_saida = produtos_somente_saida[produtos_somente_saida == True].index
prods_icms_0 = data[(data['QTD_INI'] != 0) & (((data['ICMS_INI'] == 0) | (data['ICMS_INI'].isnull())) | ((data['ICMS_OP_INI'] == 0) | (data['ICMS_OP_INI'].isnull())))]
for produto in list(produtos_somente_saida) + list(prods_icms_0['COD_ITEM'].unique()) + list(prods_icms_0['COD_ITEM'].unique()):
# for produto in data['COD_ITEM'].unique():
# Executa a consulta para obter os valores mva_antes e mva_depois
    query = f"SELECT mva_antes, mva_depois FROM produtos WHERE codigo_produto = '{produto}'"
    try:
        mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
    except:
        mva = 0
    # print('MVA: ', mva)
    # Calcula o lucro e a quantidade total
    lucro = sum(tabela_2[(tabela_2['COD_ITEM'] == produto) & (tabela_2['IND_OPER'] == 1)]['VALOR'])
    tot_qtde = sum(tabela_2[(tabela_2['COD_ITEM'] == produto) & (tabela_2['IND_OPER'] == 1)]['QTD_CAT'])
    aliquota = tabela_2[tabela_2['COD_ITEM'] == produto]['ALIQUOTA'].values[0] / 100

    
    try:
        # Calcula o valor unitário, base ST estimada e ICMS
        valor_unit = (lucro * 0.8) / tot_qtde
        # print('Valor unitario: ', valor_unit)
        base_st_estimada = valor_unit + (valor_unit * mva)
        # print('Base estimada: ', base_st_estimada)
        icms_op_unit = valor_unit * aliquota
        icms_suport_unit = base_st_estimada * aliquota
        # print('Icms suportado unitario: ', icms_suport_unit)
        icms_inicial = icms_suport_unit * tot_qtde
        # print('ICMS Inicial: ', icms_inicial)

    except:
        icms_inicial = 0
        icms_op_unit = 0
        

    # Verifica se o produto está presente no DataFrame 'data'
    produto_idx = data[data['COD_ITEM'] == produto].index

    if not produto_idx.empty:
        # Garante que a coluna 'ICMS_INI' seja do tipo float
        data['ICMS_INI'] = data['ICMS_INI'].astype(float)
        data['ICMS_OP_INI'] = data['ICMS_OP_INI'].astype(float)

        # Atualiza o valor na primeira linha correspondente ao COD_ITEM
        data.loc[produto_idx[0], 'ICMS_INI'] = icms_inicial
        data.loc[produto_idx[0], 'ICMS_OP_INI'] = icms_op_unit * data.loc[produto_idx[0], 'QTD_INI']

# Definição das colunas para cálculo de ressarcimento de acordo com as regras
ficha_3['QTD_INI'] = data['QTD_INI'].astype(float)
ficha_3['ICMS_INI'] = data['ICMS_INI'].astype(float)
ficha_3['ICMS_OP_INI'] = data['ICMS_OP_INI'].astype(float)
ficha_3['ICMS_INI'] = np.where((ficha_3['QTD_INI'] == 0) | (ficha_3['ICMS_INI'].isnull() & ficha_3['QTD_INI'].notnull()),
                                0,
                                ficha_3['ICMS_INI'])

ficha_3 = ficha_3[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER', 
                    'SUB_TIPO', 'QTD_CAT', 'Valor ICMS Operação','CST', 'QTD_INI','ICMS_INI', 'ICMS_OP_INI',
                    'ALIQUOTA', 'FONTE', 'ICMS_TOT', 'VALOR']]

# Inicializa as colunas
ficha_3['valor_op_fixo'] = 0
ficha_3['qtd_fixa'] = 0

# Processamento dos valores fixos acumulados
for cod in ficha_3['COD_ITEM'].unique():
    subset = ficha_3[ficha_3['COD_ITEM'] == cod].copy()

    acum_val = 0
    acum_qtd = 0

    for i, row in subset.iterrows():
        if row['IND_OPER'] == 0:
            ficha_3.loc[i, 'valor_op_fixo'] = acum_val
            ficha_3.loc[i, 'qtd_fixa'] = acum_qtd

            acum_val += row['Valor ICMS Operação']
            acum_qtd += row['QTD_CAT']

# Cálculo do valor médio
valor_medio = []

for cod in ficha_3['COD_ITEM'].unique():
    subset = ficha_3[ficha_3['COD_ITEM'] == cod].copy().reset_index()

    for i, row in subset.iterrows():
        if i == 0:  # Primeira linha
            if row['IND_OPER'] == 0:
                # Calcular com valores acumulados
                if pd.isna(row['Valor ICMS Operação']):
                    num = row['valor_op_fixo'] + 0 + row['ICMS_OP_INI']
                else:
                    num = row['valor_op_fixo'] + row['Valor ICMS Operação'] + row['ICMS_OP_INI']
                den = row['qtd_fixa'] + row['QTD_CAT'] + row['QTD_INI']
                valor_medio.append(num / den)
            elif row['IND_OPER'] == 1:
                # Calcular com ICMS_OP_INI e QTD_INI
                num = row['ICMS_OP_INI']
                den = row['QTD_INI']
                valor_medio.append(num / den)
        else:  # Demais linhas
            if row['IND_OPER'] == 0:
                # Calcular com valores acumulados
                if pd.isna(row['Valor ICMS Operação']):
                    num = row['valor_op_fixo'] + 0 + row['ICMS_OP_INI']
                else:
                    num = row['valor_op_fixo'] + row['Valor ICMS Operação'] + row['ICMS_OP_INI']
                den = row['qtd_fixa'] + row['QTD_CAT'] + subset.iloc[0]['QTD_INI']
                valor_medio.append(num / den)
            elif row['IND_OPER'] == 1:
                # Para IND_OPER == 1, deixamos como NaN
                valor_medio.append(np.nan)

# Adiciona a coluna 'valor_medio' ao DataFrame e preenche valores ausentes
ficha_3['valor_medio'] = valor_medio
ficha_3['valor_medio'] = ficha_3['valor_medio'].ffill()  # Preenche valores ausentes com o valor anterior

# # Cálculos finais
# ficha_3['COD_LEGAL'] = tabela_2['COD_LEGAL'].astype(float)
# ficha_3['ICMS_EFETIVO_ENTRADA'] = ficha_3['valor_medio'] * ficha_3['QTD_CAT']
# ficha_3['ICMS_EFETIVO_ENTRADA'] = np.where(ficha_3['COD_LEGAL'] > 1,
#                                         ficha_3['ICMS_EFETIVO_ENTRADA'],
#                                         np.nan)

ficha_3

Arquivo 'Cat42/Ladakh/Tabela 2/tabela_2_Ladakh_07318052000150.xlsx' lido com sucesso!

C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  produtos = pd.read_sql_query(query, connection)
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ficha_3['DATA'] = pd.to_datetime(ficha_3['DATA'], format='%Y-%m-%d')
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['DATA'] = pd.to_datetime(data['DATA'], format='%Y-%m-%d')
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['IND_OPER'] = data['IND_OPER'].astype(int)
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\1059983497.py:127: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,Valor ICMS Operação,CST,QTD_INI,ICMS_INI,ICMS_OP_INI,ALIQUOTA,FONTE,ICMS_TOT,VALOR,valor_op_fixo,qtd_fixa,valor_medio
0,35220525127819000145550010000124471896018746,2022-05-12,1403,1,101000,0,1,3520.0,1672.000,60.0,0.0,0.000000,0.0000,25.0,entrada,790.78912,6688.00,0.0,0.0,0.475000
1,35220525127819000145550010000124491081658752,2022-05-12,1403,1,101000,0,1,480.0,228.000,60.0,NaN,NaN,NaN,25.0,entrada,107.83488,912.00,1672.0,3520.0,0.475000
2,35220507318052000150550200000265141612844537,2022-05-19,5405,67,101000,1,1,10.0,11.175,60.0,NaN,NaN,NaN,25.0,saida,NaN,44.70,0.0,0.0,0.475000
3,35220507318052000150550200000265231656767618,2022-05-19,6404,54,101000,1,1,10.0,2.890,10.0,NaN,NaN,NaN,25.0,saida,NaN,41.27,0.0,0.0,0.475000
4,35220507318052000150550200000265251684511457,2022-05-19,6404,30,101000,1,1,10.0,2.890,10.0,NaN,NaN,NaN,25.0,saida,NaN,41.27,0.0,0.0,0.475000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54301,35221107318052000150550200000293251783803341,2022-11-22,6152,3,9902,1,1,1.0,2.820,0.0,NaN,NaN,NaN,18.0,saida,NaN,23.51,0.0,0.0,3.578914
54302,51220845880032000167550010000000321010719730,2022-11-28,2202,24,9902,0,-1,1.0,NaN,NaN,NaN,NaN,NaN,18.0,entrada,1.75000,25.00,0.0,0.0,3.578914
54303,35221107318052000150550200000294081624866505,2022-11-29,6102,1,9902,1,1,1.0,2.370,0.0,NaN,NaN,NaN,18.0,saida,NaN,33.90,0.0,0.0,3.578914
54304,35221107318052000150550200000294411205176210,2022-11-30,5102,1,9902,1,1,1.0,6.410,0.0,NaN,NaN,NaN,18.0,saida,NaN,35.60,0.0,0.0,3.578914
54305,35220307318052000150550200000259331736746508,2022-03-28,5949,70,99242,1,1,4.0,0.000,0.0,4.0,3.833931,2.2464,18.0,saida,NaN,15.60,0.0,0.0,0.561600

In [143]:
# Cálculos finais
ficha_3['COD_LEGAL'] = tabela_2['COD_LEGAL'].astype(float)
# ficha_3['ICMS_EFETIVO_ENTRADA'] = ficha_3['valor_medio'] * ficha_3['QTD_CAT']
# ficha_3['ICMS_EFETIVO_ENTRADA'] = np.where(ficha_3['COD_LEGAL'] > 1,
#                                         ficha_3['ICMS_EFETIVO_ENTRADA'],
#                                         np.nan)

In [115]:

ficha_3['IND_OPER'] = ficha_3['IND_OPER'].astype(int)
ficha_3['SUB_TIPO'] = ficha_3['SUB_TIPO'].astype(int)

mask_condition1 = (ficha_3['IND_OPER'] == 0) & (ficha_3['SUB_TIPO'] == 1)
mask_condition2 = (ficha_3['IND_OPER'] != 0) & (ficha_3['SUB_TIPO'] == -1)

qtd_ent1_devolv_ent = list(np.where(mask_condition1, ficha_3['QTD_CAT'], 0) + np.where(mask_condition2, -ficha_3['QTD_CAT'], 0))
ficha_3['QTD_ent1_devolv_ent'] = qtd_ent1_devolv_ent

mask = ficha_3['QTD_ent1_devolv_ent'] > 0

ficha_3['ICMS_TOT_ent_unit'] = np.where(mask, ficha_3['ICMS_TOT'].fillna(0) / ficha_3['QTD_ent1_devolv_ent'], 0)

ficha_3['ULT_ICMS_TOT_ent_unit'] = np.nan

values = np.where(
    (ficha_3['QTD_INI'] != 0) & 
    (ficha_3['COD_ITEM'] == ficha_3['COD_ITEM'].shift()) & 
    (ficha_3['QTD_ent1_devolv_ent'].shift() > 0),
    ficha_3['ICMS_TOT_ent_unit'].shift(),
    np.where(
        (ficha_3['QTD_INI'] == 0),
        0.01,
        ficha_3['ICMS_INI'] / ficha_3['QTD_INI']
    )
)


ficha_3['ULT_ICMS_TOT_ent_unit'] = values

ficha_3['ULT_ICMS_TOT_ent_unit'] = ficha_3['ULT_ICMS_TOT_ent_unit'].ffill()

mask_condition1 = (ficha_3['IND_OPER'] == 1) & (ficha_3['SUB_TIPO'] == 1)
mask_condition2 = (ficha_3['IND_OPER'] != 1) & (ficha_3['SUB_TIPO'] == -1)

qtd_saida_1_devolv_saida_t = np.where(mask_condition1, ficha_3['QTD_CAT'], 0) + np.where(mask_condition2, -ficha_3['QTD_CAT'], 0)

ficha_3['qtd_saida_1_devolv_saida'] = qtd_saida_1_devolv_saida_t

ficha_3['QTD_SALDO'] = ficha_3.groupby('COD_ITEM').apply(lambda x: (
x['QTD_INI'].iloc[0] + (x['QTD_ent1_devolv_ent'] - x['qtd_saida_1_devolv_saida']).cumsum())).reset_index(level=0, drop=True)

ficha_3['QTD_SALDO'] = np.where((ficha_3['QTD_SALDO'] < 0.01) & (ficha_3['QTD_SALDO'] > -0.01),
                                        0,
                                        ficha_3['QTD_SALDO'])      

ficha_3['DATA'] = ficha_3['DATA'].astype(str)
ficha_3['REF'] = ficha_3['DATA']
ficha_3['REF'] = [datetime.strptime(x, '%Y-%m-%d').strftime('%m-%Y') for x in ficha_3['REF']]

C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\2177300746.py:40: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ficha_3['QTD_SALDO'] = ficha_3.groupby('COD_ITEM').apply(lambda x: (

In [144]:
ficha_3[ficha_3['CFOP'] == 5405]

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,Valor ICMS Operação,CST,QTD_INI,ICMS_INI,ICMS_OP_INI,ALIQUOTA,FONTE,ICMS_TOT,VALOR,valor_op_fixo,qtd_fixa,valor_medio,COD_LEGAL
2,35220507318052000150550200000265141612844537,2022-05-19,5405,67,101000,1,1,10.0,11.175,60.0,NaN,NaN,NaN,25.0,saida,NaN,44.7,0.0,0.0,0.475000,1.0
5,35220507318052000150550200000265301762063518,2022-05-19,5405,37,101000,1,1,10.0,11.175,60.0,NaN,NaN,NaN,25.0,saida,NaN,44.7,0.0,0.0,0.475000,1.0
7,35220507318052000150550200000265441845221183,2022-05-19,5405,37,101000,1,1,10.0,11.175,60.0,NaN,NaN,NaN,25.0,saida,NaN,44.7,0.0,0.0,0.475000,1.0
10,35220507318052000150550200000265691176281079,2022-05-19,5405,42,101000,1,1,10.0,11.175,60.0,NaN,NaN,NaN,25.0,saida,NaN,44.7,0.0,0.0,0.475000,1.0
17,35220507318052000150550200000266131841722616,2022-05-19,5405,37,101000,1,1,10.0,11.175,60.0,NaN,NaN,NaN,25.0,saida,NaN,44.7,0.0,0.0,0.475000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54214,35221107318052000150550200000291471407664051,2022-11-11,5405,27,9826,1,1,1.0,4.320,60.0,NaN,NaN,NaN,18.0,saida,NaN,24.0,0.0,0.0,2.934332,1.0
54215,35221107318052000150550200000291851765255645,2022-11-14,5405,24,9826,1,1,1.0,2.808,60.0,NaN,NaN,NaN,18.0,saida,NaN,15.6,0.0,0.0,2.934332,1.0
54218,35221107318052000150550200000294511518246818,2022-11-30,5405,30,9826,1,1,1.0,2.808,60.0,NaN,NaN,NaN,18.0,saida,NaN,15.6,0.0,0.0,2.934332,1.0
54219,35221207318052000150550200000295891841570024,2022-12-08,5405,31,9826,1,1,1.0,4.320,60.0,NaN,NaN,NaN,18.0,saida,NaN,24.0,0.0,0.0,2.934332,1.0
54220,35221207318052000150550200000296171636568133,2022-12-12,5405,31,9826,1,1,1.0,4.320,60.0,NaN,NaN,NaN,18.0,saida,NaN,24.0,0.0,0.0,2.934332,1.0

In [139]:
tabela_2 = ler_arquivo_para_dataframe(bucket_name, f'Cat42/{nome_empresa.title()}/Tabela 2/tabela_2_{nome_empresa.title()}_{cnpj}.xlsx', file_type='xlsx')
tabela_2['COD_ITEM'] = tabela_2['COD_ITEM'].astype(str)

Arquivo 'Cat42/Ladakh/Tabela 2/tabela_2_Ladakh_07318052000150.xlsx' lido com sucesso!

In [140]:
tabela_2 = tabela_2[tabela_2.groupby('COD_ITEM')['IND_OPER'].transform(lambda x: not (x.nunique() == 1 and x.iloc[0] == 0))]
tabela_2 = tabela_2.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                                ascending=[True, True, True, True]).reset_index().drop('index', axis=1)

In [141]:
tabela_2

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_EFD,ICMS_TOT,VL_CONFR_0,COD_LEGAL,ALIQUOTA,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,Valor ICMS ST Retido,Valor ICMS Substituto,CST,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Valor Base Cálculo ICMS Substituição Tributária,vBCST,FONTE,COMBINACAO_CHV_NUM,CHAVE_ITEM
0,35220525127819000145550010000124471896018746,2022-05-12,1403,1,101000,0,1,3520.0,3520.0,0.00,NaN,NaN,25,6688.00,0,0,0.0,0.00,0.0,0.0,60.0,ILUMINADOR COMPACTO YES MAKE.UP LILY REFIL,NaN,PC,33049100,2001300,25127819000145,7.318052e+12,NaN,0,entrada,35220525127819000145550010000124471896018746-1.0,35220525127819000145550010000124471896018746-1.0
1,35220525127819000145550010000124491081658752,2022-05-12,1403,1,101000,0,1,480.0,480.0,0.00,NaN,NaN,25,912.00,0,0,0.0,0.00,0.0,0.0,60.0,ILUMINADOR COMPACTO YES MAKE.UP LILY REFIL,NaN,PC,33049100,2001300,25127819000145,7.318052e+12,NaN,0,entrada,35220525127819000145550010000124491081658752-1.0,35220525127819000145550010000124491081658752-1.0
2,35220507318052000150550200000265141612844537,2022-05-19,5405,67,101000,1,1,10.0,NaN,NaN,11.1750,1.0,25,44.70,0,0,0.0,0.00,0.0,0.0,60.0,ILUMINADOR COMPACTO YES MAKE.UP LILY REFIL,7899150524251,UN,33049100,2001300,7318052000150,4.617916e+13,NaN,0,saida,35220507318052000150550200000265141612844537-67.0,35220507318052000150550200000265141612844537-67.0
3,35220507318052000150550200000265231656767618,2022-05-19,6404,54,101000,1,1,10.0,NaN,NaN,10.3175,4.0,25,41.27,0,0,0.0,2.89,0.0,0.0,10.0,ILUMINADOR COMPACTO YES MAKE.UP LILY REFIL,7899150524251,UN,33049100,2001300,7318052000150,4.614822e+13,0.0,0,saida,35220507318052000150550200000265231656767618-54.0,35220507318052000150550200000265231656767618-54.0
4,35220507318052000150550200000265251684511457,2022-05-19,6404,30,101000,1,1,10.0,NaN,NaN,10.3175,4.0,25,41.27,0,0,0.0,2.89,0.0,0.0,10.0,ILUMINADOR COMPACTO YES MAKE.UP LILY REFIL,7899150524251,UN,33049100,2001300,7318052000150,4.383620e+13,0.0,0,saida,35220507318052000150550200000265251684511457-30.0,35220507318052000150550200000265251684511457-30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54301,35221107318052000150550200000293251783803341,2022-11-22,6152,3,9902,1,1,1.0,NaN,NaN,4.2318,4.0,18,23.51,0,0,0.0,2.82,0.0,0.0,0.0,"VALE MAKE UP 8.5x5.4,4x4, COUCHE 250G - PCT/500",SEM GTIN,UN,48192000,1901900,7318052000150,7.318052e+12,NaN,0,saida,35221107318052000150550200000293251783803341-3.0,35221107318052000150550200000293251783803341-3.0
54302,51220845880032000167550010000000321010719730,2022-11-28,2202,24,9902,0,-1,1.0,1.0,1.75,NaN,1.0,18,25.00,0,0,0.0,1.75,0.0,0.0,NaN,"VALE MAKE UP 8.5x5.4,4x4, COUCHE 250G - PCT/500",NaN,UN,48192000,1901900,45880032000167,7.318052e+12,NaN,0,entrada,51220845880032000167550010000000321010719730-24.0,51220845880032000167550010000000321010719730-24.0
54303,35221107318052000150550200000294081624866505,2022-11-29,6102,1,9902,1,1,1.0,NaN,NaN,6.1020,4.0,18,33.90,0,0,0.0,2.37,0.0,0.0,0.0,"VALE MAKE UP 8.5x5.4,4x4, COUCHE 250G - PCT/500",SEM GTIN,UN,48192000,1901900,7318052000150,2.877061e+13,NaN,0,saida,35221107318052000150550200000294081624866505-1.0,35221107318052000150550200000294081624866505-1.0
54304,35221107318052000150550200000294411205176210,2022-11-30,5102,1,9902,1,1,1.0,NaN,NaN,6.4080,1.0,18,35.60,0,0,0.0,6.41,0.0,0.0,0.0,"VALE MAKE UP 8.5x5.4,4x4, COUCHE 250G - PCT/500",SEM GTIN,UN,48192000,1901900,7318052000150,4.729178e+13,NaN,0,saida,35221107318052000150550200000294411205176210-1.0,35221107318052000150550200000294411205176210-1.0
54305,35220307318052000150550200000259331736746508,2022-03-28,5949,70,99242,1,1,4.0,NaN,NaN,2.8080,1.0,18,15.60,0,0,0.0,0.00,0.0,0.0,0.0,TABELA DE SIMILARES PCT 100,SEM GTIN,PT,48192000,1901900,7318052000150,7.318052e+12,NaN,0,saida,35220307318052000150550200000259331736746508-70.0,35220307318052000150550200000259331736746508-70.0