In [10]:
# Importação das bibliotecas necessárias
import pandas as pd
import numpy as np
import psycopg2
import math
from datetime import datetime
import sys
import os
import openpyxl
import boto3
from io import BytesIO

In [11]:
pd.set_option("display.max_columns", None)

In [12]:
nome_empresa = input("Digite o nome da empresa: ")

if nome_empresa.lower() == 'tateti':
    cnpj = "65369985000504"
    cnpj_produtos = "65369985000334"
    cnpjs = [cnpj]

if nome_empresa.lower() == 'ladakh':
    cnpj = "07318052000150"
    cnpj_produtos = "07318052000150"
    cnpjs = [cnpj]
    
connection = psycopg2.connect(
        user=  'cat',
        password=  '5pM2h0MBQu9JHkxHud2A',
        host=  '177.11.49.194',
        port="3361",
        database=  '4btaxtech'
    )

# Variáveis para acesso ao s3
bucket_name = '4btaxtech'

s3 = boto3.client('s3', 
                  aws_access_key_id='AKIA4RCAOBRSFONXEUTE', 
                  aws_secret_access_key='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',
                  region_name='us-east-1'
                  )

In [13]:
def ler_arquivo_para_dataframe(bucket_name, s3_key, file_type='csv'):
    """
    Lê um arquivo do S3 e carrega em um DataFrame do Pandas.
    
    :param bucket_name: Nome do bucket.
    :param s3_key: Caminho do arquivo no S3.
    :param file_type: Tipo do arquivo ('csv' ou 'xlsx').
    :return: DataFrame do Pandas.
    """
    try:
        response = s3.get_object(Bucket=bucket_name, Key=s3_key)
        if file_type == 'csv':
            df = pd.read_csv(BytesIO(response['Body'].read()), dtype=str, header=0, sep=';')
        elif file_type == 'xlsx':
            df = pd.read_excel(BytesIO(response['Body'].read()))
        else:
            raise ValueError("Tipo de arquivo não suportado. Use 'csv' ou 'xlsx'.")
        print(f"Arquivo '{s3_key}' lido com sucesso!")
        return df
    except Exception as e:
        print(f"Erro ao ler arquivo do S3: {e}")
        return None
    
def salvar_dataframe_no_s3(df, bucket_name, s3_key, file_type='csv'):
    """
    Salva um DataFrame do Pandas no S3.
    
    :param df: DataFrame a ser salvo.
    :param bucket_name: Nome do bucket.
    :param s3_key: Caminho para salvar o arquivo no S3.
    :param file_type: Tipo do arquivo ('csv' ou 'xlsx').
    """
    try:
        buffer = BytesIO()
        if file_type == 'csv':
            df.to_csv(buffer, index=False, encoding='utf-8')
        elif file_type == 'xlsx':
            with pd.ExcelWriter(buffer, engine='xlsxwriter') as writer:
                df.to_excel(writer, index=False)
        else:
            raise ValueError("Tipo de arquivo não suportado. Use 'csv' ou 'xlsx'.")
        
        buffer.seek(0)  # Resetar o ponteiro do buffer
        s3.put_object(Bucket=bucket_name, Key=s3_key, Body=buffer.getvalue())
        print(f"Arquivo salvo com sucesso em '{s3_key}'.")
    except Exception as e:
        print(f"Erro ao salvar arquivo no S3: {e}")

In [14]:
def baixar_arquivo(bucket_name, s3_key, local_file_name):
    try:
        s3.download_file(bucket_name, s3_key, local_file_name)
        print(f"Arquivo '{s3_key}' baixado como '{local_file_name}'.")
    except Exception as e:
        print(f"Erro ao baixar arquivo: {e}")

baixar_arquivo(bucket_name, s3_key=f'Cat42/{nome_empresa.title()}/Ficha 3/ficha_3_{nome_empresa.title()}_{cnpj}_v2.xlsx',
               local_file_name=f'ficha_3_{nome_empresa}_{cnpj}_v2.xlsx')

Arquivo 'Cat42/Ladakh/Ficha 3/ficha_3_Ladakh_07318052000150_v2.xlsx' baixado como 'ficha_3_ladakh_07318052000150_v2.xlsx'.

In [48]:
colunas = ['Código da Mercadoria', 'Número da Ordem', 'Data', 'Chave', 'Tipo', 'Série do documento', 'Número da nota',
            'Código do Remetente ou Destinatário', 'CFOP', 'Número do Item no Documento XML', 'Quantidade (Entrada)',
            'Valor Total do ICMS Suportado na Retenção ou Antecipação por ST', 'Quantidade (Saída)',
            'Valor Unitário do ICMS Suportado', 'Saída a Consumidor ou Usuário Final - Código Enquadramento Legal = 1',
            'Fato Gerador Não Realizado - Código Enquadramento Legal = 2', 
            'Saída ou Saída Subsequente com isenção ou Não incidência - Código Enquadramento Legal = 3',
            'Saída para Outro Estado - Código Enquadramento Legal = 4',
            'Saída para Comercialização Subsequente(Demais Saídas) - Código Enquadramento Legal = 0',
            'ICMS Efetivo na Saída a Consumidor ou Usuário Final ou no caso de Saída Subsequente com Isenção ou Não Incidência',
            'Quantidade',  'Valor Unitário do Saldo', 'Valor Total do Saldo', 'Valor do Ressarcimento', 'Valor do Complemento',
            'ICMS Efetivo da Entrada', 'ICMS - Crédito da Operação Própria (artigo 271 do RICMS)']

ficha_3_revizia = pd.DataFrame(columns=colunas)
teste = ler_arquivo_para_dataframe(bucket_name=bucket_name, s3_key=f'Cat42/{nome_empresa.title()}/Ficha 3/ficha_3_{nome_empresa.title()}_{cnpj}_v2.xlsx',
                                  file_type='xlsx')

Arquivo 'Cat42/Ladakh/Ficha 3/ficha_3_Ladakh_07318052000150_v2.xlsx' lido com sucesso!

In [49]:
teste['VLR_RESSARCIMENTO'].sum()

np.float64(6234407.149506481)

In [50]:
ficha_3_revizia['Código da Mercadoria'] = teste['COD_ITEM']
ficha_3_revizia['Número da Ordem'] = teste.groupby('COD_ITEM').cumcount() + 1
ficha_3_revizia['Data'] = teste['DATA']
ficha_3_revizia['Chave'] = teste['CHV_DOC']
ficha_3_revizia['Tipo'] = teste['IND_OPER']
ficha_3_revizia['Código do Remetente ou Destinatário'] = teste['CHV_DOC'].str.slice(6, 20)
ficha_3_revizia['CFOP'] = teste['CFOP']
ficha_3_revizia['Série do documento'] = ficha_3_revizia['Chave'].str.slice(22, 25)
ficha_3_revizia['Número da nota'] = ficha_3_revizia['Chave'].str.slice(25,34)
ficha_3_revizia['Número do Item no Documento XML'] = teste['NUM_ITEM']
ficha_3_revizia['Quantidade (Entrada)'] = np.where(teste['IND_OPER'] == 0, teste['QTD_CAT'], np.nan)
ficha_3_revizia['Valor Total do ICMS Suportado na Retenção ou Antecipação por ST'] = teste['ICMS_TOT']
ficha_3_revizia['Quantidade (Saída)'] = np.where(teste['IND_OPER'] == 1, teste['QTD_CAT'], np.nan)
ficha_3_revizia['Valor Unitário do ICMS Suportado'] = teste['ICMS_SAIDA_UNI']
ficha_3_revizia['Saída a Consumidor ou Usuário Final - Código Enquadramento Legal = 1'] = np.where(teste['COD_LEGAL'] == 1,
                                                                                                   teste['ICMS_SAIDA'],
                                                                                                   np.nan)
ficha_3_revizia['Saída para Comercialização Subsequente(Demais Saídas) - Código Enquadramento Legal = 0'] = np.where(teste['COD_LEGAL'] == 0,
                                                                                                                     teste['ICMS_SAIDA'],
                                                                                                                     np.nan)
ficha_3_revizia['Fato Gerador Não Realizado - Código Enquadramento Legal = 2'] = np.where(teste['COD_LEGAL'] == 2,
                                                                                          teste['ICMS_SAIDA'],
                                                                                          np.nan)
ficha_3_revizia['Saída ou Saída Subsequente com isenção ou Não incidência - Código Enquadramento Legal = 3'] = np.where(teste['COD_LEGAL'] == 3,
                                                                                          teste['ICMS_SAIDA'],
                                                                                          np.nan)
ficha_3_revizia['Saída para Outro Estado - Código Enquadramento Legal = 4'] = np.where(teste['COD_LEGAL'] == 4,
                                                                                          teste['ICMS_SAIDA'],
                                                                                          np.nan)
ficha_3_revizia['ICMS Efetivo na Saída a Consumidor ou Usuário Final ou no caso de Saída Subsequente com Isenção ou Não Incidência'] = teste['VLR_CONF_0']
ficha_3_revizia['Quantidade'] = teste['QTD_SALDO']
ficha_3_revizia['Valor Total do Saldo']  = teste['ICMS_TOT_SALDO']
ficha_3_revizia['Valor Unitário do Saldo'] = ficha_3_revizia['Valor Total do Saldo'] / ficha_3_revizia['Quantidade']
ficha_3_revizia['Valor do Ressarcimento'] = teste['VLR_RESSARCIMENTO']
ficha_3_revizia['Valor do Complemento'] = teste['VLR_COMPLEMENTO']
ficha_3_revizia['ICMS Efetivo da Entrada'] = np.where(teste['COD_LEGAL'].isin([2, 3, 4]), 
                                                      teste['ICMS_EFETIVO_ENTRADA'],
                                                      np.nan)
ficha_3_revizia['ICMS - Crédito da Operação Própria (artigo 271 do RICMS)'] = np.where(teste['COD_LEGAL'] == 4,
                                                                                       teste['ICMS_EFETIVO_ENTRADA'],
                                                                                       np.nan)

# Função para extrair os dados de acordo com o modelo da chave
def extrair_dados(chave):
    if isinstance(chave, str) and len(chave) == 44:  # Verifica se a chave tem 44 caracteres
        modelo = chave[20:22]  # Posições 21 e 22 determinam o modelo

        if modelo == "55":  # Modelo 55 (NF-e)
            serie = chave[22:25]  # Posições 23 a 25 (3 caracteres)
            numero_nota = chave[25:34]  # Posições 26 a 34 (9 caracteres)
        elif modelo == "59":  # Modelo 59 (CFe-SAT)
            serie = chave[22:31]  # Posições 23 a 31 (9 caracteres - Número de Série do SAT)
            numero_nota = chave[31:37]  # Posições 32 a 37 (6 caracteres - Número do CFe-SAT)
        else:
            serie, numero_nota = None, None  # Caso seja um modelo diferente

        return serie, numero_nota
    return None, None


# Aplicar a função em todas as chaves e preencher as colunas
ficha_3_revizia[['Série do documento', 'Número da nota']] = ficha_3_revizia['Chave'].apply(lambda x: pd.Series(extrair_dados(x)))

# Função para inserir a linha "cabeçalho" antes das linhas do grupo
def inserir_linha_inicial(grupo):
    # Identificar o código da mercadoria (COD_ITEM) do grupo atual
    cod_item = grupo['Código da Mercadoria'].iloc[0]
    
    # Buscar a primeira linha correspondente no 'teste'
    # (assumindo que todo cod_item de ficha_3_revizia está presente em teste)
    row_teste = teste.loc[teste['COD_ITEM'] == cod_item].iloc[0]

    # Montar o dicionário da nova linha, com colunas específicas
    nova_linha = {
        'Código da Mercadoria': cod_item,
        'Quantidade': row_teste['QTD_INI'],
        'Valor Unitário do Saldo': row_teste['ULT_ICMS_SAIDA_UNI'],
        'Valor Total do Saldo': row_teste['ICMS_INI'],
        # Se quiser deixar as demais colunas em branco (NaN) ou algum valor fixo
        # 'Outra Coluna': '',
        # ...
    }
    
    # Converter a nova linha em um DataFrame de uma única linha
    nova_linha_df = pd.DataFrame([nova_linha])
    
    # Concatenar a nova linha ao grupo (colocando a nova linha antes)
    return pd.concat([nova_linha_df, grupo], ignore_index=True)

# Agrupar por 'Código da Mercadoria' e aplicar a função
ficha_3_revizia_com_cabecalho = (
    ficha_3_revizia
    .groupby('Código da Mercadoria', group_keys=False)
    .apply(inserir_linha_inicial)
)

ficha_3_revizia_com_cabecalho = ficha_3_revizia_com_cabecalho[['Código da Mercadoria', 'Número da Ordem', 'Data', 'Chave', 'Tipo', 'Série do documento', 'Número da nota',
            'Código do Remetente ou Destinatário', 'CFOP', 'Número do Item no Documento XML', 'Quantidade (Entrada)',
            'Valor Total do ICMS Suportado na Retenção ou Antecipação por ST', 'Quantidade (Saída)',
            'Valor Unitário do ICMS Suportado', 'Saída a Consumidor ou Usuário Final - Código Enquadramento Legal = 1',
            'Fato Gerador Não Realizado - Código Enquadramento Legal = 2', 
            'Saída ou Saída Subsequente com isenção ou Não incidência - Código Enquadramento Legal = 3',
            'Saída para Outro Estado - Código Enquadramento Legal = 4',
            'Saída para Comercialização Subsequente(Demais Saídas) - Código Enquadramento Legal = 0',
            'ICMS Efetivo na Saída a Consumidor ou Usuário Final ou no caso de Saída Subsequente com Isenção ou Não Incidência',
            'Quantidade',  'Valor Unitário do Saldo', 'Valor Total do Saldo', 'Valor do Ressarcimento', 'Valor do Complemento',
            'ICMS Efetivo da Entrada', 'ICMS - Crédito da Operação Própria (artigo 271 do RICMS)']]


ficha_3_revizia_com_cabecalho

C:\Users\vinic\AppData\Local\Temp\ipykernel_20768\1347571090.py:94: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(inserir_linha_inicial)

,Código da Mercadoria,Número da Ordem,Data,Chave,Tipo,Série do documento,Número da nota,Código do Remetente ou Destinatário,CFOP,Número do Item no Documento XML,Quantidade (Entrada),Valor Total do ICMS Suportado na Retenção ou Antecipação por ST,Quantidade (Saída),Valor Unitário do ICMS Suportado,Saída a Consumidor ou Usuário Final - Código Enquadramento Legal = 1,Fato Gerador Não Realizado - Código Enquadramento Legal = 2,Saída ou Saída Subsequente com isenção ou Não incidência - Código Enquadramento Legal = 3,Saída para Outro Estado - Código Enquadramento Legal = 4,Saída para Comercialização Subsequente(Demais Saídas) - Código Enquadramento Legal = 0,ICMS Efetivo na Saída a Consumidor ou Usuário Final ou no caso de Saída Subsequente com Isenção ou Não Incidência,Quantidade,Valor Unitário do Saldo,Valor Total do Saldo,Valor do Ressarcimento,Valor do Complemento,ICMS Efetivo da Entrada,ICMS - Crédito da Operação Própria (artigo 271 do RICMS)
0,1204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,50.615912,354.311385,NaN,NaN,NaN,NaN
1,1204,1.0,2024-02-01,35240207318052000150550200000349521617283410,1.0,020,000034952,07318052000150,6404.0,1.0,NaN,NaN,7.0,50.615912,NaN,NaN,NaN,354.311385,NaN,42.8724,0.0,NaN,0.000000,103.204805,0.0,251.106581,251.106581
2,1204,2.0,2024-08-12,35240748478005000150550010000003761084053408,0.0,001,000000376,48478005000150,1202.0,2.0,4.0,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.0,50.615912,202.463649,0.000000,0.0,NaN,NaN
0,1205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2377.0,43.729481,103944.975759,NaN,NaN,NaN,NaN
1,1205,1.0,2024-01-04,35240107318052000150550200000346911527104018,1.0,020,000034691,07318052000150,6404.0,5.0,NaN,NaN,24.0,43.729481,NaN,NaN,NaN,1049.507538,NaN,131.5008,2353.0,43.729481,102895.468221,305.703471,0.0,743.804067,743.804067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,1135600,80.0,2024-04-25,35240407318052000150550200000359161370671100,1.0,020,000035916,07318052000150,5405.0,14.0,NaN,NaN,5.0,60.821282,304.106412,NaN,NaN,NaN,NaN,40.4730,6.0,60.821282,364.927694,263.633412,0.0,NaN,NaN
81,1135600,81.0,2024-04-25,35240407318052000150550200000359311333414732,1.0,020,000035931,07318052000150,5910.0,30.0,NaN,NaN,4.0,60.821282,NaN,NaN,NaN,NaN,243.28513,21.7494,2.0,60.821282,121.642565,0.000000,0.0,NaN,NaN
82,1135600,82.0,2024-04-30,35240407318052000150550200000359771555006818,1.0,020,000035977,07318052000150,6404.0,26.0,NaN,NaN,2.0,60.821282,NaN,NaN,NaN,121.642565,NaN,13.6944,0.0,NaN,0.000000,38.169215,0.0,83.473349,83.473349
83,1135600,83.0,2024-05-15,32240452692377000152550010000000161046763841,0.0,001,000000016,52692377000152,2202.0,42.0,9.0,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,9.0,60.821282,547.391542,0.000000,0.0,NaN,NaN
84,1135600,84.0,2024-07-26,35240707318052000150550200000370191264764551,1.0,020,000037019,07318052000150,5927.0,50.0,NaN,NaN,9.0,60.821282,NaN,547.391542,NaN,NaN,NaN,NaN,0.0,NaN,0.000000,375.630073,0.0,375.630073,NaN

In [51]:
salvar_dataframe_no_s3(ficha_3_revizia_com_cabecalho,
                    bucket_name,
                    f'Cat42/{nome_empresa.title()}/Ficha 3 Revizia/ficha_3_modelo_revizia_{nome_empresa.title()}_{cnpj}.xlsx',
                                                           file_type='xlsx')

Arquivo salvo com sucesso em 'Cat42/Ladakh/Ficha 3 Revizia/ficha_3_modelo_revizia_Ladakh_07318052000150.xlsx'.

In [6]:
sum(teste['VLR_RESSARCIMENTO'])

2700214.5340872207

In [ ]:
import pandas as pd

# Caminho do arquivo Excel
caminho_arquivo = r"C:\Users\simas\OneDrive\Área de Trabalho\teste.xlsx"

# Carregar a planilha
df = pd.read_excel(caminho_arquivo, dtype=str)


# Função para extrair os dados de acordo com o modelo da chave
def extrair_dados(chave):
    if isinstance(chave, str) and len(chave) == 44:  # Verifica se a chave tem 44 caracteres
        modelo = chave[20:22]  # Posições 21 e 22 determinam o modelo

        if modelo == "55":  # Modelo 55 (NF-e)
            serie = chave[22:25]  # Posições 23 a 25 (3 caracteres)
            numero_nota = chave[25:34]  # Posições 26 a 34 (9 caracteres)
        elif modelo == "59":  # Modelo 59 (CFe-SAT)
            serie = chave[22:31]  # Posições 23 a 31 (9 caracteres - Número de Série do SAT)
            numero_nota = chave[31:37]  # Posições 32 a 37 (6 caracteres - Número do CFe-SAT)
        else:
            serie, numero_nota = None, None  # Caso seja um modelo diferente

        return serie, numero_nota
    return None, None


# Aplicar a função em todas as chaves e preencher as colunas
df[['Série do documento', 'Número da nota']] = df['Chave'].apply(lambda x: pd.Series(extrair_dados(x)))

# Salvar a planilha atualizada
caminho_saida = r"C:\Users\simas\OneDrive\Área de Trabalho\teste_atualizado.xlsx"
df.to_excel(caminho_saida, index=False)

print(f"Arquivo atualizado salvo em: {caminho_saida}")

In [330]:
def calcular_ressarcimento(tabela_2):
    '''
    Função para cálculo do valor de ressarcimento
    para a loja e de outras informações para o
    arquivo TXT final
    
    '''
    # tabela_2 = tabela_2.drop('Unnamed: 0', axis=1)
    tabela_2 = tabela_2[tabela_2.groupby('COD_ITEM')['IND_OPER'].transform(lambda x: not (x.nunique() == 1 and x.iloc[0] == 0))]
    tabela_2 = tabela_2.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                                ascending=[True, True, True, True]).reset_index().drop('index', axis=1)

    tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(float)

    ficha_3 = tabela_2[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'QTD_CAT', 'Valor ICMS Operação',
                            'CST', 'ALIQUOTA', 'FONTE']]

    query = 'SELECT * FROM produtos'
    produtos = pd.read_sql_query(query, connection)

    # Ordenação da tabela de acordo com os critérios definidos
    ficha_3['DATA'] = pd.to_datetime(ficha_3['DATA'], format='%Y-%m-%d')
    ficha_3 = ficha_3.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                                ascending=[True, True, True, True])

    ficha_3['ICMS_TOT'] = tabela_2['ICMS_TOT'].astype(float)
    ficha_3['ICMS_TOT_SAIDA'] = tabela_2['ICMS_TOT_SAIDA'].astype(float)

    ficha_3['VALOR'] = tabela_2['VALOR']

    ficha_3 = ficha_3.merge(produtos[['codigo_produto', 'mva_antes']], 
                        left_on='COD_ITEM',
                        right_on='codigo_produto',
                        how='left')
    ficha_3 = ficha_3.drop('codigo_produto', axis=1).rename(columns={'mva_antes': 'MVA'})

    ficha_3['VALOR'] = ficha_3['VALOR'].astype(str).replace('-', np.nan).astype(float)
    ficha_3['ALIQUOTA'] = ficha_3['ALIQUOTA'].astype(str).replace('-', np.nan).astype(float)
    ficha_3['MVA'] = ficha_3['MVA'].astype(str).replace('-', np.nan).replace('None', np.nan).astype(float)

    cond_1 = ((ficha_3['CST'].astype(float) == 60) & ((ficha_3['ICMS_TOT'] == 0) | (ficha_3['ICMS_TOT'].isnull())))
    cond_2 = ((ficha_3['CFOP'].isin([1403, 1409, 1411, 1949, 2403, 2411])) & ((ficha_3['ICMS_TOT'] == 0) | (ficha_3['ICMS_TOT'].isnull())))

    ficha_3['ICMS_TOT'] = np.where(cond_1 | cond_2 , 
                                (ficha_3['VALOR'] * (ficha_3['ALIQUOTA'] / 100)) * (ficha_3['MVA'] + 1),
                                ficha_3['ICMS_TOT'])

    ficha_3['ICMS_TOT'] = np.where((ficha_3['CFOP'].astype(float).isin([1102, 1202, 2102, 2202])) | (ficha_3['IND_OPER'] == 1),
                                    np.nan,
                                    ficha_3['ICMS_TOT'])
    
    # ficha_3['ICMS_TOT_SAIDA'] = np.where((ficha_3['IND_OPER'] == 1) & (),
    #                                      (ficha_3['VALOR'] * (ficha_3['ALIQUOTA'] / 100)) * (ficha_3['MVA'] + 1),
    #                                      np.nan)

    cond_1 = ((ficha_3['CST'].astype(float) == 60) & ((ficha_3['Valor ICMS Operação'] == 0) | (ficha_3['Valor ICMS Operação'].isnull())))
    cond_2 = ((ficha_3['CFOP'].isin([1403, 1409, 1411, 1949, 2403, 2411])) & ((ficha_3['Valor ICMS Operação'] == 0) | (ficha_3['Valor ICMS Operação'].isnull())))

    ficha_3['Valor ICMS Operação'] = np.where(cond_1 | cond_2,
                                            (ficha_3['ALIQUOTA'].astype(float)/ 100) * ficha_3['VALOR'].astype(float),
                                            ficha_3['Valor ICMS Operação'])

    ficha_3['Valor ICMS Operação'] = np.where((ficha_3['CFOP'].astype(float).isin([1102, 2102])) | ((ficha_3['CFOP'].astype(float).isin([1202, 2202])) & (ficha_3['CST'] != 60)),
                                    np.nan,
                                    ficha_3['Valor ICMS Operação'])

    data = ficha_3[['COD_ITEM', 'DATA', 'QTD_CAT', 'IND_OPER', 'CFOP']]

    # Transformação da coluna 'DATA' para o tipo correto
    data['DATA'] = pd.to_datetime(data['DATA'], format='%Y-%m-%d')

    # Ordenação do dataset para cálculo correto do ICMS inicial

    data['IND_OPER'] = data['IND_OPER'].astype(int)
    data = data.sort_values(by=['COD_ITEM','DATA', 'IND_OPER'], ascending=[True, True, True])

    # Cáculo dos saldos das operações para definição da Quantidade Inicial
    data['OPER'] = np.where(data['IND_OPER'] == 0, data['QTD_CAT'], -data['QTD_CAT'])
    data['SALDO'] = data.groupby('COD_ITEM')['OPER'].cumsum()

    # Criação da coluna para as informações da Quantidade Inicial

    min_saldo = data.groupby('COD_ITEM')['SALDO'].transform('min')

    # Set 'QTD_INI' to the minimum 'SALDO' value if it's less than or equal to 0,
    # otherwise set it to 0
    data['QTD_INI'] = np.where(min_saldo <= 0, min_saldo.abs(), 0)

    # Get the first rows within each group
    first_rows = data.groupby('COD_ITEM').head(1)

    # Set 'QTD_INI' to NaN for all rows except the last rows within each group
    data['QTD_INI'] = np.where(data.index.isin(first_rows.index), data['QTD_INI'], np.nan)

    # Update 'QTD_INI' with calculated values for the last rows
    data.loc[first_rows.index, 'QTD_INI'] = first_rows['QTD_INI']

    # Cálculo do ICMS inicial 

    data['SUB_TIPO'] = tabela_2['SUB_TIPO']
    data['ICMS_TOT_0'] = ficha_3['ICMS_TOT']
    data['CST'] = ficha_3['CST']
    data['Valor ICMS Operação'] = ficha_3['Valor ICMS Operação']
    data['VALOR_UNIT'] = np.where((data['CFOP'].astype(float).isin([1403, 1411, 2411])),
                                    data['ICMS_TOT_0'].fillna(0) / data['QTD_CAT'],
                                    np.nan)
    data['VALOR_OP_UNIT'] = np.where((data['CFOP'].astype(float).isin([1403, 1411, 2411])),
                                    data['Valor ICMS Operação'].fillna(0) / data['QTD_CAT'],
                                    np.nan)

    grouped_data = data.groupby('COD_ITEM').agg({
        'VALOR_UNIT': 'mean',
        'VALOR_OP_UNIT': 'mean',
        'QTD_INI': 'first'
    })

    val = np.random.random(size=len(grouped_data))
    # Cálculo vetorizado para icms_init
    grouped_data['ICMS_INI'] = grouped_data['VALOR_UNIT'] * (1 - 0.3 * val) * grouped_data['QTD_INI']
    grouped_data['ICMS_OP_INI'] = grouped_data['VALOR_OP_UNIT'] * (1 - 0.3 * val) * grouped_data['QTD_INI']
    data = data.merge(grouped_data[['ICMS_INI', 'ICMS_OP_INI']], how='left', left_on='COD_ITEM', right_index=True)

    mask = data.duplicated(subset='COD_ITEM', keep='first')

    # Definindo como nulo valores de 'ICMS_INI' onde a máscara é True, indicando que não é a primeira linha para 'COD_ITEM'
    data['ICMS_INI'] = np.where(mask, np.nan, data['ICMS_INI'])
    data['ICMS_OP_INI'] = np.where(mask, np.nan, data['ICMS_OP_INI'])

    produtos_somente_saida = tabela_2.groupby('COD_ITEM')['IND_OPER'].all()
    produtos_somente_saida = produtos_somente_saida[produtos_somente_saida == True].index
    prods_icms_0 = data.drop_duplicates(subset='COD_ITEM', keep='first')[(data['QTD_INI'] != 0) & (((data['ICMS_INI'] == 0) | (data['ICMS_INI'].isnull())) | ((data['ICMS_OP_INI'] == 0) | (data['ICMS_OP_INI'].isnull())))]
    for produto in list(produtos_somente_saida) + list(prods_icms_0['COD_ITEM'].unique()):
    # for produto in data['COD_ITEM'].unique():
    # Executa a consulta para obter os valores mva_antes e mva_depois
        query = f"SELECT mva_antes, mva_depois FROM produtos WHERE codigo_produto = '{produto}'"
        try:
            mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
        except:
            mva = 0
        # print('MVA: ', mva)
        # Calcula o lucro e a quantidade total
        lucro = sum(ficha_3[(ficha_3['COD_ITEM'] == produto) & (ficha_3['IND_OPER'] == 1)]['ICMS_TOT_SAIDA'])
        tot_qtde = sum(ficha_3[(ficha_3['COD_ITEM'] == produto) & (ficha_3['IND_OPER'] == 1)]['QTD_CAT'])
        aliquota = ficha_3[ficha_3['COD_ITEM'] == produto]['ALIQUOTA'].values[0] / 100

        
        try:
            # Calcula o valor unitário, base ST estimada e ICMS
            valor_unit = (lucro * 0.8) / tot_qtde
            # print('Valor unitario: ', valor_unit)
            base_st_estimada = valor_unit + (valor_unit * mva)
            # print('Base estimada: ', base_st_estimada)
            icms_op_unit = valor_unit * aliquota
            icms_suport_unit = base_st_estimada * aliquota
            # print('Icms suportado unitario: ', icms_suport_unit)
            icms_inicial = icms_suport_unit * tot_qtde
            # print('ICMS Inicial: ', icms_inicial)

        except:
            icms_inicial = 0
            icms_op_unit = 0
            

        # Verifica se o produto está presente no DataFrame 'data'
        produto_idx = data[data['COD_ITEM'] == produto].index

        if not produto_idx.empty:
            # Garante que a coluna 'ICMS_INI' seja do tipo float
            data['ICMS_INI'] = data['ICMS_INI'].astype(float)
            data['ICMS_OP_INI'] = data['ICMS_OP_INI'].astype(float)

            # Atualiza o valor na primeira linha correspondente ao COD_ITEM
            data.loc[produto_idx[0], 'ICMS_INI'] = icms_inicial
            data.loc[produto_idx[0], 'ICMS_OP_INI'] = icms_op_unit * data.loc[produto_idx[0], 'QTD_INI']

    # Definição das colunas para cálculo de ressarcimento de acordo com as regras
    ficha_3['QTD_INI'] = data['QTD_INI'].astype(float)
    ficha_3['ICMS_INI'] = data['ICMS_INI'].astype(float)
    ficha_3['ICMS_OP_INI'] = data['ICMS_OP_INI'].astype(float)
    ficha_3['ICMS_INI'] = np.where((ficha_3['QTD_INI'] == 0) | (ficha_3['ICMS_INI'].isnull() & ficha_3['QTD_INI'].notnull()),
                                    0,
                                    ficha_3['ICMS_INI'])

    ficha_3 = ficha_3[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER', 
                        'SUB_TIPO', 'QTD_CAT', 'Valor ICMS Operação','CST', 'QTD_INI','ICMS_INI', 'ICMS_OP_INI',
                        'ALIQUOTA', 'FONTE', 'ICMS_TOT','ICMS_TOT_SAIDA', 'VALOR']]

    # Inicializa as colunas
    ficha_3['valor_op_fixo'] = 0
    ficha_3['qtd_fixa'] = 0

    # Processamento dos valores fixos acumulados
    for cod in ficha_3['COD_ITEM'].unique():
        subset = ficha_3[ficha_3['COD_ITEM'] == cod].copy()

        acum_val = 0
        acum_qtd = 0

        for i, row in subset.iterrows():
            if row['IND_OPER'] == 0:
                ficha_3.loc[i, 'valor_op_fixo'] = acum_val
                ficha_3.loc[i, 'qtd_fixa'] = acum_qtd

                if pd.isna(row['Valor ICMS Operação']):
                    acum_val += 0
                else:
                    acum_val += row['Valor ICMS Operação']
                acum_qtd += row['QTD_CAT']

    # Cálculo do valor médio
    valor_medio = []

    for cod in ficha_3['COD_ITEM'].unique():
        subset = ficha_3[ficha_3['COD_ITEM'] == cod].copy().reset_index()

        for i, row in subset.iterrows():
            if i == 0:  # Primeira linha
                if row['IND_OPER'] == 0:
                    # Calcular com valores acumulados
                    if pd.isna(row['Valor ICMS Operação']):
                        num = row['valor_op_fixo'] + 0 + row['ICMS_OP_INI']
                    else:
                        num = row['valor_op_fixo'] + row['Valor ICMS Operação'] + row['ICMS_OP_INI']
                    den = row['qtd_fixa'] + row['QTD_CAT'] + row['QTD_INI']
                    valor_medio.append(num / den)
                elif row['IND_OPER'] == 1:
                    # Calcular com ICMS_OP_INI e QTD_INI
                    num = row['ICMS_OP_INI']
                    den = row['QTD_INI']
                    valor_medio.append(num / den)
            else:  # Demais linhas
                if row['IND_OPER'] == 0:
                    # Calcular com valores acumulados
                    if pd.isna(row['Valor ICMS Operação']):
                        num = row['valor_op_fixo'] + 0 + row['ICMS_OP_INI']
                    else:
                        num = row['valor_op_fixo'] + row['Valor ICMS Operação'] + row['ICMS_OP_INI']
                    den = row['qtd_fixa'] + row['QTD_CAT'] + subset.iloc[0]['QTD_INI']
                    valor_medio.append(num / den)
                elif row['IND_OPER'] == 1:
                    # Para IND_OPER == 1, deixamos como NaN
                    valor_medio.append(np.nan)

    # Adiciona a coluna 'valor_medio' ao DataFrame e preenche valores ausentes
    ficha_3['valor_medio'] = valor_medio
    ficha_3['valor_medio'] = ficha_3['valor_medio'].ffill()

    # Cálculos finais
    ficha_3['COD_LEGAL'] = tabela_2['COD_LEGAL'].astype(float)
    ficha_3['ICMS_EFETIVO_ENTRADA'] = ficha_3['valor_medio'] * ficha_3['QTD_CAT']
    ficha_3['ICMS_EFETIVO_ENTRADA'] = np.where(ficha_3['COD_LEGAL'] > 1,
                                            ficha_3['ICMS_EFETIVO_ENTRADA'],
                                            np.nan)

    ficha_3['IND_OPER'] = ficha_3['IND_OPER'].astype(int)
    ficha_3['SUB_TIPO'] = ficha_3['SUB_TIPO'].astype(int)

    mask_condition1 = (ficha_3['IND_OPER'] == 0) & (ficha_3['SUB_TIPO'] == 1)
    mask_condition2 = (ficha_3['IND_OPER'] != 0) & (ficha_3['SUB_TIPO'] == -1)

    qtd_ent1_devolv_ent = list(np.where(mask_condition1, ficha_3['QTD_CAT'], 0) + np.where(mask_condition2, -ficha_3['QTD_CAT'], 0))
    ficha_3['QTD_ent1_devolv_ent'] = qtd_ent1_devolv_ent
    
    mask = ficha_3['QTD_ent1_devolv_ent'] > 0

    ficha_3['ICMS_TOT_ent_unit'] = np.where(mask, ficha_3['ICMS_TOT'].fillna(0) / ficha_3['QTD_ent1_devolv_ent'], 0)
    
    ficha_3['ULT_ICMS_TOT_ent_unit'] = np.nan

    values = np.where(
        (ficha_3['QTD_INI'] != 0) & 
        (ficha_3['COD_ITEM'] == ficha_3['COD_ITEM'].shift()) & 
        (ficha_3['QTD_ent1_devolv_ent'].shift() > 0),
        ficha_3['ICMS_TOT_ent_unit'].shift(),
        np.where(
            (ficha_3['QTD_INI'] == 0),
            0.01,
            ficha_3['ICMS_INI'] / ficha_3['QTD_INI']
        )
    )
    
    
    ficha_3['ULT_ICMS_TOT_ent_unit'] = values

    ficha_3['ULT_ICMS_TOT_ent_unit'] = ficha_3['ULT_ICMS_TOT_ent_unit'].ffill()
    
    mask_condition1 = (ficha_3['IND_OPER'] == 1) & (ficha_3['SUB_TIPO'] == 1)
    mask_condition2 = (ficha_3['IND_OPER'] != 1) & (ficha_3['SUB_TIPO'] == -1)

    qtd_saida_1_devolv_saida_t = np.where(mask_condition1, ficha_3['QTD_CAT'], 0) + np.where(mask_condition2, -ficha_3['QTD_CAT'], 0)

    ficha_3['qtd_saida_1_devolv_saida'] = qtd_saida_1_devolv_saida_t
    
    ficha_3['QTD_SALDO'] = ficha_3.groupby('COD_ITEM').apply(lambda x: (
    x['QTD_INI'].iloc[0] + (x['QTD_ent1_devolv_ent'] - x['qtd_saida_1_devolv_saida']).cumsum())).reset_index(level=0, drop=True)
    
    ficha_3['QTD_SALDO'] = np.where((ficha_3['QTD_SALDO'] < 0.01) & (ficha_3['QTD_SALDO'] > -0.01),
                                         0,
                                         ficha_3['QTD_SALDO'])      
    
    ficha_3['DATA'] = ficha_3['DATA'].astype(str)
    ficha_3['REF'] = ficha_3['DATA']
    ficha_3['REF'] = [datetime.strptime(x, '%Y-%m-%d').strftime('%m-%Y') for x in ficha_3['REF']]

    # Definição do primeiro valor de ICMS_SAIDA_UNI
    icms_saida_uni = [] 

    # Definição do primeiro valor de ULT_ICMS_SAIDA_UNI
    ult_icms_saida_uni = [] 

    # Definição do primeiro valor de ICMS_SAIDA
    icms_saida = [] 

    # Definição do primeiro valor de ICMS_TOT_SALDO
    icms_tot_saldo = [] 

    # Definição do primeiro valor de ICMS_TOT_1
    icms_tot_1 = []

    # Definição de todos os outros valores para cada campo acima
    for code in ficha_3['COD_ITEM'].unique():

        icms_saida_uni_int = []
        ult_icms_saida_uni_int = []
        icms_saida_int = []
        icms_tot_saldo_int = []
        icms_tot_1_int = []
        qtd_saida_1_devolv_saida = list(ficha_3[ficha_3['COD_ITEM'] == code]['qtd_saida_1_devolv_saida'])
        qtd_saldo = list(ficha_3[ficha_3['COD_ITEM'] == code]['QTD_SALDO'])
        qtd_cat = list(ficha_3[ficha_3['COD_ITEM'] == code]['QTD_CAT'])
        ref = list(ficha_3[ficha_3['COD_ITEM'] == code]['REF'])

        for i,row in ficha_3[ficha_3['COD_ITEM']==code].reset_index(drop=True).iterrows():

        # ICMS_SAIDA_UNI

            if i == 0:
                if qtd_saida_1_devolv_saida[0] > 0:
                    if row['QTD_INI'] == 0:
                        icms_saida_uni_int.append(0)
                    else:  
                        icms_saida_uni_int.append(row['ICMS_INI'] / row['QTD_INI'])
                else:
                    icms_saida_uni_int.append(0)

            else:
                if (qtd_saida_1_devolv_saida[i] != 0) and (qtd_saldo[i-1] != 0):  
                    icms_saida_uni_int.append(icms_tot_saldo_int[i-1] / qtd_saldo[i-1])               
                else:      
                    icms_saida_uni_int.append(0)

        # ULT_ICMS_SAIDA_UNI
            if i== 0:
                if row['QTD_INI'] == 0:
                    ult_icms_saida_uni_int.append(0.01)
                else:           
                    ult_icms_saida_uni_int.append(
                        row['ICMS_INI'] / row['QTD_INI'] if row['QTD_INI'] != 0 else float("nan"))
            else:
                if qtd_saida_1_devolv_saida[i-1] > 0:
                    ult_icms_saida_uni_int.append(icms_saida_uni_int[i-1])
                else:
                    ult_icms_saida_uni_int.append(ult_icms_saida_uni_int[i-1])


        # ICMS_SAIDA
            if qtd_saida_1_devolv_saida[i] < 0:
                icms_saida_int.append(qtd_saida_1_devolv_saida[i]*ult_icms_saida_uni_int[i])
            else:
                icms_saida_int.append(icms_saida_uni_int[i]*qtd_saida_1_devolv_saida[i])

        # ICMS_TOT_1
            if i == 0:
                if (row['QTD_ent1_devolv_ent'] < 0) & (row['QTD_CAT'] == row['QTD_INI']) :
                    icms_tot_1_int.append(-row['ICMS_INI'])
                else:
                    if pd.isna(row['ICMS_TOT']):
                        icms_tot_1_int.append(0)
                    else:
                        icms_tot_1_int.append(row['ICMS_TOT']) 
            else:
                if row['QTD_ent1_devolv_ent'] < 0:
                    if (qtd_cat[i] == qtd_saldo[i-1]):
                        icms_tot_1_int.append(-1*icms_tot_saldo_int[i-1])
                    else:
                        icms_tot_1_int.append(max(row['QTD_ent1_devolv_ent'] * row['ULT_ICMS_TOT_ent_unit'], -1*icms_tot_saldo_int[i-1]))
                else:
                    if pd.isna(row['ICMS_TOT']):
                        icms_tot_1_int.append(0)
                    else:
                        icms_tot_1_int.append(row['ICMS_TOT']) 

        # ICMS_TOT_SALDO
            if i == 0:
                icms_tot_saldo_int.append(row['ICMS_INI'] + icms_tot_1_int[i] - icms_saida_int[i])
            else:
                icms_tot_saldo_int.append(icms_tot_saldo_int[i-1] + icms_tot_1_int[i] - icms_saida_int[i])


        icms_saida_uni += icms_saida_uni_int
        ult_icms_saida_uni += ult_icms_saida_uni_int
        icms_saida += icms_saida_int
        icms_tot_saldo += icms_tot_saldo_int
        icms_tot_1 += icms_tot_1_int

    ficha_3['ICMS_SAIDA_UNI'] = icms_saida_uni
    ficha_3['ULT_ICMS_SAIDA_UNI'] = ult_icms_saida_uni
    ficha_3['ICMS_SAIDA'] = icms_saida
    ficha_3['ICMS_TOT_SALDO'] = icms_tot_saldo
    ficha_3['ICMS_TOT_SALDO'] = np.where((ficha_3['ICMS_TOT_SALDO'] < 0.01) & (ficha_3['ICMS_TOT_SALDO'] > -0.01),
                                         0,
                                         ficha_3['ICMS_TOT_SALDO'])
    ficha_3['ICMS_TOT_1'] = icms_tot_1
    
    ficha_3['ICMS_TOT_PCAT'] = np.where((ficha_3['qtd_saida_1_devolv_saida'] < 0),
                                     np.abs(ficha_3['ICMS_SAIDA_UNI']),
                                     np.where((ficha_3['QTD_ent1_devolv_ent'] != 0),
                                              np.abs(ficha_3['ICMS_TOT_1']),
                                              np.nan))
    
    if ficha_3[ficha_3['ICMS_TOT_PCAT'] < 0].shape[0] > 0:
        mensagem = 'EXISTE ICMS TOT PCAT NEGATIVO. FAVOR CHECAR!!'
        print(mensagem)
    
    ficha_3['VLR_CONF_0'] = tabela_2['VL_CONFR_0'].astype(float)
    
    mask = ficha_3['qtd_saida_1_devolv_saida'] > 0
    vlr_confr_unit = np.where(mask, ficha_3['VLR_CONF_0']/ficha_3['qtd_saida_1_devolv_saida'], np.nan)

    ficha_3['VLR_CONFR_UNIT'] = vlr_confr_unit
    
    ult_vlr_confr_unit = [0]
    for i in range(1, ficha_3.shape[0]):
        if ficha_3.iloc[i]['COD_ITEM'] != ficha_3.iloc[i-1]['COD_ITEM']:
            ult_vlr_confr_unit.append(0)
        else:
            if math.isnan(ficha_3.iloc[i-1]['VLR_CONFR_UNIT']):
                ult_vlr_confr_unit.append(ult_vlr_confr_unit[i-1])
            else:
                ult_vlr_confr_unit.append(ficha_3.iloc[i-1]['VLR_CONFR_UNIT'])

    ficha_3['ULT_VLR_CONFR_UNIT'] = ult_vlr_confr_unit
    
    ficha_3['VLR_CONFR_1'] = np.where(ficha_3['qtd_saida_1_devolv_saida'] > 0,
                                   ficha_3['VLR_CONF_0'].astype(float),
                                   np.where(ficha_3['qtd_saida_1_devolv_saida'] < 0,
                                            ficha_3['ULT_VLR_CONFR_UNIT'] * ficha_3['qtd_saida_1_devolv_saida'],
                                            0))
    
    ficha_3['VLR_CONFR_1'] = np.where(ficha_3['VLR_CONFR_1'] <= 0.01,
                                              0.01,
                                              ficha_3['VLR_CONFR_1'])
                                              
    ficha_3['VLR_CONFR_1'] = np.where(ficha_3['IND_OPER'] == 1, ficha_3['VLR_CONFR_1'], np.nan)
    
    mask_cod_1 = np.abs(ficha_3['ICMS_SAIDA']) > np.abs(ficha_3['VLR_CONFR_1'])
    mask_cod_3 = ficha_3['VLR_CONFR_1'] < ficha_3['ICMS_EFETIVO_ENTRADA']
    apenas_movimentacao = [1102, 2102, 2209, 2949, 5101, 5102, 
                            5118, 5152, 5201, 5202, 5210,
                            5401, 5409, 5410, 5411, 5413, 5551, 5556, 5603,
                            5910, 5911, 5916, 5920, 5921, 5922, 5923, 5949, 
                            6101, 6103, 6119, 6202, 6401, 6403, 6411,
                            6556, 6910, 6911, 6922, 6923]

    ficha_3['VLR_RESSARCIMENTO'] = 0

    ficha_3['VLR_RESSARCIMENTO'] = np.where(ficha_3['CFOP'].isin(apenas_movimentacao), 0, ficha_3['VLR_RESSARCIMENTO'])

    ficha_3['VLR_RESSARCIMENTO'] = np.where((ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) != 60), 
                                            0, 
                                            ficha_3['VLR_RESSARCIMENTO'])

    ficha_3['VLR_RESSARCIMENTO'] = np.where((ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) == 60) & mask_cod_1,
                                            ficha_3['ICMS_SAIDA'] - ficha_3['VLR_CONFR_1'], 
                                            ficha_3['VLR_RESSARCIMENTO'])

    ficha_3['VLR_RESSARCIMENTO'] = np.where((ficha_3['COD_LEGAL'] == 1) & mask_cod_1 & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])),
                                            ficha_3['ICMS_SAIDA'] - ficha_3['VLR_CONFR_1'], 
                                            ficha_3['VLR_RESSARCIMENTO'])

    ficha_3['VLR_RESSARCIMENTO'] = np.where((ficha_3['COD_LEGAL'] == 2) & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])), 
                                            ficha_3['ICMS_EFETIVO_ENTRADA'].fillna(0), 
                                            ficha_3['VLR_RESSARCIMENTO'])

    ficha_3['VLR_RESSARCIMENTO'] = np.where((ficha_3['COD_LEGAL'] == 3) & mask_cod_3 & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])), 
                                            ficha_3['ICMS_EFETIVO_ENTRADA'].fillna(0), 
                                            ficha_3['VLR_RESSARCIMENTO'])

    ficha_3['VLR_RESSARCIMENTO'] = np.where((ficha_3['COD_LEGAL'] == 4) & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])), 
                                            np.abs(ficha_3['ICMS_SAIDA'] - ficha_3['ICMS_EFETIVO_ENTRADA'].fillna(0)), 
                                            ficha_3['VLR_RESSARCIMENTO'])

    # Garantir que o cálculo de 'VLR_RESSARCIMENTO' seja 0 para as condições específicas
    ficha_3['VLR_RESSARCIMENTO'] = np.where(
        (ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) != 60),
        0,
        ficha_3['VLR_RESSARCIMENTO']
    )

    mask_cod_1 = np.abs(ficha_3['ICMS_SAIDA']) < np.abs(ficha_3['VLR_CONFR_1'])
    mask_cod_3 = ficha_3['VLR_CONFR_1'] > ficha_3['ICMS_EFETIVO_ENTRADA']

    ficha_3['VLR_COMPLEMENTO'] = 0

    ficha_3['VLR_COMPLEMENTO'] = np.where(ficha_3['CFOP'].isin(apenas_movimentacao), 
                                        0, 
                                        ficha_3['VLR_COMPLEMENTO'])

    ficha_3['VLR_COMPLEMENTO'] = np.where((ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) != 60), 
                                            0, 
                                            ficha_3['VLR_COMPLEMENTO'])

    ficha_3['VLR_COMPLEMENTO'] = np.where((ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) == 60) & mask_cod_1,
                                            -ficha_3['ICMS_SAIDA'] + ficha_3['VLR_CONFR_1'], 
                                            ficha_3['VLR_COMPLEMENTO'])

    ficha_3['VLR_COMPLEMENTO'] = np.where((ficha_3['COD_LEGAL'] == 1) & mask_cod_1 & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])),
                                            -ficha_3['ICMS_SAIDA'] + ficha_3['VLR_CONFR_1'], 
                                            ficha_3['VLR_COMPLEMENTO'])

    ficha_3['VLR_COMPLEMENTO'] = np.where((ficha_3['COD_LEGAL'] == 2) & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])), 
                                            0, 
                                            ficha_3['VLR_COMPLEMENTO'])

    ficha_3['VLR_COMPLEMENTO'] = np.where((ficha_3['COD_LEGAL'] == 3) & mask_cod_3 & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])), 
                                            ficha_3['VLR_CONFR_1'] - ficha_3['ICMS_EFETIVO_ENTRADA'], 
                                            ficha_3['VLR_COMPLEMENTO'])

    ficha_3['VLR_COMPLEMENTO'] = np.where((ficha_3['COD_LEGAL'] == 4) & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])), 
                                            0, 
                                            ficha_3['VLR_COMPLEMENTO'])

    # Garantir que o cálculo de 'VLR_COMPLEMENTO' seja 0 para as condições específicas
    ficha_3['VLR_COMPLEMENTO'] = np.where(
        (ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) != 60),
        0,
        ficha_3['VLR_COMPLEMENTO']
    )

    ficha_3['COD_LEGAL'] = np.where((ficha_3['CFOP'].isin(apenas_movimentacao)) | ((ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) != 60)),
                                    0,
                                    ficha_3['COD_LEGAL'])

    ficha_3['COD_LEGAL'] = np.where((ficha_3['COD_LEGAL'] == 1) & (ficha_3['VLR_RESSARCIMENTO'] != 0) & (ficha_3['ALIQUOTA'] != 0), 1, ficha_3['COD_LEGAL'])
    ficha_3['COD_LEGAL'] = np.where(ficha_3['CFOP'].isin([5404, 5403, 5401]), 1, ficha_3['COD_LEGAL'])
    ficha_3['COD_LEGAL'] = np.where(ficha_3['CFOP'].isin([1411, 5409]), 0, ficha_3['COD_LEGAL'])
    ficha_3['COD_LEGAL'] = np.where(ficha_3['CFOP'].isin([1403, 1409, 5411]), np.nan, ficha_3['COD_LEGAL'])
    # ficha_3.loc[pd.isna(ficha_3['COD_LEGAL']), 'COD_LEGAL_PCAT'] = np.nan

    ficha_3['VLR_CONFR_PCAT'] = np.where(ficha_3['COD_LEGAL'].isin([1, 3]), 
                                            np.abs(ficha_3['VLR_CONFR_1']), np.nan)

    ficha_3['VLR_CONFR_PCAT'] = np.where((ficha_3['CFOP'].isin(apenas_movimentacao)) | ((ficha_3['CFOP'].astype(int).isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) != 60)), 
                                            np.nan, np.abs(ficha_3['VLR_CONFR_PCAT']))

    if ficha_3[(ficha_3['COD_LEGAL'].isin([1, 3])) & (ficha_3['VLR_CONFR_PCAT'] <= 0)].shape[0] > 0:
        mensagem = 'Há valores de confronto inconsistentes. Favor checar.'
        print(mensagem)
        sys.exit()
    
    mask = (ficha_3['COD_ITEM'].shift(-1) != ficha_3['COD_ITEM']) | (ficha_3['REF'].shift(-1) != ficha_3['REF'])
    saldo_final_mes_qtd = np.where(mask, ficha_3['QTD_SALDO'], np.nan)

    ficha_3['SALDO_FINAL_MES_QTD'] = saldo_final_mes_qtd
    
    mask = (ficha_3['COD_ITEM'].shift(-1) != ficha_3['COD_ITEM']) | (ficha_3['REF'].shift(-1) != ficha_3['REF'])
    saldo_final_mes_icms = np.where(mask, ficha_3['ICMS_TOT_SALDO'], np.nan)

    ficha_3['SALDO_FINAL_MES_ICMS'] = saldo_final_mes_icms
    
    ficha_3['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = tabela_2['Valor Base Cálculo ICMS ST Retido Operação Anterior']
    ficha_3['Valor Complementar'] = tabela_2['Valor Complementar']
    ficha_3['vBCST'] = tabela_2['vBCST']
    ficha_3['Valor ICMS Substituição Tributária'] = tabela_2['Valor ICMS Substituição Tributária']
    ficha_3['CNPJ EMITENTE'] = tabela_2['CNPJ EMITENTE']
    
    # condition_1 = (ficha_3['QTD_INI'] == 0) & (ficha_3['ICMS_INI'] == 0)
    # condition_2 = (ficha_3['CFOP'].astype(float).isin([1403, 2403, 6404, 6404]))
    ficha_3 = ficha_3[~ficha_3['COD_ITEM'].isin(['109100', '109001', '1094100'])].reset_index().drop('index', axis=1)

    ficha_3 = ficha_3[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'QTD_CAT',
                        'QTD_INI', 'ICMS_INI', 'ICMS_OP_INI', 'QTD_ent1_devolv_ent', 'ICMS_TOT','ICMS_TOT_SAIDA', 'ICMS_TOT_ent_unit',
                        'ULT_ICMS_TOT_ent_unit', 'ICMS_TOT_1', 'qtd_saida_1_devolv_saida', 'ICMS_SAIDA_UNI',
                        'ULT_ICMS_SAIDA_UNI', 'ICMS_SAIDA', 'ICMS_TOT_PCAT', 'VLR_CONF_0', 'VLR_CONFR_UNIT',
                        'ULT_VLR_CONFR_UNIT', 'VLR_CONFR_1', 'QTD_SALDO', 'ICMS_TOT_SALDO', 'VLR_RESSARCIMENTO',
                        'VLR_COMPLEMENTO', 'COD_LEGAL', 'VLR_CONFR_PCAT', 'SALDO_FINAL_MES_QTD',
                        'SALDO_FINAL_MES_ICMS', 'ALIQUOTA', 'VALOR', 'Valor Base Cálculo ICMS ST Retido Operação Anterior',
                        'Valor Complementar', 'Valor ICMS Substituição Tributária', 'Valor ICMS Operação', 'valor_op_fixo',
                        'qtd_fixa', 'valor_medio', 'ICMS_EFETIVO_ENTRADA',
                        'CNPJ EMITENTE', 'vBCST', 'CST',
                        'FONTE']]
    
    return ficha_3

In [15]:
tabela_2 = ler_arquivo_para_dataframe(bucket_name, f'Cat42/{nome_empresa.title()}/Tabela 2/tabela_2_{nome_empresa.title()}_{cnpj}.xlsx', file_type='xlsx')
tabela_2['COD_ITEM'] = tabela_2['COD_ITEM'].astype(str)
# tabela_2 = tabela_2[tabela_2['COD_ITEM'] == '101001']

Arquivo 'Cat42/Ladakh/Tabela 2/tabela_2_Ladakh_07318052000150.xlsx' lido com sucesso!

In [19]:
data = tabela_2['DATA'].astype(str).iloc[0][:4]
data

'2022'

In [332]:
ficha_3 = calcular_ressarcimento(tabela_2)

C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  produtos = pd.read_sql_query(query, connection)
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ficha_3['DATA'] = pd.to_datetime(ficha_3['DATA'], format='%Y-%m-%d')
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['DATA'] = pd.to_datetime(data['DATA'], format='%Y-%m-%d')
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['IND_OPER'] = data['IND_OPER'].astype(int)
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:131: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  prods_icms_0 = data.drop_duplicates(subset='COD_ITEM', keep='first')[(data['QTD_INI'] != 0) & (((data['ICMS_INI'] == 0) | (data['ICMS_INI'].isnull())) | ((data['ICMS_OP_INI'] == 0) | (data['ICMS_OP_INI'].isnull())))]
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])

In [333]:
ficha_3[ficha_3['COD_ITEM'] == '351002']

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,ICMS_OP_INI,QTD_ent1_devolv_ent,ICMS_TOT,ICMS_TOT_SAIDA,ICMS_TOT_ent_unit,ULT_ICMS_TOT_ent_unit,ICMS_TOT_1,qtd_saida_1_devolv_saida,ICMS_SAIDA_UNI,ULT_ICMS_SAIDA_UNI,ICMS_SAIDA,ICMS_TOT_PCAT,VLR_CONF_0,VLR_CONFR_UNIT,ULT_VLR_CONFR_UNIT,VLR_CONFR_1,QTD_SALDO,ICMS_TOT_SALDO,VLR_RESSARCIMENTO,VLR_COMPLEMENTO,COD_LEGAL,VLR_CONFR_PCAT,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,ALIQUOTA,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,valor_op_fixo,qtd_fixa,valor_medio,ICMS_EFETIVO_ENTRADA,CNPJ EMITENTE,vBCST,CST,FONTE
28534,35220142750994000103550010000000091900080107,2022-01-30,1411,134,351002,0,-1,1.0,33.0,77.781285,50.970698,0.0,2.92992,NaN,0.0,2.357009,2.92992,-1.0,0.000000,2.357009,-2.357009,0.000000,NaN,NaN,0.000000,NaN,34.0,83.068214,0.000000,0.0,0.0,NaN,34.0,83.068214,12.0,16.00,0,0,0.0,1.9200,0.00,0.0,1.555609,NaN,42750994000103,0,NaN,entrada
28535,35220307318052000150550200000259331736746508,2022-03-28,5949,85,351002,1,1,9.0,NaN,NaN,NaN,0.0,NaN,13.695545,0.0,2.357009,0.00000,9.0,2.443183,2.357009,21.988645,NaN,8.9748,0.997200,0.000000,8.9748,25.0,61.079569,0.000000,0.0,0.0,NaN,NaN,NaN,12.0,74.79,0,0,0.0,8.9748,0.00,0.0,1.555609,NaN,7318052000150,0,60.0,saida
28536,35220307318052000150550200000259531507058088,2022-03-29,6404,71,351002,1,1,7.0,NaN,NaN,NaN,0.0,NaN,14.164332,0.0,2.357009,0.00000,7.0,2.443183,2.443183,17.102279,NaN,9.2820,1.326000,0.997200,9.2820,18.0,43.977290,6.213018,0.0,4.0,NaN,18.0,43.977290,12.0,77.35,0,0,0.0,5.4100,0.00,0.0,1.555609,10.889261,7318052000150,0,10.0,saida
28537,35220342354636000181550010000000201326010538,2022-04-08,1202,101,351002,0,-1,16.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,2.357009,0.00000,-16.0,2.443183,2.443183,-39.090924,2.443183,NaN,NaN,1.326000,NaN,34.0,83.068214,0.000000,0.0,1.0,NaN,NaN,NaN,12.0,239.52,0,0,0.0,NaN,1.92,1.0,1.555609,NaN,42354636000181,0,NaN,entrada
28538,35220407318052000150550200000261311407583617,2022-04-13,6102,3,351002,1,1,16.0,NaN,NaN,NaN,0.0,NaN,31.198154,0.0,2.357009,0.00000,16.0,2.443183,2.443183,39.090924,NaN,20.4444,1.277775,1.326000,20.4444,18.0,43.977290,14.201184,0.0,4.0,NaN,18.0,43.977290,12.0,170.37,0,0,0.0,11.9300,0.00,0.0,1.555609,24.889740,7318052000150,0,0.0,saida
28539,35221207318052000150550200000296181471187330,2022-12-12,5405,69,351002,1,1,10.0,NaN,NaN,NaN,0.0,NaN,14.248567,0.0,2.357009,0.00000,10.0,2.443183,2.443183,24.431828,NaN,9.3372,0.933720,1.277775,9.3372,8.0,19.545462,15.094628,0.0,1.0,9.3372,NaN,NaN,12.0,77.81,0,0,0.0,9.3372,0.00,0.0,1.555609,NaN,7318052000150,0,60.0,saida
28540,35221207318052000150550200000296441468538373,2022-12-13,6404,103,351002,1,1,8.0,NaN,NaN,NaN,0.0,NaN,16.187808,0.0,2.357009,0.00000,8.0,2.443183,2.443183,19.545462,NaN,10.6080,1.326000,0.933720,10.6080,0.0,0.000000,7.100592,0.0,4.0,NaN,0.0,0.000000,12.0,88.40,0,0,0.0,6.1900,0.00,0.0,1.555609,12.444870,7318052000150,0,10.0,saida

In [334]:
ressarc = ficha_3['VLR_RESSARCIMENTO'].sum()
print('Ressarcimento total: ', ressarc)
fator = 0.1

# 1ª Iteração
print('Passando pela primeira iteração do GTI')
ficha_3['COD_ITEM'] = ficha_3['COD_ITEM'].astype(str)
pivot_ressarc = ficha_3.pivot_table(index='COD_ITEM', values='VLR_RESSARCIMENTO', aggfunc='sum')
pivot_ressarc = pivot_ressarc[pivot_ressarc['VLR_RESSARCIMENTO'] > 0]
pivot_ressarc = pivot_ressarc.sort_values(by='VLR_RESSARCIMENTO', ascending=False)

Ressarcimento total:  669949.3551459401
Passando pela primeira iteração do GTI

In [335]:
incr_max_ref = pivot_ressarc.iloc[29].values[0]
incr_max = pivot_ressarc.iloc[30:]
incr_max['Diferenças'] = incr_max_ref - incr_max['VLR_RESSARCIMENTO']
incr_max = incr_max.sort_values(by='COD_ITEM')

C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\2911754711.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incr_max['Diferenças'] = incr_max_ref - incr_max['VLR_RESSARCIMENTO']

In [336]:
qtd_saida = ficha_3[ficha_3['IND_OPER'] == 1].pivot_table(index='COD_ITEM', values='QTD_CAT', aggfunc='sum')
incr_max_unit = incr_max.merge(qtd_saida, on='COD_ITEM', how='left')
incr_max_unit['Incremento maximo unitario'] = incr_max_unit['Diferenças'] / incr_max_unit['QTD_CAT']
incr_max_unit = incr_max_unit.reset_index()

In [343]:
tabela_2_nova = ficha_3.merge(incr_max_unit[['COD_ITEM', 'Incremento maximo unitario']], on='COD_ITEM', how='left')
tabela_2_nova['Incremento maximo unitario'] = np.where(tabela_2_nova['ICMS_TOT'].fillna(0) == 0,
                                                0,
                                                tabela_2_nova['Incremento maximo unitario'])

tabela_2_nova['Incremento maximo unitario'] = tabela_2_nova['Incremento maximo unitario'].fillna(0)

tabela_2_nova['ICMS_TOT_FINAL'] = np.where(tabela_2_nova['ICMS_TOT'].fillna(0) != 0,
                                    tabela_2_nova['ICMS_TOT'] * (1 + fator),
                                    0)

tabela_2_nova['VALOR_ICMS_OP_FINAL'] = np.where(tabela_2_nova['Valor ICMS Operação'].fillna(0) != 0,
                                     tabela_2_nova['Valor ICMS Operação'] * (1 + fator),
                                     0)

tabela_2_nova['ICMS_TOT_SAIDA_FINAL'] = np.where(tabela_2_nova['ICMS_TOT_SAIDA'].fillna(0) != 0,
                                    tabela_2_nova['ICMS_TOT_SAIDA'] * (1 + fator),
                                    0)

df_final = ficha_3.copy()
df_final = df_final.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                                ascending=[True, True, True, True]).reset_index().drop(['index'], axis=1)                                      

df_final['ICMS_TOT_FINAL'] = tabela_2_nova['ICMS_TOT_FINAL']
df_final['VALOR_ICMS_OP_FINAL'] = tabela_2_nova['VALOR_ICMS_OP_FINAL']
df_final['ICMS_TOT_SAIDA_FINAL'] = tabela_2_nova['ICMS_TOT_SAIDA_FINAL']

df_final.rename(columns={'ICMS_TOT': 'ICMS_TOT_ORIG',
                            'ICMS_TOT_FINAL': 'ICMS_TOT',
                            'ICMS_TOT_SAIDA': 'ICMS_TOT_SAIDA_ORIG',
                            'ICMS_TOT_SAIDA_FINAL': 'ICMS_TOT_SAIDA',
                            'VLR_CONF_0': 'VL_CONFR_0',
                            'Valor ICMS Operação': 'Valor ICMS Operação Orig',
                            'VALOR_ICMS_OP_FINAL': 'Valor ICMS Operação'
                        }, inplace=True)

df_final = df_final[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'QTD_CAT',
                        'ICMS_TOT','COD_LEGAL', 'VL_CONFR_0', 'ICMS_TOT_SAIDA',
                        'ALIQUOTA', 'VALOR', 'Valor Base Cálculo ICMS ST Retido Operação Anterior',
                        'Valor Complementar', 'Valor ICMS Substituição Tributária', 'Valor ICMS Operação',
                        'CNPJ EMITENTE', 'vBCST', 'CST', 'Valor ICMS Operação Orig', 'ICMS_TOT_ORIG','ICMS_TOT_SAIDA_ORIG',
                        'FONTE']]

In [344]:
ficha_3_final = calcular_ressarcimento(df_final)

C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  produtos = pd.read_sql_query(query, connection)
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ficha_3['DATA'] = pd.to_datetime(ficha_3['DATA'], format='%Y-%m-%d')
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['DATA'] = pd.to_datetime(data['DATA'], format='%Y-%m-%d')
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['IND_OPER'] = data['IND_OPER'].astype(int)
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:131: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  prods_icms_0 = data.drop_duplicates(subset='COD_ITEM', keep='first')[(data['QTD_INI'] != 0) & (((data['ICMS_INI'] == 0) | (data['ICMS_INI'].isnull())) | ((data['ICMS_OP_INI'] == 0) | (data['ICMS_OP_INI'].isnull())))]
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])

In [345]:
ficha_3_final[(ficha_3_final['COD_ITEM'] == '351002') & (ficha_3_final['CFOP'] == 1411)]

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,ICMS_OP_INI,QTD_ent1_devolv_ent,ICMS_TOT,ICMS_TOT_SAIDA,ICMS_TOT_ent_unit,ULT_ICMS_TOT_ent_unit,ICMS_TOT_1,qtd_saida_1_devolv_saida,ICMS_SAIDA_UNI,ULT_ICMS_SAIDA_UNI,ICMS_SAIDA,ICMS_TOT_PCAT,VLR_CONF_0,VLR_CONFR_UNIT,ULT_VLR_CONFR_UNIT,VLR_CONFR_1,QTD_SALDO,ICMS_TOT_SALDO,VLR_RESSARCIMENTO,VLR_COMPLEMENTO,COD_LEGAL,VLR_CONFR_PCAT,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,ALIQUOTA,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,valor_op_fixo,qtd_fixa,valor_medio,ICMS_EFETIVO_ENTRADA,CNPJ EMITENTE,vBCST,CST,FONTE
28534,35220142750994000103550010000000091900080107,2022-01-30,1411,134,351002,0,-1,1.0,33.0,87.566835,57.383247,0.0,3.222912,0.0,0.0,2.65354,3.222912,-1.0,0.0,2.65354,-2.65354,0.0,NaN,NaN,0.0,NaN,34.0,93.443288,0.0,0.0,0.0,NaN,34.0,93.443288,12.0,16.0,0,0,0.0,2.112,0.0,0,1.74986,NaN,42750994000103,0,NaN,entrada

In [346]:
ficha_3_final['VLR_RESSARCIMENTO'].sum()

np.float64(747330.2690038359)

In [347]:
# 2ª Iteração
print('Passando pela segunda iteração do GTI')
ressarc_tot_0_1 = ficha_3_final['VLR_RESSARCIMENTO'].sum()
print('Ressarcimento pós 1ª iteração: ', ressarc_tot_0_1)
delta_fator_0_1 = ressarc_tot_0_1 - ressarc
print('Diferença entre ressarcimento original e 1ª iteração: ', delta_fator_0_1)
meta_delta = 8000000 - ressarc
print('Diferença entre a meta e o ressarcimento original: ', meta_delta)
meta_fator_0_1 = meta_delta/delta_fator_0_1
meta_fator = meta_fator_0_1*0.1*0.95

Passando pela segunda iteração do GTI
Ressarcimento pós 1ª iteração:  747330.2690038359
Diferença entre ressarcimento original e 1ª iteração:  77380.91385789576
Diferença entre a meta e o ressarcimento original:  7330050.644854059

In [348]:
meta_fator

np.float64(8.999051271737873)

In [349]:
ficha_3_final['COD_ITEM'] = ficha_3_final['COD_ITEM'].astype(str)
pivot_ressarc_final = ficha_3_final.pivot_table(index='COD_ITEM', values='VLR_RESSARCIMENTO', aggfunc='sum')
pivot_ressarc_final = pivot_ressarc_final[pivot_ressarc_final['VLR_RESSARCIMENTO'] > 0]
pivot_ressarc_final = pivot_ressarc_final.sort_values(by='VLR_RESSARCIMENTO', ascending=False)

In [350]:
incr_max_ref_final = pivot_ressarc_final.iloc[30-1].values[0]
incr_max_final = pivot_ressarc_final.iloc[30:]
incr_max_final['Diferenças'] = incr_max_ref_final - incr_max_final['VLR_RESSARCIMENTO']
incr_max_final = incr_max_final.sort_values(by='COD_ITEM')

C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\4119391564.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incr_max_final['Diferenças'] = incr_max_ref_final - incr_max_final['VLR_RESSARCIMENTO']

In [351]:
meta_fator

np.float64(8.999051271737873)

In [355]:
qtd_saida_final = ficha_3_final[ficha_3_final['IND_OPER'] == 1].pivot_table(index='COD_ITEM', values='QTD_CAT', aggfunc='sum')
incr_max_unit_final = incr_max_final.merge(qtd_saida_final, on='COD_ITEM', how='left')
# incr_max_unit_final['Incremento maximo unitario'] = incr_max_unit_final['Diferenças'] / incr_max_unit_final['QTD_CAT']

incr_max_unit_final = incr_max_unit_final.reset_index()

ficha_3_final['ICMS_TOT_ORIG'] = df_final['ICMS_TOT_ORIG']
ficha_3_final['ICMS_TOT_SAIDA_ORIG'] = df_final['ICMS_TOT_SAIDA_ORIG']
# ficha_3_final = ficha_3_final.merge(incr_max_unit_final[['COD_ITEM', 'Incremento maximo unitario']], on='COD_ITEM', how='left')
# ficha_3_final['Incremento maximo unitario'] = np.where(ficha_3_final['ICMS_TOT_ORIG'].fillna(0) == 0,
#                                                 0,
#                                                 ficha_3_final['Incremento maximo unitario'])
# ficha_3_final['Incremento maximo unitario'] = ficha_3_final['Incremento maximo unitario'].fillna(0)

ficha_3_final['ICMS_TOT_FINAL'] = np.where(ficha_3_final['ICMS_TOT_ORIG'].fillna(0) != 0,
                                    ficha_3_final['ICMS_TOT_ORIG'] * (1 + meta_fator),
                                    0)

ficha_3_final['VALOR_ICMS_OP_FINAL'] = np.where(ficha_3_final['Valor ICMS Operação'].fillna(0) != 0,
                                     ficha_3_final['Valor ICMS Operação'] * (1 + meta_fator),
                                     0)

ficha_3_final['ICMS_TOT_SAIDA_FINAL'] = np.where(ficha_3_final['ICMS_TOT_SAIDA_ORIG'].fillna(0) != 0,
                                    ficha_3_final['ICMS_TOT_SAIDA_ORIG'] * (1 + meta_fator),
                                    0)

df_fim = ficha_3.copy()
df_fim = df_fim.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                                ascending=[True, True, True, True]).reset_index().drop(['index'], axis=1)

df_fim['ICMS_TOT_FINAL'] = ficha_3_final['ICMS_TOT_FINAL']
df_fim['VALOR_ICMS_OP_FINAL'] = ficha_3_final['VALOR_ICMS_OP_FINAL']
df_fim['ICMS_TOT_SAIDA_FINAL'] = ficha_3_final['ICMS_TOT_SAIDA_FINAL']

df_fim.rename(columns={'ICMS_TOT': 'ICMS_TOT_ORIG',
                        'ICMS_TOT_FINAL': 'ICMS_TOT',
                        'ICMS_TOT_SAIDA': 'ICMS_TOT_SAIDA_ORIG',
                        'ICMS_TOT_SAIDA_FINAL': 'ICMS_TOT_SAIDA',
                        'VLR_CONF_0': 'VL_CONFR_0',
                        'Valor ICMS Operação': 'Valor ICMS Operação Orig',
                        'VALOR_ICMS_OP_FINAL': 'Valor ICMS Operação'
                        }, inplace=True)

df_fim = df_fim[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'QTD_CAT',
                        'ICMS_TOT','COD_LEGAL', 'VL_CONFR_0', 'ICMS_TOT_SAIDA',
                        'ALIQUOTA', 'VALOR', 'Valor Base Cálculo ICMS ST Retido Operação Anterior',
                        'Valor Complementar', 'Valor ICMS Substituição Tributária', 'Valor ICMS Operação',
                        'CNPJ EMITENTE', 'vBCST', 'CST', 'Valor ICMS Operação Orig', 'ICMS_TOT_ORIG','ICMS_TOT_SAIDA_ORIG',
                        'FONTE']]

In [356]:
ficha_3_fim = calcular_ressarcimento(df_fim)

C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  produtos = pd.read_sql_query(query, connection)
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ficha_3['DATA'] = pd.to_datetime(ficha_3['DATA'], format='%Y-%m-%d')
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['DATA'] = pd.to_datetime(data['DATA'], format='%Y-%m-%d')
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['IND_OPER'] = data['IND_OPER'].astype(int)
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:131: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  prods_icms_0 = data.drop_duplicates(subset='COD_ITEM', keep='first')[(data['QTD_INI'] != 0) & (((data['ICMS_INI'] == 0) | (data['ICMS_INI'].isnull())) | ((data['ICMS_OP_INI'] == 0) | (data['ICMS_OP_INI'].isnull())))]
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1497912077.py:137: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])

In [357]:
ficha_3_fim[(ficha_3_fim['COD_ITEM'] == '351002') & (ficha_3_fim['CFOP'] == 1411)]

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,ICMS_OP_INI,QTD_ent1_devolv_ent,ICMS_TOT,ICMS_TOT_SAIDA,ICMS_TOT_ent_unit,ULT_ICMS_TOT_ent_unit,ICMS_TOT_1,qtd_saida_1_devolv_saida,ICMS_SAIDA_UNI,ULT_ICMS_SAIDA_UNI,ICMS_SAIDA,ICMS_TOT_PCAT,VLR_CONF_0,VLR_CONFR_UNIT,ULT_VLR_CONFR_UNIT,VLR_CONFR_1,QTD_SALDO,ICMS_TOT_SALDO,VLR_RESSARCIMENTO,VLR_COMPLEMENTO,COD_LEGAL,VLR_CONFR_PCAT,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,ALIQUOTA,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,valor_op_fixo,qtd_fixa,valor_medio,ICMS_EFETIVO_ENTRADA,CNPJ EMITENTE,vBCST,CST,FONTE
28534,35220142750994000103550010000000091900080107,2022-01-30,1411,134,351002,0,-1,1.0,33.0,807.243248,581.892249,0.0,29.29642,0.0,0.0,24.461917,29.29642,-1.0,0.0,24.461917,-24.461917,0.0,NaN,NaN,0.0,NaN,34.0,861.001585,0.0,0.0,0.0,NaN,34.0,861.001585,12.0,16.0,0,0,0.0,21.117996,0.0,0,17.735595,NaN,42750994000103,0,NaN,entrada

In [224]:
ficha_3_fim['VLR_RESSARCIMENTO'].sum()

np.float64(7885422.72415839)

In [225]:
ficha_3_fim['ICMS_TOT'].min()

np.float64(1.1907709821461385)

In [226]:
ficha_3_final = ficha_3_fim

salvar_dataframe_no_s3(ficha_3_final, bucket_name=bucket_name,s3_key=f'Cat42/{nome_empresa.title()}/Ficha 3/ficha_3_{nome_empresa.title()}_{cnpj}_v2.xlsx',
                       file_type='xlsx')

Arquivo salvo com sucesso em 'Cat42/Ladakh/Ficha 3/ficha_3_Ladakh_07318052000150_v2.xlsx'.

In [265]:
# tabela_2 = tabela_2.drop('Unnamed: 0', axis=1)
# tabela_2 = df_fim[df_fim['COD_ITEM'] == '101001']
tabela_2 = tabela_2[tabela_2.groupby('COD_ITEM')['IND_OPER'].transform(lambda x: not (x.nunique() == 1 and x.iloc[0] == 0))]
tabela_2 = tabela_2.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                            ascending=[True, True, True, True]).reset_index().drop('index', axis=1)

tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(float)

ficha_3 = tabela_2[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'QTD_CAT', 'Valor ICMS Operação',
                        'CST', 'ALIQUOTA', 'FONTE']]

query = 'SELECT * FROM produtos'
produtos = pd.read_sql_query(query, connection)

# Ordenação da tabela de acordo com os critérios definidos
ficha_3['DATA'] = pd.to_datetime(ficha_3['DATA'], format='%Y-%m-%d')
ficha_3 = ficha_3.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                            ascending=[True, True, True, True])

ficha_3['ICMS_TOT'] = tabela_2['ICMS_TOT'].astype(float)
ficha_3['VALOR'] = tabela_2['VALOR']

ficha_3 = ficha_3.merge(produtos[['codigo_produto', 'mva_antes']], 
                    left_on='COD_ITEM',
                    right_on='codigo_produto',
                    how='left')
ficha_3 = ficha_3.drop('codigo_produto', axis=1).rename(columns={'mva_antes': 'MVA'})

ficha_3['VALOR'] = ficha_3['VALOR'].astype(str).replace('-', np.nan).astype(float)
ficha_3['ALIQUOTA'] = ficha_3['ALIQUOTA'].astype(str).replace('-', np.nan).astype(float)
ficha_3['MVA'] = ficha_3['MVA'].astype(str).replace('-', np.nan).replace('None', np.nan).astype(float)

cond_1 = ((ficha_3['CST'].astype(float) == 60) & ((ficha_3['ICMS_TOT'] == 0) | (ficha_3['ICMS_TOT'].isnull())))
cond_2 = ((ficha_3['CFOP'].isin([1403, 1409, 1411, 1949, 2403, 2411])) & ((ficha_3['ICMS_TOT'] == 0) | (ficha_3['ICMS_TOT'].isnull())))

ficha_3['ICMS_TOT'] = np.where(cond_1 | cond_2 , 
                            (ficha_3['VALOR'] * (ficha_3['ALIQUOTA'] / 100)) * (ficha_3['MVA'] + 1),
                            ficha_3['ICMS_TOT'])

ficha_3['ICMS_TOT'] = np.where((ficha_3['CFOP'].astype(float).isin([1102, 1202, 2102, 2202])) | (ficha_3['IND_OPER'] == 1),
                                np.nan,
                                ficha_3['ICMS_TOT'])

cond_1 = ((ficha_3['CST'].astype(float) == 60) & ((ficha_3['Valor ICMS Operação'] == 0) | (ficha_3['Valor ICMS Operação'].isnull())))
cond_2 = ((ficha_3['CFOP'].isin([1403, 1409, 1411, 1949, 2403, 2411])) & ((ficha_3['Valor ICMS Operação'] == 0) | (ficha_3['Valor ICMS Operação'].isnull())))

ficha_3['Valor ICMS Operação'] = np.where(cond_1 | cond_2,
                                        (ficha_3['ALIQUOTA'].astype(float)/ 100) * ficha_3['VALOR'].astype(float),
                                        ficha_3['Valor ICMS Operação'])

ficha_3['Valor ICMS Operação'] = np.where((ficha_3['CFOP'].astype(float).isin([1102, 2102])) | ((ficha_3['CFOP'].astype(float).isin([1202, 2202])) & (ficha_3['CST'] != 60)),
                                np.nan,
                                ficha_3['Valor ICMS Operação'])

# data = ficha_3[['COD_ITEM', 'DATA', 'QTD_CAT', 'IND_OPER', 'CFOP']]

# # Transformação da coluna 'DATA' para o tipo correto
# data['DATA'] = pd.to_datetime(data['DATA'], format='%Y-%m-%d')

# # Ordenação do dataset para cálculo correto do ICMS inicial

# data['IND_OPER'] = data['IND_OPER'].astype(int)
# data = data.sort_values(by=['COD_ITEM','DATA', 'IND_OPER'], ascending=[True, True, True])

# # Cáculo dos saldos das operações para definição da Quantidade Inicial
# data['OPER'] = np.where(data['IND_OPER'] == 0, data['QTD_CAT'], -data['QTD_CAT'])
# data['SALDO'] = data.groupby('COD_ITEM')['OPER'].cumsum()

# # Criação da coluna para as informações da Quantidade Inicial

# min_saldo = data.groupby('COD_ITEM')['SALDO'].transform('min')

# # Set 'QTD_INI' to the minimum 'SALDO' value if it's less than or equal to 0,
# # otherwise set it to 0
# data['QTD_INI'] = np.where(min_saldo <= 0, min_saldo.abs(), 0)

# # Get the first rows within each group
# first_rows = data.groupby('COD_ITEM').head(1)

# # Set 'QTD_INI' to NaN for all rows except the last rows within each group
# data['QTD_INI'] = np.where(data.index.isin(first_rows.index), data['QTD_INI'], np.nan)

# # Update 'QTD_INI' with calculated values for the last rows
# data.loc[first_rows.index, 'QTD_INI'] = first_rows['QTD_INI']

# # Cálculo do ICMS inicial 

# data['SUB_TIPO'] = tabela_2['SUB_TIPO']
# data['ICMS_TOT_0'] = ficha_3['ICMS_TOT']
# data['CST'] = ficha_3['CST']
# data['Valor ICMS Operação'] = ficha_3['Valor ICMS Operação']
# data['VALOR_UNIT'] = np.where((data['CFOP'].astype(float).isin([1403, 1411, 2411])),
#                                 data['ICMS_TOT_0'].fillna(0) / data['QTD_CAT'],
#                                 np.nan)
# data['VALOR_OP_UNIT'] = np.where((data['CFOP'].astype(float).isin([1403, 1411, 2411])),
#                                 data['Valor ICMS Operação'].fillna(0) / data['QTD_CAT'],
#                                 np.nan)

# grouped_data = data.groupby('COD_ITEM').agg({
#     'VALOR_UNIT': 'mean',
#     'VALOR_OP_UNIT': 'mean',
#     'QTD_INI': 'first'
# })

# # Cálculo vetorizado para icms_init
# grouped_data['ICMS_INI'] = grouped_data['VALOR_UNIT'] * (1 - 0.3 * np.random.random(size=len(grouped_data))) * grouped_data['QTD_INI']
# grouped_data['ICMS_OP_INI'] = grouped_data['VALOR_OP_UNIT'] * (1 - 0.3 * np.random.random(size=len(grouped_data))) * grouped_data['QTD_INI']
# data = data.merge(grouped_data[['ICMS_INI', 'ICMS_OP_INI']], how='left', left_on='COD_ITEM', right_index=True)

# mask = data.duplicated(subset='COD_ITEM', keep='first')

# # Definindo como nulo valores de 'ICMS_INI' onde a máscara é True, indicando que não é a primeira linha para 'COD_ITEM'
# data['ICMS_INI'] = np.where(mask, np.nan, data['ICMS_INI'])
# data['ICMS_OP_INI'] = np.where(mask, np.nan, data['ICMS_OP_INI'])

C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1160875099.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  produtos = pd.read_sql_query(query, connection)
C:\Users\vinic\AppData\Local\Temp\ipykernel_7116\1160875099.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ficha_3['DATA'] = pd.to_datetime(ficha_3['DATA'], format='%Y-%m-%d')

In [266]:
ficha_3[(ficha_3['CFOP'].isin([1403, 1411, 2411])) & (ficha_3['COD_ITEM'] == '101001')]

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,Valor ICMS Operação,CST,ALIQUOTA,FONTE,ICMS_TOT,VALOR,MVA
173,35220525127819000145550010000124491081658752,2022-05-12,1403,2,101001,0,1,416.0,197.600,60.0,25.0,entrada,314.421120,790.40,0.5912
174,35220525127819000145550010000124581639999830,2022-05-13,1403,1,101001,0,1,32.0,15.200,60.0,25.0,entrada,24.186240,60.80,0.5912
375,51220845880032000167550010000000261017554080,2022-11-25,2411,68,101001,0,-1,9.0,8.505,NaN,25.0,entrada,13.533156,34.02,0.5912

In [255]:
data[data['CFOP'].isin([1403, 1411, 2411])]

,COD_ITEM,DATA,QTD_CAT,IND_OPER,CFOP,OPER,SALDO,QTD_INI,SUB_TIPO,ICMS_TOT_0,CST,Valor ICMS Operação,VALOR_UNIT,VALOR_OP_UNIT,ICMS_INI,ICMS_OP_INI
0,101001,2022-05-12,416.0,0,1403,416.0,416.0,2750.0,1,2101.956939,60.0,197.600,5.052781,0.475,14488.884443,1551.410929
1,101001,2022-05-13,32.0,0,1403,32.0,448.0,NaN,1,161.688995,60.0,15.200,5.052781,0.475,NaN,NaN
202,101001,2022-11-25,9.0,0,2411,9.0,-2451.0,NaN,-1,90.471375,NaN,8.505,10.052375,0.945,NaN,NaN