In [11]:
# Importação das bibliotecas necessárias
import pandas as pd
import numpy as np
import psycopg2
import math
from datetime import datetime
import sys
import os
import openpyxl
import boto3
from io import BytesIO

In [12]:
pd.set_option("display.max_columns", None)

In [60]:
nome_empresa = input("Digite o nome da empresa: ")

if nome_empresa.lower() == 'tateti':
    cnpj = "65369985000504"
    cnpj_produtos = "65369985000334"
    cnpjs = [cnpj]

if nome_empresa.lower() == 'ladakh':
    cnpj = "07318052000150"
    cnpj_produtos = "07318052000150"
    cnpjs = [cnpj]
    
connection = psycopg2.connect(
        user=  'cat',
        password=  '5pM2h0MBQu9JHkxHud2A',
        host=  '177.11.49.194',
        port="3361",
        database=  '4btaxtech'
    )

# Variáveis para acesso ao s3
bucket_name = '4btaxtech'

s3 = boto3.client('s3', 
                  aws_access_key_id='AKIA4RCAOBRSFONXEUTE', 
                  aws_secret_access_key='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',
                  region_name='us-east-1'
                  )

In [14]:
def ler_arquivo_para_dataframe(bucket_name, s3_key, file_type='csv'):
    """
    Lê um arquivo do S3 e carrega em um DataFrame do Pandas.
    
    :param bucket_name: Nome do bucket.
    :param s3_key: Caminho do arquivo no S3.
    :param file_type: Tipo do arquivo ('csv' ou 'xlsx').
    :return: DataFrame do Pandas.
    """
    try:
        response = s3.get_object(Bucket=bucket_name, Key=s3_key)
        if file_type == 'csv':
            df = pd.read_csv(BytesIO(response['Body'].read()), dtype=str, header=0, sep=';')
        elif file_type == 'xlsx':
            df = pd.read_excel(BytesIO(response['Body'].read()))
        else:
            raise ValueError("Tipo de arquivo não suportado. Use 'csv' ou 'xlsx'.")
        print(f"Arquivo '{s3_key}' lido com sucesso!")
        return df
    except Exception as e:
        print(f"Erro ao ler arquivo do S3: {e}")
        return None
    
def salvar_dataframe_no_s3(df, bucket_name, s3_key, file_type='csv'):
    """
    Salva um DataFrame do Pandas no S3.
    
    :param df: DataFrame a ser salvo.
    :param bucket_name: Nome do bucket.
    :param s3_key: Caminho para salvar o arquivo no S3.
    :param file_type: Tipo do arquivo ('csv' ou 'xlsx').
    """
    try:
        buffer = BytesIO()
        if file_type == 'csv':
            df.to_csv(buffer, index=False, encoding='utf-8')
        elif file_type == 'xlsx':
            with pd.ExcelWriter(buffer, engine='xlsxwriter') as writer:
                df.to_excel(writer, index=False)
        else:
            raise ValueError("Tipo de arquivo não suportado. Use 'csv' ou 'xlsx'.")
        
        buffer.seek(0)  # Resetar o ponteiro do buffer
        s3.put_object(Bucket=bucket_name, Key=s3_key, Body=buffer.getvalue())
        print(f"Arquivo salvo com sucesso em '{s3_key}'.")
    except Exception as e:
        print(f"Erro ao salvar arquivo no S3: {e}")

In [303]:
def baixar_arquivo(bucket_name, s3_key, local_file_name):
    try:
        s3.download_file(bucket_name, s3_key, local_file_name)
        print(f"Arquivo '{s3_key}' baixado como '{local_file_name}'.")
    except Exception as e:
        print(f"Erro ao baixar arquivo: {e}")

baixar_arquivo(bucket_name, s3_key=f'Cat42/{nome_empresa.title()}/Ficha 3/ficha_3_{nome_empresa.title()}_{cnpj}_v2.xlsx',
               local_file_name=f'ficha_3_{nome_empresa}_{cnpj}_v2.xlsx')

Arquivo 'Cat42/Tateti/Ficha 3/ficha_3_Tateti_65369985000334_v2.xlsx' baixado como 'ficha_3_tateti_65369985000334_v2.xlsx'.

In [164]:
colunas = ['Código da Mercadoria', 'Número da Ordem', 'Data', 'Chave', 'Tipo', 'Série do documento', 'Número da nota',
            'Código do Remetente ou Destinatário', 'CFOP', 'Número do Item no Documento XML', 'Quantidade (Entrada)',
            'Valor Total do ICMS Suportado na Retenção ou Antecipação por ST', 'Quantidade (Saída)',
            'Valor Unitário do ICMS Suportado', 'Saída a Consumidor ou Usuário Final - Código Enquadramento Legal = 1',
            'Fato Gerador Não Realizado - Código Enquadramento Legal = 2', 
            'Saída ou Saída Subsequente com isenção ou Não incidência - Código Enquadramento Legal = 3',
            'Saída para Outro Estado - Código Enquadramento Legal = 4',
            'Saída para Comercialização Subsequente(Demais Saídas) - Código Enquadramento Legal = 0',
            'ICMS Efetivo na Saída a Consumidor ou Usuário Final ou no caso de Saída Subsequente com Isenção ou Não Incidência',
            'Quantidade',  'Valor Unitário do Saldo', 'Valor Total do Saldo', 'Valor do Ressarcimento', 'Valor do Complemento',
            'ICMS Efetivo da Entrada', 'ICMS - Crédito da Operação Própria (artigo 271 do RICMS)']

ficha_3_revizia = pd.DataFrame(columns=colunas)
teste = ler_arquivo_para_dataframe(bucket_name=bucket_name, s3_key=f'Cat42/{nome_empresa.title()}/Ficha 3/ficha_3_{nome_empresa.title()}_{cnpj}_v2.xlsx',
                                  file_type='xlsx')

Arquivo 'Cat42/Tateti/Ficha 3/ficha_3_Tateti_65369985000504_v2.xlsx' lido com sucesso!

In [ ]:
ficha_3_revizia['Código da Mercadoria'] = teste['COD_ITEM']
ficha_3_revizia['Número da Ordem'] = teste.groupby('COD_ITEM').cumcount() + 1
ficha_3_revizia['Data'] = teste['DATA']
ficha_3_revizia['Chave'] = teste['CHV_DOC']
ficha_3_revizia['Tipo'] = teste['IND_OPER']
ficha_3_revizia['Código do Remetente ou Destinatário'] = teste['CHV_DOC'].str.slice(6, 20)
ficha_3_revizia['CFOP'] = teste['CFOP']
ficha_3_revizia['Série do documento'] = ficha_3_revizia['Chave'].str.slice(22, 25)
ficha_3_revizia['Número da nota'] = ficha_3_revizia['Chave'].str.slice(25,34)
ficha_3_revizia['Número do Item no Documento XML'] = teste['NUM_ITEM']
ficha_3_revizia['Quantidade (Entrada)'] = np.where(teste['IND_OPER'] == 0, teste['QTD_CAT'], np.nan)
ficha_3_revizia['Valor Total do ICMS Suportado na Retenção ou Antecipação por ST'] = teste['ICMS_TOT']
ficha_3_revizia['Quantidade (Saída)'] = np.where(teste['IND_OPER'] == 1, teste['QTD_CAT'], np.nan)
ficha_3_revizia['Valor Unitário do ICMS Suportado'] = teste['ICMS_SAIDA_UNI']
ficha_3_revizia['Saída a Consumidor ou Usuário Final - Código Enquadramento Legal = 1'] = np.where(teste['COD_LEGAL'] == 1,
                                                                                                   teste['ICMS_SAIDA'],
                                                                                                   np.nan)
ficha_3_revizia['Saída para Comercialização Subsequente(Demais Saídas) - Código Enquadramento Legal = 0'] = np.where(teste['COD_LEGAL'] == 0,
                                                                                                                     teste['ICMS_SAIDA'],
                                                                                                                     np.nan)
ficha_3_revizia['Fato Gerador Não Realizado - Código Enquadramento Legal = 2'] = np.where(teste['COD_LEGAL'] == 2,
                                                                                          teste['ICMS_SAIDA'],
                                                                                          np.nan)
ficha_3_revizia['Saída ou Saída Subsequente com isenção ou Não incidência - Código Enquadramento Legal = 3'] = np.where(teste['COD_LEGAL'] == 3,
                                                                                          teste['ICMS_SAIDA'],
                                                                                          np.nan)
ficha_3_revizia['Saída para Outro Estado - Código Enquadramento Legal = 4'] = np.where(teste['COD_LEGAL'] == 4,
                                                                                          teste['ICMS_SAIDA'],
                                                                                          np.nan)
ficha_3_revizia['ICMS Efetivo na Saída a Consumidor ou Usuário Final ou no caso de Saída Subsequente com Isenção ou Não Incidência'] = teste['VLR_CONF_0']
ficha_3_revizia['Quantidade'] = teste['QTD_SALDO']
ficha_3_revizia['Valor Total do Saldo']  = teste['ICMS_TOT_SALDO']
ficha_3_revizia['Valor Unitário do Saldo'] = ficha_3_revizia['Valor Total do Saldo'] / ficha_3_revizia['Quantidade']
ficha_3_revizia['Valor do Ressarcimento'] = teste['VLR_RESSARCIMENTO']
ficha_3_revizia['Valor do Complemento'] = teste['VLR_COMPLEMENTO']
ficha_3_revizia['ICMS Efetivo da Entrada'] = np.where(teste['COD_LEGAL'].isin([2, 3, 4]), 
                                                      teste['ICMS_EFETIVO_ENTRADA'],
                                                      np.nan)
ficha_3_revizia['ICMS - Crédito da Operação Própria (artigo 271 do RICMS)'] = np.where(teste['COD_LEGAL'] == 4,
                                                                                       teste['ICMS_EFETIVO_ENTRADA'],
                                                                                       np.nan)

# Função para extrair os dados de acordo com o modelo da chave
def extrair_dados(chave):
    if isinstance(chave, str) and len(chave) == 44:  # Verifica se a chave tem 44 caracteres
        modelo = chave[20:22]  # Posições 21 e 22 determinam o modelo

        if modelo == "55":  # Modelo 55 (NF-e)
            serie = chave[22:25]  # Posições 23 a 25 (3 caracteres)
            numero_nota = chave[25:34]  # Posições 26 a 34 (9 caracteres)
        elif modelo == "59":  # Modelo 59 (CFe-SAT)
            serie = chave[22:31]  # Posições 23 a 31 (9 caracteres - Número de Série do SAT)
            numero_nota = chave[31:37]  # Posições 32 a 37 (6 caracteres - Número do CFe-SAT)
        else:
            serie, numero_nota = None, None  # Caso seja um modelo diferente

        return serie, numero_nota
    return None, None


# Aplicar a função em todas as chaves e preencher as colunas
ficha_3_revizia[['Série do documento', 'Número da nota']] = ficha_3_revizia['Chave'].apply(lambda x: pd.Series(extrair_dados(x)))

# Função para inserir a linha "cabeçalho" antes das linhas do grupo
def inserir_linha_inicial(grupo):
    # Identificar o código da mercadoria (COD_ITEM) do grupo atual
    cod_item = grupo['Código da Mercadoria'].iloc[0]
    
    # Buscar a primeira linha correspondente no 'teste'
    # (assumindo que todo cod_item de ficha_3_revizia está presente em teste)
    row_teste = teste.loc[teste['COD_ITEM'] == cod_item].iloc[0]

    # Montar o dicionário da nova linha, com colunas específicas
    nova_linha = {
        'Código da Mercadoria': cod_item,
        'Quantidade': row_teste['QTD_INI'],
        'Valor Unitário do Saldo': row_teste['ULT_ICMS_SAIDA_UNI'],
        'Valor Total do Saldo': row_teste['ICMS_INI'],
        # Se quiser deixar as demais colunas em branco (NaN) ou algum valor fixo
        # 'Outra Coluna': '',
        # ...
    }
    
    # Converter a nova linha em um DataFrame de uma única linha
    nova_linha_df = pd.DataFrame([nova_linha])
    
    # Concatenar a nova linha ao grupo (colocando a nova linha antes)
    return pd.concat([nova_linha_df, grupo], ignore_index=True)

# Agrupar por 'Código da Mercadoria' e aplicar a função
ficha_3_revizia_com_cabecalho = (
    ficha_3_revizia
    .groupby('Código da Mercadoria', group_keys=False)
    .apply(inserir_linha_inicial)
)

ficha_3_revizia_com_cabecalho = ficha_3_revizia_com_cabecalho[['Código da Mercadoria', 'Número da Ordem', 'Data', 'Chave', 'Tipo', 'Série do documento', 'Número da nota',
            'Código do Remetente ou Destinatário', 'CFOP', 'Número do Item no Documento XML', 'Quantidade (Entrada)',
            'Valor Total do ICMS Suportado na Retenção ou Antecipação por ST', 'Quantidade (Saída)',
            'Valor Unitário do ICMS Suportado', 'Saída a Consumidor ou Usuário Final - Código Enquadramento Legal = 1',
            'Fato Gerador Não Realizado - Código Enquadramento Legal = 2', 
            'Saída ou Saída Subsequente com isenção ou Não incidência - Código Enquadramento Legal = 3',
            'Saída para Outro Estado - Código Enquadramento Legal = 4',
            'Saída para Comercialização Subsequente(Demais Saídas) - Código Enquadramento Legal = 0',
            'ICMS Efetivo na Saída a Consumidor ou Usuário Final ou no caso de Saída Subsequente com Isenção ou Não Incidência',
            'Quantidade',  'Valor Unitário do Saldo', 'Valor Total do Saldo', 'Valor do Ressarcimento', 'Valor do Complemento',
            'ICMS Efetivo da Entrada', 'ICMS - Crédito da Operação Própria (artigo 271 do RICMS)']]


ficha_3_revizia_com_cabecalho

C:\Users\vinic\AppData\Local\Temp\ipykernel_31396\4059727930.py:94: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(inserir_linha_inicial)

,Código da Mercadoria,Número da Ordem,Data,Chave,Tipo,Série do documento,Número da nota,Código do Remetente ou Destinatário,CFOP,Número do Item no Documento XML,Quantidade (Entrada),Valor Total do ICMS Suportado na Retenção ou Antecipação por ST,Quantidade (Saída),Valor Unitário do ICMS Suportado,Saída a Consumidor ou Usuário Final - Código Enquadramento Legal = 1,Fato Gerador Não Realizado - Código Enquadramento Legal = 2,Saída ou Saída Subsequente com isenção ou Não incidência - Código Enquadramento Legal = 3,Saída para Outro Estado - Código Enquadramento Legal = 4,Saída para Comercialização Subsequente(Demais Saídas) - Código Enquadramento Legal = 0,ICMS Efetivo na Saída a Consumidor ou Usuário Final ou no caso de Saída Subsequente com Isenção ou Não Incidência,Quantidade,Valor Unitário do Saldo,Valor Total do Saldo,Valor do Ressarcimento,Valor do Complemento,ICMS Efetivo da Entrada,ICMS - Crédito da Operação Própria (artigo 271 do RICMS)
0,001010101002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.83,3.793936,507.742430,NaN,NaN,NaN,NaN
1,001010101002,1.0,2020-03-16,35200365369985000504550060000473171100175734,1.0,006,000047317,65369985000504,5405.0,3.0,NaN,0.0,8.0,3.793936,30.351487,NaN,NaN,NaN,NaN,17.1216,125.83,3.793936,477.390944,13.229887,0.0,NaN,NaN
2,001010101002,2.0,2020-03-18,35200365369985000504550060000473911100009840,1.0,006,000047391,65369985000504,5405.0,1.0,NaN,0.0,3.0,3.793936,11.381807,NaN,NaN,NaN,NaN,8.1432,122.83,3.793936,466.009136,3.238607,0.0,NaN,NaN
3,001010101002,3.0,2020-04-24,35200465369985000504550060000483591100304419,1.0,006,000048359,65369985000504,5405.0,8.0,NaN,0.0,50.0,3.793936,189.696791,NaN,NaN,NaN,NaN,135.7200,72.83,3.793936,276.312346,53.976791,0.0,NaN,NaN
4,001010101002,4.0,2020-05-06,35200565369985000504550060000486951100123356,1.0,006,000048695,65369985000504,5405.0,19.0,NaN,0.0,10.0,3.793936,37.939358,NaN,NaN,NaN,NaN,32.5800,62.83,3.793936,238.372987,5.359358,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,VIAVE3001005,3.0,2020-10-23,35201065369985000504590003340440078578021018,1.0,000334044,007857,65369985000504,5102.0,1.0,NaN,0.0,1.0,2.122003,NaN,NaN,NaN,NaN,2.122003,1.6788,1.00,2.122003,2.122003,0.000000,0.0,NaN,NaN
4,VIAVE3001005,4.0,2020-10-23,35201065369985000504590003340440078578021018,1.0,000334044,007857,65369985000504,5102.0,2.0,NaN,0.0,1.0,2.122003,NaN,NaN,NaN,NaN,2.122003,1.6788,0.00,NaN,0.000000,0.000000,0.0,NaN,NaN
0,VIAVE3001006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00,1.060243,2.120486,NaN,NaN,NaN,NaN
1,VIAVE3001006,1.0,2020-06-18,35200665369985000504590003340440044091519950,1.0,000334044,004409,65369985000504,5102.0,1.0,NaN,0.0,1.0,1.060243,NaN,NaN,NaN,NaN,1.060243,0.8388,1.00,1.060243,1.060243,0.000000,0.0,NaN,NaN
2,VIAVE3001006,2.0,2020-06-26,35200665369985000504590003340440046248265500,1.0,000334044,004624,65369985000504,5102.0,1.0,NaN,0.0,1.0,1.060243,NaN,NaN,NaN,NaN,1.060243,0.8388,0.00,NaN,0.000000,0.000000,0.0,NaN,NaN

In [166]:
salvar_dataframe_no_s3(ficha_3_revizia_com_cabecalho,
                    bucket_name,
                    f'Cat42/{nome_empresa.title()}/Ficha 3 Revizia/ficha_3_modelo_revizia_{nome_empresa.title()}_{cnpj}.xlsx',
                                                           file_type='xlsx')

Arquivo salvo com sucesso em 'Cat42/Tateti/Ficha 3 Revizia/ficha_3_modelo_revizia_Tateti_65369985000504.xlsx'.

In [6]:
sum(teste['VLR_RESSARCIMENTO'])

2700214.5340872207

In [ ]:
import pandas as pd

# Caminho do arquivo Excel
caminho_arquivo = r"C:\Users\simas\OneDrive\Área de Trabalho\teste.xlsx"

# Carregar a planilha
df = pd.read_excel(caminho_arquivo, dtype=str)


# Função para extrair os dados de acordo com o modelo da chave
def extrair_dados(chave):
    if isinstance(chave, str) and len(chave) == 44:  # Verifica se a chave tem 44 caracteres
        modelo = chave[20:22]  # Posições 21 e 22 determinam o modelo

        if modelo == "55":  # Modelo 55 (NF-e)
            serie = chave[22:25]  # Posições 23 a 25 (3 caracteres)
            numero_nota = chave[25:34]  # Posições 26 a 34 (9 caracteres)
        elif modelo == "59":  # Modelo 59 (CFe-SAT)
            serie = chave[22:31]  # Posições 23 a 31 (9 caracteres - Número de Série do SAT)
            numero_nota = chave[31:37]  # Posições 32 a 37 (6 caracteres - Número do CFe-SAT)
        else:
            serie, numero_nota = None, None  # Caso seja um modelo diferente

        return serie, numero_nota
    return None, None


# Aplicar a função em todas as chaves e preencher as colunas
df[['Série do documento', 'Número da nota']] = df['Chave'].apply(lambda x: pd.Series(extrair_dados(x)))

# Salvar a planilha atualizada
caminho_saida = r"C:\Users\simas\OneDrive\Área de Trabalho\teste_atualizado.xlsx"
df.to_excel(caminho_saida, index=False)

print(f"Arquivo atualizado salvo em: {caminho_saida}")

In [ ]:
def calcular_ressarcimento(tabela_2):
    '''
    Função para cálculo do valor de ressarcimento
    para a loja e de outras informações para o
    arquivo TXT final
    
    '''
    # tabela_2 = tabela_2.drop('Unnamed: 0', axis=1)
    tabela_2 = tabela_2.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                                ascending=[True, True, True, True]).reset_index().drop('index', axis=1)


    tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(float)

    ficha_3 = tabela_2[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'QTD_CAT', 'Valor ICMS Operação',
                            'CST', 'ALIQUOTA', 'FONTE']]

    query = 'SELECT * FROM produtos'
    produtos = pd.read_sql_query(query, connection)

    # Ordenação da tabela de acordo com os critérios definidos
    ficha_3['DATA'] = pd.to_datetime(ficha_3['DATA'], format='%Y-%m-%d')
    ficha_3 = ficha_3.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                                ascending=[True, True, True, True])

    ficha_3['ICMS_TOT'] = tabela_2['ICMS_TOT'].astype(float)
    ficha_3['VALOR'] = tabela_2['VALOR']

    ficha_3 = ficha_3.merge(produtos[['codigo_produto', 'mva_antes']], 
                        left_on='COD_ITEM',
                        right_on='codigo_produto',
                        how='left')
    ficha_3 = ficha_3.drop('codigo_produto', axis=1).rename(columns={'mva_antes': 'MVA'})

    ficha_3['VALOR'] = ficha_3['VALOR'].astype(str).replace('-', np.nan).astype(float)
    ficha_3['ALIQUOTA'] = ficha_3['ALIQUOTA'].astype(str).replace('-', np.nan).astype(float)
    ficha_3['MVA'] = ficha_3['MVA'].astype(str).replace('-', np.nan).replace('None', np.nan).astype(float)


    ficha_3['ICMS_TOT'] = np.where((ficha_3['CST'].astype(float) == 60) & (ficha_3['ICMS_TOT'] == 0), 
                                ficha_3['VALOR'] * (ficha_3['ALIQUOTA'] / 100) * ficha_3['MVA'] * 0.8,
                                ficha_3['ICMS_TOT'])

    ficha_3['Valor ICMS Operação'] = np.where((ficha_3['CFOP'].astype(float) == 1403) & (ficha_3['Valor ICMS Operação'].astype(float) == 0),
                                            (ficha_3['ALIQUOTA'].astype(float)/ 100) * ficha_3['VALOR'].astype(float),
                                            ficha_3['Valor ICMS Operação'])

    data = ficha_3[['COD_ITEM', 'DATA', 'QTD_CAT', 'IND_OPER']]

    # Transformação da coluna 'DATA' para o tipo correto
    data['DATA'] = pd.to_datetime(data['DATA'], format='%Y-%m-%d')

    # Ordenação do dataset para cálculo correto do ICMS inicial

    data['IND_OPER'] = data['IND_OPER'].astype(int)
    data = data.sort_values(by=['COD_ITEM','DATA', 'IND_OPER'], ascending=[True, True, True])

    # Cáculo dos saldos das operações para definição da Quantidade Inicial
    data['OPER'] = np.where(data['IND_OPER'] == 0, data['QTD_CAT'], -data['QTD_CAT'])
    data['SALDO'] = data.groupby('COD_ITEM')['OPER'].cumsum()

    # Criação da coluna para as informações da Quantidade Inicial

    min_saldo = data.groupby('COD_ITEM')['SALDO'].transform('min')

    # Set 'QTD_INI' to the minimum 'SALDO' value if it's less than or equal to 0,
    # otherwise set it to 0
    data['QTD_INI'] = np.where(min_saldo <= 0, min_saldo.abs(), 0)

    # Get the first rows within each group
    first_rows = data.groupby('COD_ITEM').head(1)

    # Set 'QTD_INI' to NaN for all rows except the last rows within each group
    data['QTD_INI'] = np.where(data.index.isin(first_rows.index), data['QTD_INI'], np.nan)

    # Update 'QTD_INI' with calculated values for the last rows
    data.loc[first_rows.index, 'QTD_INI'] = first_rows['QTD_INI']

    # Cálculo do ICMS inicial 

    data['SUB_TIPO'] = tabela_2['SUB_TIPO']
    data['ICMS_TOT_0'] = ficha_3['ICMS_TOT']
    data['CST'] = ficha_3['CST']
    data['Valor ICMS Operação'] = ficha_3['Valor ICMS Operação']
    data['VALOR_UNIT'] = np.where((data['SUB_TIPO'] == 1) & (data['IND_OPER'] == 0),
                                    data['ICMS_TOT_0'].fillna(0) / data['QTD_CAT'],
                                    np.nan)
    data['VALOR_OP_UNIT'] = np.where((data['SUB_TIPO'] == 1) & (data['IND_OPER'] == 0),
                                    data['Valor ICMS Operação'].fillna(0) / data['QTD_CAT'],
                                    np.nan)

    grouped_data = data.groupby('COD_ITEM').agg({
        'VALOR_UNIT': 'mean',
        'VALOR_OP_UNIT': 'mean',
        'QTD_INI': 'first'
    })

    # Cálculo vetorizado para icms_init
    grouped_data['ICMS_INI'] = grouped_data['VALOR_UNIT'] * (1 - 0.3 * np.random.random(size=len(grouped_data))) * grouped_data['QTD_INI']
    grouped_data['ICMS_OP_INI'] = grouped_data['VALOR_OP_UNIT'] * (1 - 0.3 * np.random.random(size=len(grouped_data))) * grouped_data['QTD_INI']
    data = data.merge(grouped_data[['ICMS_INI', 'ICMS_OP_INI']], how='left', left_on='COD_ITEM', right_index=True)

    mask = data.duplicated(subset='COD_ITEM', keep='first')

    # Definindo como nulo valores de 'ICMS_INI' onde a máscara é True, indicando que não é a primeira linha para 'COD_ITEM'
    data['ICMS_INI'] = np.where(mask, np.nan, data['ICMS_INI'])
    data['ICMS_OP_INI'] = np.where(mask, np.nan, data['ICMS_OP_INI'])

    produtos_somente_saida = tabela_2.groupby('COD_ITEM')['IND_OPER'].all()
    produtos_somente_saida = produtos_somente_saida[produtos_somente_saida == True].index
    prods_icms_0 = data[(data['QTD_INI'] != 0) & ((data['ICMS_INI'] == 0) | (data['ICMS_OP_INI'] == 0))]
    for produto in list(produtos_somente_saida) + list(prods_icms_0['COD_ITEM'].unique()) + list(prods_icms_0['COD_ITEM'].unique()):
    # for produto in data['COD_ITEM'].unique():
    # Executa a consulta para obter os valores mva_antes e mva_depois
        query = f"SELECT mva_antes, mva_depois FROM produtos WHERE codigo_produto = '{produto}'"
        try:
            mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
        except:
            mva = 0
        
        # Calcula o lucro e a quantidade total
        lucro = sum(tabela_2[(tabela_2['COD_ITEM'] == produto) & (tabela_2['IND_OPER'] == 1)]['VALOR'])
        tot_qtde = sum(tabela_2[(tabela_2['COD_ITEM'] == produto) & (tabela_2['IND_OPER'] == 1)]['QTD_CAT'])
        aliquota = tabela_2[tabela_2['COD_ITEM'] == produto]['ALIQUOTA'].values[0] / 100

        
        try:
            # Calcula o valor unitário, base ST estimada e ICMS
            valor_unit = (lucro * 0.8) / tot_qtde
            base_st_estimada = valor_unit + (valor_unit * mva)
            icms_op_unit = valor_unit * aliquota
            icms_suport_unit = base_st_estimada * aliquota
            icms_inicial = icms_suport_unit * tot_qtde

        except:
            icms_inicial = 0
            icms_op_unit = 0
            

        # Verifica se o produto está presente no DataFrame 'data'
        produto_idx = data[data['COD_ITEM'] == produto].index

        if not produto_idx.empty:
            # Garante que a coluna 'ICMS_INI' seja do tipo float
            data['ICMS_INI'] = data['ICMS_INI'].astype(float)
            data['ICMS_OP_INI'] = data['ICMS_OP_INI'].astype(float)

            # Atualiza o valor na primeira linha correspondente ao COD_ITEM
            data.loc[produto_idx[0], 'ICMS_INI'] = icms_inicial
            data.loc[produto_idx[0], 'ICMS_OP_INI'] = icms_op_unit * data.loc[produto_idx[0], 'QTD_INI']

    # Definição das colunas para cálculo de ressarcimento de acordo com as regras
    ficha_3['QTD_INI'] = data['QTD_INI'].astype(float)
    ficha_3['ICMS_INI'] = data['ICMS_INI'].astype(float)
    ficha_3['ICMS_OP_INI'] = data['ICMS_OP_INI'].astype(float)
    ficha_3['ICMS_INI'] = np.where((ficha_3['QTD_INI'] == 0) | (ficha_3['ICMS_INI'].isnull() & ficha_3['QTD_INI'].notnull()),
                                    0,
                                    ficha_3['ICMS_INI'])

    ficha_3 = ficha_3[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER', 
                        'SUB_TIPO', 'QTD_CAT', 'Valor ICMS Operação','CST', 'QTD_INI','ICMS_INI', 'ICMS_OP_INI',
                        'ALIQUOTA', 'FONTE', 'ICMS_TOT', 'VALOR']]
    
    # Inicializa as colunas
    ficha_3['valor_op_fixo'] = 0
    ficha_3['qtd_fixa'] = 0

    # Processamento dos valores fixos acumulados
    for cod in ficha_3['COD_ITEM'].unique():
        subset = ficha_3[ficha_3['COD_ITEM'] == cod].copy()

        acum_val = 0
        acum_qtd = 0

        for i, row in subset.iterrows():
            if row['IND_OPER'] == 0:
                ficha_3.loc[i, 'valor_op_fixo'] = acum_val
                ficha_3.loc[i, 'qtd_fixa'] = acum_qtd

                acum_val += row['Valor ICMS Operação']
                acum_qtd += row['QTD_CAT']

    # Cálculo do valor médio
    valor_medio = []

    for cod in ficha_3['COD_ITEM'].unique():
        subset = ficha_3[ficha_3['COD_ITEM'] == cod].copy().reset_index()

        for i, row in subset.iterrows():
            if i == 0:  # Primeira linha
                if row['IND_OPER'] == 0:
                    # Calcular com valores acumulados
                    num = row['valor_op_fixo'] + row['Valor ICMS Operação'] + row['ICMS_OP_INI']
                    den = row['qtd_fixa'] + row['QTD_CAT'] + row['QTD_INI']
                    valor_medio.append(num / den)
                elif row['IND_OPER'] == 1:
                    # Calcular com ICMS_OP_INI e QTD_INI
                    num = row['ICMS_OP_INI']
                    den = row['QTD_INI']
                    valor_medio.append(num / den)
            else:  # Demais linhas
                if row['IND_OPER'] == 0:
                    # Calcular com valores acumulados
                    num = row['valor_op_fixo'] + row['Valor ICMS Operação'] + subset.iloc[0]['ICMS_OP_INI']
                    den = row['qtd_fixa'] + row['QTD_CAT'] + subset.iloc[0]['QTD_INI']
                    valor_medio.append(num / den)
                elif row['IND_OPER'] == 1:
                    # Para IND_OPER == 1, deixamos como NaN
                    valor_medio.append(np.nan)

    # Adiciona a coluna 'valor_medio' ao DataFrame e preenche valores ausentes
    ficha_3['valor_medio'] = valor_medio
    ficha_3['valor_medio'] = ficha_3['valor_medio'].ffill()  # Preenche valores ausentes com o valor anterior

    # Cálculos finais
    ficha_3['COD_LEGAL'] = tabela_2['COD_LEGAL'].astype(float)
    ficha_3['ICMS_EFETIVO_ENTRADA'] = ficha_3['valor_medio'] * ficha_3['QTD_CAT']
    ficha_3['ICMS_EFETIVO_ENTRADA'] = np.where(ficha_3['COD_LEGAL'] > 1,
                                            ficha_3['ICMS_EFETIVO_ENTRADA'],
                                            np.nan)

    ficha_3['IND_OPER'] = ficha_3['IND_OPER'].astype(int)
    ficha_3['SUB_TIPO'] = ficha_3['SUB_TIPO'].astype(int)

    mask_condition1 = (ficha_3['IND_OPER'] == 0) & (ficha_3['SUB_TIPO'] == 1)
    mask_condition2 = (ficha_3['IND_OPER'] != 0) & (ficha_3['SUB_TIPO'] == -1)

    qtd_ent1_devolv_ent = list(np.where(mask_condition1, ficha_3['QTD_CAT'], 0) + np.where(mask_condition2, -ficha_3['QTD_CAT'], 0))
    ficha_3['QTD_ent1_devolv_ent'] = qtd_ent1_devolv_ent
    
    mask = ficha_3['QTD_ent1_devolv_ent'] > 0

    ficha_3['ICMS_TOT_ent_unit'] = np.where(mask, ficha_3['ICMS_TOT'] / ficha_3['QTD_ent1_devolv_ent'], 0)
    
    ficha_3['ULT_ICMS_TOT_ent_unit'] = np.nan

    values = np.where(
        (ficha_3['QTD_INI'] != 0) & 
        (ficha_3['COD_ITEM'] == ficha_3['COD_ITEM'].shift()) & 
        (ficha_3['QTD_ent1_devolv_ent'].shift() > 0),
        ficha_3['ICMS_TOT_ent_unit'].shift(),
        np.where(
            (ficha_3['QTD_INI'] == 0),
            0.01,
            ficha_3['ICMS_INI'] / ficha_3['QTD_INI']
        )
    )
    
    
    ficha_3['ULT_ICMS_TOT_ent_unit'] = values

    ficha_3['ULT_ICMS_TOT_ent_unit'] = ficha_3['ULT_ICMS_TOT_ent_unit'].ffill()
    
    mask_condition1 = (ficha_3['IND_OPER'] == 1) & (ficha_3['SUB_TIPO'] == 1)
    mask_condition2 = (ficha_3['IND_OPER'] != 1) & (ficha_3['SUB_TIPO'] == -1)

    qtd_saida_1_devolv_saida_t = np.where(mask_condition1, ficha_3['QTD_CAT'], 0) + np.where(mask_condition2, -ficha_3['QTD_CAT'], 0)

    ficha_3['qtd_saida_1_devolv_saida'] = qtd_saida_1_devolv_saida_t
    
    ficha_3['QTD_SALDO'] = ficha_3.groupby('COD_ITEM').apply(lambda x: (
    x['QTD_INI'].iloc[0] + (x['QTD_ent1_devolv_ent'] - x['qtd_saida_1_devolv_saida']).cumsum())).reset_index(level=0, drop=True)
    
    ficha_3['QTD_SALDO'] = np.where((ficha_3['QTD_SALDO'] < 0.01) & (ficha_3['QTD_SALDO'] > -0.01),
                                         0,
                                         ficha_3['QTD_SALDO'])      
    
    ficha_3['DATA'] = ficha_3['DATA'].astype(str)
    ficha_3['REF'] = ficha_3['DATA']
    ficha_3['REF'] = [datetime.strptime(x, '%Y-%m-%d').strftime('%m-%Y') for x in ficha_3['REF']]

    # Definição do primeiro valor de ICMS_SAIDA_UNI
    icms_saida_uni = [] 

    # Definição do primeiro valor de ULT_ICMS_SAIDA_UNI
    ult_icms_saida_uni = [] 

    # Definição do primeiro valor de ICMS_SAIDA
    icms_saida = [] 

    # Definição do primeiro valor de ICMS_TOT_SALDO
    icms_tot_saldo = [] 

    # Definição do primeiro valor de ICMS_TOT_1
    icms_tot_1 = []

    # Definição de todos os outros valores para cada campo acima
    for code in ficha_3['COD_ITEM'].unique():

        icms_saida_uni_int = []
        ult_icms_saida_uni_int = []
        icms_saida_int = []
        icms_tot_saldo_int = []
        icms_tot_1_int = []
        qtd_saida_1_devolv_saida = list(ficha_3[ficha_3['COD_ITEM'] == code]['qtd_saida_1_devolv_saida'])
        qtd_saldo = list(ficha_3[ficha_3['COD_ITEM'] == code]['QTD_SALDO'])
        qtd_cat = list(ficha_3[ficha_3['COD_ITEM'] == code]['QTD_CAT'])
        ref = list(ficha_3[ficha_3['COD_ITEM'] == code]['REF'])

        for i,row in ficha_3[ficha_3['COD_ITEM']==code].reset_index(drop=True).iterrows():

        # ICMS_SAIDA_UNI

            if i == 0:
                if qtd_saida_1_devolv_saida[0] > 0:
                    if row['QTD_INI'] == 0:
                        icms_saida_uni_int.append(0)
                    else:  
                        icms_saida_uni_int.append(row['ICMS_INI'] / row['QTD_INI'])
                else:
                    icms_saida_uni_int.append(0)

            else:
                if (qtd_saida_1_devolv_saida[i] != 0) and (qtd_saldo[i-1] != 0):  
                    icms_saida_uni_int.append(icms_tot_saldo_int[i-1] / qtd_saldo[i-1])               
                else:      
                    icms_saida_uni_int.append(0)

        # ULT_ICMS_SAIDA_UNI
            if i== 0:
                if row['QTD_INI'] == 0:
                    ult_icms_saida_uni_int.append(0.01)
                else:           
                    ult_icms_saida_uni_int.append(
                        row['ICMS_INI'] / row['QTD_INI'] if row['QTD_INI'] != 0 else float("nan"))
            else:
                if qtd_saida_1_devolv_saida[i-1] > 0:
                    ult_icms_saida_uni_int.append(icms_saida_uni_int[i-1])
                else:
                    ult_icms_saida_uni_int.append(ult_icms_saida_uni_int[i-1])


        # ICMS_SAIDA
            if qtd_saida_1_devolv_saida[i] < 0:
                icms_saida_int.append(qtd_saida_1_devolv_saida[i]*ult_icms_saida_uni_int[i])
            else:
                icms_saida_int.append(icms_saida_uni_int[i]*qtd_saida_1_devolv_saida[i])

        # ICMS_TOT_1
            if i == 0:
                if (row['QTD_ent1_devolv_ent'] < 0) & (row['QTD_CAT'] == row['QTD_INI']) :
                    icms_tot_1_int.append(-row['ICMS_INI'])
                else:
                    if pd.isna(row['ICMS_TOT']):
                        icms_tot_1_int.append(0)
                    else:
                        icms_tot_1_int.append(row['ICMS_TOT'])
            else:
                if row['QTD_ent1_devolv_ent'] < 0:
                    if (qtd_cat[i] == qtd_saldo[i-1]):
                        icms_tot_1_int.append(-1*icms_tot_saldo_int[i-1])
                    else:
                        icms_tot_1_int.append(max(row['QTD_ent1_devolv_ent'] * row['ULT_ICMS_TOT_ent_unit'], -1*icms_tot_saldo_int[i-1]))
                else:
                    if pd.isna(row['ICMS_TOT']):
                        icms_tot_1_int.append(0)
                    else: 
                        icms_tot_1_int.append(row['ICMS_TOT']) 

        # ICMS_TOT_SALDO
            if i == 0:
                icms_tot_saldo_int.append(row['ICMS_INI'] + icms_tot_1_int[i] - icms_saida_int[i])
            else:
                icms_tot_saldo_int.append(icms_tot_saldo_int[i-1] + icms_tot_1_int[i] - icms_saida_int[i])


        icms_saida_uni += icms_saida_uni_int
        ult_icms_saida_uni += ult_icms_saida_uni_int
        icms_saida += icms_saida_int
        icms_tot_saldo += icms_tot_saldo_int
        icms_tot_1 += icms_tot_1_int

    ficha_3['ICMS_SAIDA_UNI'] = icms_saida_uni
    ficha_3['ULT_ICMS_SAIDA_UNI'] = ult_icms_saida_uni
    ficha_3['ICMS_SAIDA'] = icms_saida
    ficha_3['ICMS_TOT_SALDO'] = icms_tot_saldo
    ficha_3['ICMS_TOT_SALDO'] = np.where((ficha_3['ICMS_TOT_SALDO'] < 0.01) & (ficha_3['ICMS_TOT_SALDO'] > -0.01),
                                         0,
                                         ficha_3['ICMS_TOT_SALDO'])
    ficha_3['ICMS_TOT_1'] = icms_tot_1
    
    ficha_3['ICMS_TOT_PCAT'] = np.where((ficha_3['qtd_saida_1_devolv_saida'] < 0),
                                     np.abs(ficha_3['ICMS_SAIDA_UNI']),
                                     np.where((ficha_3['QTD_ent1_devolv_ent'] != 0),
                                              np.abs(ficha_3['ICMS_TOT_1']),
                                              np.nan))
    
    if ficha_3[ficha_3['ICMS_TOT_PCAT'] < 0].shape[0] > 0:
        mensagem = 'EXISTE ICMS TOT PCAT NEGATIVO. FAVOR CHECAR!!'
        print(mensagem)
    
    ficha_3['VLR_CONF_0'] = tabela_2['VL_CONFR_0'].astype(float)
    
    mask = ficha_3['qtd_saida_1_devolv_saida'] > 0
    vlr_confr_unit = np.where(mask, ficha_3['VLR_CONF_0']/ficha_3['qtd_saida_1_devolv_saida'], np.nan)

    ficha_3['VLR_CONFR_UNIT'] = vlr_confr_unit
    
    ult_vlr_confr_unit = [0]
    for i in range(1, ficha_3.shape[0]):
        if ficha_3.iloc[i]['COD_ITEM'] != ficha_3.iloc[i-1]['COD_ITEM']:
            ult_vlr_confr_unit.append(0)
        else:
            if math.isnan(ficha_3.iloc[i-1]['VLR_CONFR_UNIT']):
                ult_vlr_confr_unit.append(ult_vlr_confr_unit[i-1])
            else:
                ult_vlr_confr_unit.append(ficha_3.iloc[i-1]['VLR_CONFR_UNIT'])

    ficha_3['ULT_VLR_CONFR_UNIT'] = ult_vlr_confr_unit
    
    ficha_3['VLR_CONFR_1'] = np.where(ficha_3['qtd_saida_1_devolv_saida'] > 0,
                                   ficha_3['VLR_CONF_0'].astype(float),
                                   np.where(ficha_3['qtd_saida_1_devolv_saida'] < 0,
                                            ficha_3['ULT_VLR_CONFR_UNIT'] * ficha_3['qtd_saida_1_devolv_saida'],
                                            0))
    
    ficha_3['VLR_CONFR_1'] = np.where(ficha_3['VLR_CONFR_1'] <= 0.01,
                                              0.01,
                                              ficha_3['VLR_CONFR_1'])
                                              
    ficha_3['VLR_CONFR_1'] = np.where(ficha_3['IND_OPER'] == 1, ficha_3['VLR_CONFR_1'], np.nan)
    
    mask_cod_1 = np.abs(ficha_3['ICMS_SAIDA']) > np.abs(ficha_3['VLR_CONFR_1'])
    mask_cod_3 = ficha_3['VLR_CONFR_1'] < ficha_3['ICMS_EFETIVO_ENTRADA']
    apenas_movimentacao = [1102, 2102, 2209, 2949, 5101, 5102, 
                            5118, 5152, 5201, 5202, 5210,
                            5401, 5409, 5410, 5411, 5413, 5551, 5556, 5603,
                            5910, 5911, 5916, 5920, 5921, 5922, 5923, 5949, 
                            6101, 6103, 6119, 6202, 6401, 6403, 6411,
                            6556, 6910, 6911, 6922, 6923]

    ficha_3['VLR_RESSARCIMENTO'] = 0

    ficha_3['VLR_RESSARCIMENTO'] = np.where(ficha_3['CFOP'].isin(apenas_movimentacao), 0, ficha_3['VLR_RESSARCIMENTO'])

    ficha_3['VLR_RESSARCIMENTO'] = np.where((ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) != 60), 
                                            0, 
                                            ficha_3['VLR_RESSARCIMENTO'])

    ficha_3['VLR_RESSARCIMENTO'] = np.where((ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) == 60) & mask_cod_1,
                                            ficha_3['ICMS_SAIDA'] - ficha_3['VLR_CONFR_1'], 
                                            ficha_3['VLR_RESSARCIMENTO'])

    ficha_3['VLR_RESSARCIMENTO'] = np.where((ficha_3['COD_LEGAL'] == 1) & mask_cod_1 & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])),
                                            ficha_3['ICMS_SAIDA'] - ficha_3['VLR_CONFR_1'], 
                                            ficha_3['VLR_RESSARCIMENTO'])

    ficha_3['VLR_RESSARCIMENTO'] = np.where((ficha_3['COD_LEGAL'] == 2) & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])), 
                                            ficha_3['ICMS_EFETIVO_ENTRADA'].fillna(0), 
                                            ficha_3['VLR_RESSARCIMENTO'])

    ficha_3['VLR_RESSARCIMENTO'] = np.where((ficha_3['COD_LEGAL'] == 3) & mask_cod_3 & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])), 
                                            ficha_3['ICMS_EFETIVO_ENTRADA'].fillna(0), 
                                            ficha_3['VLR_RESSARCIMENTO'])

    ficha_3['VLR_RESSARCIMENTO'] = np.where((ficha_3['COD_LEGAL'] == 4) & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])), 
                                            np.abs(ficha_3['ICMS_SAIDA'] - ficha_3['ICMS_EFETIVO_ENTRADA'].fillna(0)), 
                                            ficha_3['VLR_RESSARCIMENTO'])

    # Garantir que o cálculo de 'VLR_RESSARCIMENTO' seja 0 para as condições específicas
    ficha_3['VLR_RESSARCIMENTO'] = np.where(
        (ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) != 60),
        0,
        ficha_3['VLR_RESSARCIMENTO']
    )

    mask_cod_1 = np.abs(ficha_3['ICMS_SAIDA']) < np.abs(ficha_3['VLR_CONFR_1'])
    mask_cod_3 = ficha_3['VLR_CONFR_1'] > ficha_3['ICMS_EFETIVO_ENTRADA']

    ficha_3['VLR_COMPLEMENTO'] = 0

    ficha_3['VLR_COMPLEMENTO'] = np.where(ficha_3['CFOP'].isin(apenas_movimentacao), 
                                        0, 
                                        ficha_3['VLR_COMPLEMENTO'])

    ficha_3['VLR_COMPLEMENTO'] = np.where((ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) != 60), 
                                            0, 
                                            ficha_3['VLR_COMPLEMENTO'])

    ficha_3['VLR_COMPLEMENTO'] = np.where((ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) == 60) & mask_cod_1,
                                            -ficha_3['ICMS_SAIDA'] + ficha_3['VLR_CONFR_1'], 
                                            ficha_3['VLR_COMPLEMENTO'])

    ficha_3['VLR_COMPLEMENTO'] = np.where((ficha_3['COD_LEGAL'] == 1) & mask_cod_1 & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])),
                                            -ficha_3['ICMS_SAIDA'] + ficha_3['VLR_CONFR_1'], 
                                            ficha_3['VLR_COMPLEMENTO'])

    ficha_3['VLR_COMPLEMENTO'] = np.where((ficha_3['COD_LEGAL'] == 2) & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])), 
                                            0, 
                                            ficha_3['VLR_COMPLEMENTO'])

    ficha_3['VLR_COMPLEMENTO'] = np.where((ficha_3['COD_LEGAL'] == 3) & mask_cod_3 & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])), 
                                            ficha_3['VLR_CONFR_1'] - ficha_3['ICMS_EFETIVO_ENTRADA'], 
                                            ficha_3['VLR_COMPLEMENTO'])

    ficha_3['VLR_COMPLEMENTO'] = np.where((ficha_3['COD_LEGAL'] == 4) & (~ficha_3['CFOP'].isin(apenas_movimentacao)) & (~ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])), 
                                            0, 
                                            ficha_3['VLR_COMPLEMENTO'])

    # Garantir que o cálculo de 'VLR_COMPLEMENTO' seja 0 para as condições específicas
    ficha_3['VLR_COMPLEMENTO'] = np.where(
        (ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) != 60),
        0,
        ficha_3['VLR_COMPLEMENTO']
    )

    ficha_3['COD_LEGAL'] = np.where((ficha_3['CFOP'].isin(apenas_movimentacao)) | ((ficha_3['CFOP'].isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) != 60)),
                                    0,
                                    ficha_3['COD_LEGAL'])

    ficha_3['COD_LEGAL'] = np.where((ficha_3['COD_LEGAL'] == 1) & (ficha_3['VLR_RESSARCIMENTO'] != 0) & (ficha_3['ALIQUOTA'] != 0), 1, ficha_3['COD_LEGAL'])
    ficha_3['COD_LEGAL'] = np.where(ficha_3['CFOP'].isin([5404, 5403, 5401]), 1, ficha_3['COD_LEGAL'])
    ficha_3['COD_LEGAL'] = np.where(ficha_3['CFOP'].isin([1411, 5409]), 0, ficha_3['COD_LEGAL'])
    ficha_3['COD_LEGAL'] = np.where(ficha_3['CFOP'].isin([1403, 1409, 5411]), np.nan, ficha_3['COD_LEGAL'])
    # ficha_3.loc[pd.isna(ficha_3['COD_LEGAL']), 'COD_LEGAL_PCAT'] = np.nan

    ficha_3['VLR_CONFR_PCAT'] = np.where(ficha_3['COD_LEGAL'].isin([1, 3]), 
                                            np.abs(ficha_3['VLR_CONFR_1']), np.nan)

    ficha_3['VLR_CONFR_PCAT'] = np.where((ficha_3['CFOP'].isin(apenas_movimentacao)) | ((ficha_3['CFOP'].astype(int).isin([2202, 5117, 5120, 5929])) & (ficha_3['CST'].astype(float) != 60)), 
                                            np.nan, np.abs(ficha_3['VLR_CONFR_PCAT']))

    if ficha_3[(ficha_3['COD_LEGAL'].isin([1, 3])) & (ficha_3['VLR_CONFR_PCAT'] <= 0)].shape[0] > 0:
        mensagem = 'Há valores de confronto inconsistentes. Favor checar.'
        print(mensagem)
        sys.exit()
    
    mask = (ficha_3['COD_ITEM'].shift(-1) != ficha_3['COD_ITEM']) | (ficha_3['REF'].shift(-1) != ficha_3['REF'])
    saldo_final_mes_qtd = np.where(mask, ficha_3['QTD_SALDO'], np.nan)

    ficha_3['SALDO_FINAL_MES_QTD'] = saldo_final_mes_qtd
    
    mask = (ficha_3['COD_ITEM'].shift(-1) != ficha_3['COD_ITEM']) | (ficha_3['REF'].shift(-1) != ficha_3['REF'])
    saldo_final_mes_icms = np.where(mask, ficha_3['ICMS_TOT_SALDO'], np.nan)

    ficha_3['SALDO_FINAL_MES_ICMS'] = saldo_final_mes_icms
    
    ficha_3['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = tabela_2['Valor Base Cálculo ICMS ST Retido Operação Anterior']
    ficha_3['Valor Complementar'] = tabela_2['Valor Complementar']
    ficha_3['vBCST'] = tabela_2['vBCST']
    ficha_3['Valor ICMS Substituição Tributária'] = tabela_2['Valor ICMS Substituição Tributária']
    ficha_3['Valor ICMS Operação'] = tabela_2['Valor ICMS Operação']
    ficha_3['CNPJ EMITENTE'] = tabela_2['CNPJ EMITENTE']
    
    ficha_3 = ficha_3[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'QTD_CAT',
                        'QTD_INI', 'ICMS_INI', 'QTD_ent1_devolv_ent', 'ICMS_TOT', 'ICMS_TOT_ent_unit',
                        'ULT_ICMS_TOT_ent_unit', 'ICMS_TOT_1', 'qtd_saida_1_devolv_saida', 'ICMS_SAIDA_UNI',
                        'ULT_ICMS_SAIDA_UNI', 'ICMS_SAIDA', 'ICMS_TOT_PCAT', 'VLR_CONF_0', 'VLR_CONFR_UNIT',
                        'ULT_VLR_CONFR_UNIT', 'VLR_CONFR_1', 'QTD_SALDO', 'ICMS_TOT_SALDO', 'VLR_RESSARCIMENTO',
                        'VLR_COMPLEMENTO', 'COD_LEGAL', 'VLR_CONFR_PCAT', 'SALDO_FINAL_MES_QTD',
                        'SALDO_FINAL_MES_ICMS', 'ALIQUOTA', 'VALOR', 'Valor Base Cálculo ICMS ST Retido Operação Anterior',
                        'Valor Complementar', 'Valor ICMS Substituição Tributária', 'Valor ICMS Operação', 'valor_op_fixo',
                        'qtd_fixa', 'valor_medio', 'ICMS_EFETIVO_ENTRADA',
                        'CNPJ EMITENTE', 'vBCST', 'CST',
                        'FONTE']]
    
    return ficha_3

In [206]:
tabela_2 = ler_arquivo_para_dataframe(bucket_name, f'Cat42/{nome_empresa.title()}/Tabela 2/tabela_2_{nome_empresa.title()}_{cnpj}.xlsx', file_type='xlsx')
tabela_2['COD_ITEM'] = tabela_2['COD_ITEM'].astype(str)

ficha_3 = calcular_ressarcimento(tabela_2)
ficha_3.head()

Arquivo 'Cat42/Ladakh/Tabela 2/tabela_2_Ladakh_07318052000150.xlsx' lido com sucesso!

C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  produtos = pd.read_sql_query(query, connection)
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ficha_3['DATA'] = pd.to_datetime(ficha_3['DATA'], format='%Y-%m-%d')
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['DATA'] = pd.to_datetime(data['DATA'], format='%Y-%m-%d')
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['IND_OPER'] = data['IND_OPER'].astype(int)
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\701781078.py:117: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])

AttributeError: 'float' object has no attribute 'fillna'

In [ ]:
ressarc = ficha_3['VLR_RESSARCIMENTO'].sum()
fator = 0.05

# 1ª Iteração

ficha_3['COD_ITEM'] = ficha_3['COD_ITEM'].astype(str)
pivot_ressarc = ficha_3.pivot_table(index='COD_ITEM', values='VLR_RESSARCIMENTO', aggfunc='sum')
pivot_ressarc = pivot_ressarc[pivot_ressarc['VLR_RESSARCIMENTO'] > 0]
pivot_ressarc = pivot_ressarc.sort_values(by='VLR_RESSARCIMENTO', ascending=False)

In [ ]:
incr_max_ref = pivot_ressarc.iloc[29].values[0]
incr_max = pivot_ressarc.iloc[30:]
incr_max['Diferenças'] = incr_max_ref - incr_max['VLR_RESSARCIMENTO']
incr_max = incr_max.sort_values(by='COD_ITEM')

qtd_saida = ficha_3[ficha_3['IND_OPER'] == 1].pivot_table(index='COD_ITEM', values='QTD_CAT', aggfunc='sum')
incr_max_unit = incr_max.merge(qtd_saida, on='COD_ITEM', how='left')
incr_max_unit['Incremento maximo unitario'] = incr_max_unit['Diferenças'] / incr_max_unit['QTD_CAT']
incr_max_unit = incr_max_unit.reset_index()

tabela_2_nova = ficha_3.merge(incr_max_unit[['COD_ITEM', 'Incremento maximo unitario']], on='COD_ITEM', how='left')
tabela_2_nova['Incremento maximo unitario'] = np.where(tabela_2_nova['ICMS_TOT'].fillna(0) == 0,
                                                0,
                                                tabela_2_nova['Incremento maximo unitario'])

tabela_2_nova['Incremento maximo unitario'] = tabela_2_nova['Incremento maximo unitario'].fillna(0)

tabela_2_nova['ICMS_TOT_FINAL'] = np.where(tabela_2_nova['ICMS_TOT'].fillna(0) != 0,
                                    tabela_2_nova['ICMS_TOT'] + (tabela_2_nova['Incremento maximo unitario']*fator)*tabela_2_nova['QTD_CAT'],
                                    tabela_2_nova['ICMS_TOT'])

tabela_2_nova.rename(columns={'ICMS_TOT': 'ICMS_TOT_ORIG',
                            'ICMS_TOT_FINAL': 'ICMS_TOT'
                        }, inplace=True)

df_final = tabela_2_nova[ficha_3.columns]
df_final = df_final.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                                ascending=[True, True, True, True]).reset_index().drop(['index'], axis=1)
df_final.rename(columns={ 'VLR_CONF_0': 'VL_CONFR_0'
                         }, inplace=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\1626578308.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incr_max['Diferenças'] = incr_max_ref - incr_max['VLR_RESSARCIMENTO']

In [ ]:
ficha_3_1 = calcular_ressarcimento(df_final)

C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  produtos = pd.read_sql_query(query, connection)
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ficha_3_1['DATA'] = pd.to_datetime(ficha_3_1['DATA'], format='%Y-%m-%d')
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['DATA'] = pd.to_datetime(data['DATA'], format='%Y-%m-%d')
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['IND_OPER'] = data['IND_OPER'].astype(int)
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_4228\3563199447.py:112: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])

In [ ]:
ressarc_tot_0_1 = ficha_3_1['VLR_RESSARCIMENTO'].sum()
delta_fator_0_1 = ressarc_tot_0_1 - ressarc
meta_delta = 4000000 - ressarc
meta_fator_0_1 = meta_delta/delta_fator_0_1
meta_fator = meta_fator_0_1*0.1*0.95

In [ ]:
ficha_3_1['COD_ITEM'] = ficha_3_1['COD_ITEM'].astype(str)
pivot_ressarc_final = ficha_3_1.pivot_table(index='COD_ITEM', values='VLR_RESSARCIMENTO', aggfunc='sum')
pivot_ressarc_final = pivot_ressarc_final[pivot_ressarc_final['VLR_RESSARCIMENTO'] > 0]
pivot_ressarc_final = pivot_ressarc_final.sort_values(by='VLR_RESSARCIMENTO', ascending=False)

In [ ]:
pivot_ressarc.head(30).reset_index()

   COD_ITEM  VLR_RESSARCIMENTO
0    225507      144581.326194
1     84602       38748.306081
2     84600       37621.843188
3     64602       36571.675918
4     64601       35984.513604
5    225500       30003.430847
6    225506       29512.854806
7      1205       27268.659958
8   1084010       27201.235602
9    446000       26096.074861
10   111001       24481.477246
11   186500       23798.755792
12    84603       21848.284562
13    64603       21777.886522
14     1226       21616.865197
15   161018       20793.942472
16   225514       19403.793487
17    11049       19280.690195
18   161300       18994.975673
19   225504       18708.325310
20   446001       16362.001576
21   225513       16254.235139
22   222000       16041.545698
23   221300       15918.702197
24   372601       15296.616348
25   366100       13886.537845
26   366200       12809.244979
27     3601       12727.478325
28   185701       12595.523476
29   366101       12236.599824

In [ ]:
pivot_ressarc_final.head(30).reset_index()

   COD_ITEM  VLR_RESSARCIMENTO
0    225507      150461.764547
1     84602       43903.984268
2     84600       41962.414500
3     64602       40961.880204
4     64601       37852.372778
5    225500       32725.687330
6    225506       31921.130609
7      1205       29121.906182
8   1084010       27201.235602
9    186500       25266.586570
10    84603       24461.302071
11     1226       23731.151439
12    64603       23038.869338
13   161018       21936.378065
14   161300       21350.529154
15   111001       20933.292937
16   225504       20916.181800
17   225514       20774.415536
18   446000       19468.655368
19    11049       19107.072552
20   222000       18311.846114
21   221300       18304.954343
22   446001       17417.234236
23   225513       17069.284241
24     3601       14804.216403
25   372601       14013.340474
26   185701       13950.297119
27   185700       13463.140058
28     1240       13315.013517
29     1222       12296.160287

In [ ]:
teste = tabela_2_nova[tabela_2_nova['COD_ITEM'].isin(pivot_ressarc.head(30).reset_index()['COD_ITEM'].values)]
teste['diff'] = teste['ICMS_TOT'].fillna(0) - teste['ICMS_TOT_FINAL'].fillna(0)
teste['diff'].unique()

KeyError: 'ICMS_TOT_FINAL'

In [142]:
novo = pivot_ressarc.head(30).sort_values(by='COD_ITEM').reset_index()
novo['COD_ITEM_1'] = pivot_ressarc_final.head(30).sort_values(by='COD_ITEM').reset_index()['COD_ITEM']
novo['VLR_RESSARCIMENTO_1'] = pivot_ressarc_final.head(30).sort_values(by='COD_ITEM').reset_index()['VLR_RESSARCIMENTO']
novo

   COD_ITEM  VLR_RESSARCIMENTO COD_ITEM_1  VLR_RESSARCIMENTO_1
0   1084010       27201.235602    1084010         27201.235602
1     11049       19111.228888      11049         19107.072552
2    111001       22095.684225     111001         20933.292937
3      1205       25630.112248       1205         29121.906182
4      1226       21485.302561       1222         12296.160287
5    161018       20795.240040       1226         23731.151439
6    161300       19320.751723       1240         13315.013517
7    185701       12595.053395     161018         21936.378065
8    186500       23798.755792     161300         21350.529154
9    221300       16181.218438     185700         13463.140058
10   222000       16091.441908     185701         13950.297119
11   225500       30104.501431     186500         25266.586570
12   225504       18823.736163     221300         18304.954343
13   225506       29556.368247     222000         18311.846114
14   225507      145181.524283     225500         32725.687330
15   225513       15546.240163     225504         20916.181800
16   225514       19231.880525     225506         31921.130609
17     3601       12607.741721     225507        150461.764547
18   366100       13702.584820     225513         17069.284241
19   366101       12241.028634     225514         20774.415536
20   366200       12805.278708       3601         14804.216403
21   372601       15189.191534     372601         14013.340474
22   446000       19053.315961     446000         19468.655368
23   446001       17839.153770     446001         17417.234236
24    64601       34753.482464      64601         37852.372778
25    64602       38344.471667      64602         40961.880204
26    64603       21794.104064      64603         23038.869338
27    84600       36675.169224      84600         41962.414500
28    84602       39586.955524      84602         43903.984268
29    84603       22276.296767      84603         24461.302071

In [143]:
for cod in novo['COD_ITEM']:
    if cod not in novo['COD_ITEM_1'].values:
        print(cod)

366100
366101
366200

In [144]:
for cod in novo['COD_ITEM_1']:
    if cod not in novo['COD_ITEM'].values:
        print(cod)

1222
1240
185700

In [194]:
ficha_3[ficha_3['COD_ITEM'] == '225507']

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,QTD_ent1_devolv_ent,ICMS_TOT_0,ICMS_TOT_ent_unit,ULT_ICMS_TOT_ent_unit,ICMS_TOT_1,qtd_saida_1_devolv_saida,ICMS_SAIDA_UNI,ULT_ICMS_SAIDA_UNI,ICMS_SAIDA,ICMS_TOT_PCAT,VLR_CONF_0,VLR_CONFR_UNIT,ULT_VLR_CONFR_UNIT,VLR_CONFR_1,QTD_SALDO,ICMS_TOT_SALDO,VLR_RESSARCIMENTO,VLR_COMPLEMENTO,COD_LEGAL,VLR_CONFR_PCAT,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,ALIQUOTA,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,valor_op_fixo,qtd_fixa,valor_medio,ICMS_EFETIVO_ENTRADA,ICMS_TOT,CNPJ EMITENTE,vBCST,CST,FONTE
61319,35220107318052000150550200000249611000688800,2022-01-04,6404,7,225507,1,1,60.0,4652.0,13696.585681,0.0,0.0,0.0,2.944236,0.0,60.0,2.944236,2.944236,176.654158,NaN,219.0078,3.650130,0.000000,219.0078,4592.0,13519.931524,92.545868,0.0,4.0,NaN,NaN,NaN,18.0,1216.71,0,0,0.00,85.17,0.00,0.0,1.401805,84.108290,NaN,7318052000150,0,10.0,saida
61320,35220107318052000150550200000249721341005056,2022-01-05,6404,30,225507,1,1,30.0,NaN,NaN,0.0,0.0,0.0,2.944236,0.0,30.0,2.944236,2.944236,88.327079,NaN,172.5840,5.752800,3.650130,172.5840,4562.0,13431.604445,46.272934,0.0,4.0,NaN,NaN,NaN,18.0,958.80,0,0,219.43,67.12,0.00,0.0,1.401805,42.054145,NaN,7318052000150,0,10.0,saida
61321,35220107318052000150550200000249851811821855,2022-01-07,6404,39,225507,1,1,10.0,NaN,NaN,0.0,0.0,0.0,2.944236,0.0,10.0,2.944236,2.944236,29.442360,NaN,57.5280,5.752800,5.752800,57.5280,4552.0,13402.162086,15.424311,0.0,4.0,NaN,NaN,NaN,18.0,319.60,0,0,0.00,22.37,0.00,0.0,1.401805,14.018048,NaN,7318052000150,0,10.0,saida
61322,35220107318052000150550200000249881723601057,2022-01-07,6102,6,225507,1,1,20.0,NaN,NaN,0.0,0.0,0.0,2.944236,0.0,20.0,2.944236,2.944236,58.884719,NaN,75.4326,3.771630,5.752800,75.4326,4532.0,13343.277366,30.848623,0.0,4.0,NaN,NaN,NaN,18.0,419.07,0,0,0.00,29.33,0.00,0.0,1.401805,28.036097,NaN,7318052000150,0,0.0,saida
61323,35220107318052000150550200000249971501185064,2022-01-10,6404,27,225507,1,1,60.0,NaN,NaN,0.0,0.0,0.0,2.944236,0.0,60.0,2.944236,2.944236,176.654158,NaN,239.0310,3.983850,3.771630,239.0310,4472.0,13166.623209,92.545868,0.0,4.0,NaN,NaN,NaN,18.0,1327.95,0,0,0.00,92.96,0.00,0.0,1.401805,84.108290,NaN,7318052000150,0,10.0,saida
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62474,35240507318052000150550200000362571612664677,2024-05-23,6404,14,225507,1,1,20.0,NaN,NaN,0.0,0.0,0.0,4.119154,0.0,20.0,4.119155,4.119155,82.383095,NaN,74.7864,3.739320,3.426930,74.7864,128.0,527.251806,47.018143,0.0,4.0,NaN,NaN,NaN,18.0,415.48,0,0,0.00,29.08,0.00,0.0,1.768248,35.364952,NaN,7318052000150,0,10.0,saida
62475,35240507318052000150550200000362601208461250,2024-05-23,6404,19,225507,1,1,90.0,NaN,NaN,0.0,0.0,0.0,4.119154,0.0,90.0,4.119155,4.119155,370.723926,NaN,336.5406,3.739340,3.739320,336.5406,38.0,156.527880,211.581644,0.0,4.0,NaN,NaN,NaN,18.0,1869.67,0,0,0.00,130.88,0.00,0.0,1.768248,159.142282,NaN,7318052000150,0,10.0,saida
62476,35240507318052000150550200000362671085402120,2024-05-23,6404,11,225507,1,1,25.0,NaN,NaN,0.0,0.0,0.0,4.119154,0.0,25.0,4.119155,4.119155,102.978868,NaN,79.2306,3.169224,3.739340,79.2306,13.0,53.549011,58.772679,0.0,4.0,NaN,13.0,53.549011,18.0,440.17,0,0,90.89,30.81,0.00,0.0,1.768248,44.206189,NaN,7318052000150,0,10.0,saida
62477,35240707318052000150550200000370191264764551,2024-07-26,5927,53,225507,1,1,5.0,NaN,NaN,0.0,0.0,0.0,4.119154,0.0,5.0,4.119155,4.119155,20.595774,NaN,NaN,NaN,3.169224,NaN,8.0,32.953238,8.841238,0.0,2.0,NaN,NaN,NaN,18.0,92.35,0,0,0.00,0.00,0.00,0.0,1.768248,8.841238,NaN,7318052000150,0,60.0,saida
62478,50240754455978000177550010000000241063407785,2024-07-30,2202,1,225507,0,-1,26.0,NaN,NaN,0.0,37.8,0.0,4.119154,37.8,-26.0,4.119155,4.119155,-107.098023,4.119155,NaN,NaN,3.169224,NaN,34.0,177.851261,0.000000,0.0,0.0,NaN,34.0,177.851261,18.0,540.02,0,0,0.00,37.80,114768.21,63941.0,1.768128,NaN,37.8,54455978000177,0,NaN,entrada

In [195]:
ficha_3_1[ficha_3_1['COD_ITEM'] == '225507']

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,QTD_ent1_devolv_ent,ICMS_TOT,ICMS_TOT_ent_unit,ULT_ICMS_TOT_ent_unit,ICMS_TOT_1,qtd_saida_1_devolv_saida,ICMS_SAIDA_UNI,ULT_ICMS_SAIDA_UNI,ICMS_SAIDA,ICMS_TOT_PCAT,VLR_CONF_0,VLR_CONFR_UNIT,ULT_VLR_CONFR_UNIT,VLR_CONFR_1,QTD_SALDO,ICMS_TOT_SALDO,VLR_RESSARCIMENTO,VLR_COMPLEMENTO,COD_LEGAL,VLR_CONFR_PCAT,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,ALIQUOTA,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,valor_op_fixo,qtd_fixa,valor_medio,ICMS_EFETIVO_ENTRADA,CNPJ EMITENTE,vBCST,CST,FONTE
61319,35220107318052000150550200000249611000688800,2022-01-04,6404,7,225507,1,1,60.0,4652.0,14612.28539,0.0,0.000000,0.0,3.141076,0.000000,60.0,3.141076,3.141076,188.464558,NaN,219.0078,3.650130,0.000000,219.0078,4592.0,14423.820832,103.290248,0.0,4.0,NaN,NaN,NaN,18.0,1216.71,0,0,0.00,85.17,0.00,0.0,1.419572,85.174310,7318052000150,0,10.0,saida
61320,35220107318052000150550200000249721341005056,2022-01-05,6404,30,225507,1,1,30.0,NaN,NaN,0.0,0.000000,0.0,3.141076,0.000000,30.0,3.141076,3.141076,94.232279,NaN,172.5840,5.752800,3.650130,172.5840,4562.0,14329.588553,51.645124,0.0,4.0,NaN,NaN,NaN,18.0,958.80,0,0,219.43,67.12,0.00,0.0,1.419572,42.587155,7318052000150,0,10.0,saida
61321,35220107318052000150550200000249851811821855,2022-01-07,6404,39,225507,1,1,10.0,NaN,NaN,0.0,0.000000,0.0,3.141076,0.000000,10.0,3.141076,3.141076,31.410760,NaN,57.5280,5.752800,5.752800,57.5280,4552.0,14298.177794,17.215041,0.0,4.0,NaN,NaN,NaN,18.0,319.60,0,0,0.00,22.37,0.00,0.0,1.419572,14.195718,7318052000150,0,10.0,saida
61322,35220107318052000150550200000249881723601057,2022-01-07,6102,6,225507,1,1,20.0,NaN,NaN,0.0,0.000000,0.0,3.141076,0.000000,20.0,3.141076,3.141076,62.821519,NaN,75.4326,3.771630,5.752800,75.4326,4532.0,14235.356274,34.430083,0.0,4.0,NaN,NaN,NaN,18.0,419.07,0,0,0.00,29.33,0.00,0.0,1.419572,28.391437,7318052000150,0,0.0,saida
61323,35220107318052000150550200000249971501185064,2022-01-10,6404,27,225507,1,1,60.0,NaN,NaN,0.0,0.000000,0.0,3.141076,0.000000,60.0,3.141076,3.141076,188.464558,NaN,239.0310,3.983850,3.771630,239.0310,4472.0,14046.891716,103.290248,0.0,4.0,NaN,NaN,NaN,18.0,1327.95,0,0,0.00,92.96,0.00,0.0,1.419572,85.174310,7318052000150,0,10.0,saida
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62474,35240507318052000150550200000362571612664677,2024-05-23,6404,14,225507,1,1,20.0,NaN,NaN,0.0,0.000000,0.0,4.119154,0.000000,20.0,4.318831,4.318831,86.376612,NaN,74.7864,3.739320,3.426930,74.7864,128.0,552.810314,50.987561,0.0,4.0,NaN,NaN,NaN,18.0,415.48,0,0,0.00,29.08,0.00,0.0,1.769453,35.389051,7318052000150,0,10.0,saida
62475,35240507318052000150550200000362601208461250,2024-05-23,6404,19,225507,1,1,90.0,NaN,NaN,0.0,0.000000,0.0,4.119154,0.000000,90.0,4.318831,4.318831,388.694752,NaN,336.5406,3.739340,3.739320,336.5406,38.0,164.115562,229.444023,0.0,4.0,NaN,NaN,NaN,18.0,1869.67,0,0,0.00,130.88,0.00,0.0,1.769453,159.250729,7318052000150,0,10.0,saida
62476,35240507318052000150550200000362671085402120,2024-05-23,6404,11,225507,1,1,25.0,NaN,NaN,0.0,0.000000,0.0,4.119154,0.000000,25.0,4.318831,4.318831,107.970764,NaN,79.2306,3.169224,3.739340,79.2306,13.0,56.144798,63.734451,0.0,4.0,NaN,13.0,56.144798,18.0,440.17,0,0,90.89,30.81,0.00,0.0,1.769453,44.236314,7318052000150,0,10.0,saida
62477,35240707318052000150550200000370191264764551,2024-07-26,5927,53,225507,1,1,5.0,NaN,NaN,0.0,5.465642,0.0,4.119154,5.465642,5.0,4.318831,4.318831,21.594153,NaN,NaN,NaN,3.169224,NaN,8.0,40.016287,8.847263,0.0,2.0,NaN,NaN,NaN,18.0,92.35,0,0,0.00,0.00,0.00,0.0,1.769453,8.847263,7318052000150,0,60.0,saida
62478,50240754455978000177550010000000241063407785,2024-07-30,2202,1,225507,0,-1,26.0,NaN,NaN,0.0,37.800000,0.0,4.119154,37.800000,-26.0,5.002036,4.318831,-112.289595,5.002036,NaN,NaN,3.169224,NaN,34.0,190.105882,0.000000,0.0,0.0,NaN,34.0,190.105882,18.0,540.02,0,0,0.00,37.80,114768.21,63941.0,1.769333,NaN,54455978000177,0,NaN,entrada

In [205]:
tabela_2_nova[tabela_2_nova['COD_ITEM'] == '225507'][['ICMS_TOT_ORIG', 'ICMS_TOT']]

       ICMS_TOT_ORIG  ICMS_TOT
61319            NaN       NaN
61320            NaN       NaN
61321            NaN       NaN
61322            NaN       NaN
61323            NaN       NaN
...              ...       ...
62474            NaN       NaN
62475            NaN       NaN
62476            NaN       NaN
62477            NaN       NaN
62478           37.8      37.8

[1160 rows x 2 columns]

In [ ]:
tabela_2 = ler_arquivo_para_dataframe(bucket_name, f'Cat42/{nome_empresa.title()}/Tabela 2/tabela_2_{nome_empresa.title()}_{cnpj}.xlsx', file_type='xlsx')
tabela_2['COD_ITEM'] = tabela_2['COD_ITEM'].astype(str)
tabela_2 = tabela_2[tabela_2['COD_ITEM'] == '11041']
# tabela_2 = tabela_2.drop('Unnamed: 0', axis=1)
tabela_2 = tabela_2.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                            ascending=[True, True, True, True]).reset_index().drop('index', axis=1)


tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(float)

ficha_3 = tabela_2[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'QTD_CAT', 'Valor ICMS Operação',
                        'CST', 'ALIQUOTA', 'FONTE']]

query = 'SELECT * FROM produtos'
produtos = pd.read_sql_query(query, connection)

# Ordenação da tabela de acordo com os critérios definidos
ficha_3['DATA'] = pd.to_datetime(ficha_3['DATA'], format='%Y-%m-%d')
ficha_3 = ficha_3.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                            ascending=[True, True, True, True])

ficha_3['ICMS_TOT'] = tabela_2['ICMS_TOT'].astype(float)
ficha_3['VALOR'] = tabela_2['VALOR']

ficha_3 = ficha_3.merge(produtos[['codigo_produto', 'mva_antes']], 
                    left_on='COD_ITEM',
                    right_on='codigo_produto',
                    how='left')
ficha_3 = ficha_3.drop('codigo_produto', axis=1).rename(columns={'mva_antes': 'MVA'})

ficha_3['VALOR'] = ficha_3['VALOR'].astype(str).replace('-', np.nan).astype(float)
ficha_3['ALIQUOTA'] = ficha_3['ALIQUOTA'].astype(str).replace('-', np.nan).astype(float)
ficha_3['MVA'] = ficha_3['MVA'].astype(str).replace('-', np.nan).replace('None', np.nan).astype(float)

cond_1 = ((ficha_3['CST'].astype(float) == 60) & ((ficha_3['ICMS_TOT'] == 0) | (ficha_3['ICMS_TOT'].isnull())))
cond_2 = ((ficha_3['CFOP'].isin([1403, 1409, 1411, 1949, 2403, 2411])) & ((ficha_3['ICMS_TOT'] == 0) | (ficha_3['ICMS_TOT'].isnull())))

ficha_3['ICMS_TOT'] = np.where(cond_1 | cond_2 , 
                            ficha_3['VALOR'] * (ficha_3['ALIQUOTA'] / 100) * ficha_3['MVA'] * 0.8,
                            ficha_3['ICMS_TOT'])

ficha_3['ICMS_TOT'] = np.where((ficha_3['CFOP'].astype(float).isin([1102, 1202, 2102])) | (ficha_3['IND_OPER'] == 1),
                                np.nan,
                                ficha_3['ICMS_TOT'])

cond_1 = ((ficha_3['CST'].astype(float) == 60) & ((ficha_3['Valor ICMS Operação'] == 0) | (ficha_3['Valor ICMS Operação'].isnull())))
cond_2 = ((ficha_3['CFOP'].isin([1403, 1409, 1411, 1949, 2403, 2411])) & ((ficha_3['Valor ICMS Operação'] == 0) | (ficha_3['Valor ICMS Operação'].isnull())))

ficha_3['Valor ICMS Operação'] = np.where((ficha_3['CFOP'].astype(float) == 1403) & (ficha_3['Valor ICMS Operação'].astype(float) == 0),
                                        (ficha_3['ALIQUOTA'].astype(float)/ 100) * ficha_3['VALOR'].astype(float),
                                        ficha_3['Valor ICMS Operação'])

data = ficha_3[['COD_ITEM', 'DATA', 'QTD_CAT', 'IND_OPER']]

# Transformação da coluna 'DATA' para o tipo correto
data['DATA'] = pd.to_datetime(data['DATA'], format='%Y-%m-%d')

# Ordenação do dataset para cálculo correto do ICMS inicial

data['IND_OPER'] = data['IND_OPER'].astype(int)
data = data.sort_values(by=['COD_ITEM','DATA', 'IND_OPER'], ascending=[True, True, True])

# Cáculo dos saldos das operações para definição da Quantidade Inicial
data['OPER'] = np.where(data['IND_OPER'] == 0, data['QTD_CAT'], -data['QTD_CAT'])
data['SALDO'] = data.groupby('COD_ITEM')['OPER'].cumsum()

# Criação da coluna para as informações da Quantidade Inicial

min_saldo = data.groupby('COD_ITEM')['SALDO'].transform('min')

# Set 'QTD_INI' to the minimum 'SALDO' value if it's less than or equal to 0,
# otherwise set it to 0
data['QTD_INI'] = np.where(min_saldo <= 0, min_saldo.abs(), 0)

# Get the first rows within each group
first_rows = data.groupby('COD_ITEM').head(1)

# Set 'QTD_INI' to NaN for all rows except the last rows within each group
data['QTD_INI'] = np.where(data.index.isin(first_rows.index), data['QTD_INI'], np.nan)

# Update 'QTD_INI' with calculated values for the last rows
data.loc[first_rows.index, 'QTD_INI'] = first_rows['QTD_INI']

# Cálculo do ICMS inicial 

data['SUB_TIPO'] = tabela_2['SUB_TIPO']
data['ICMS_TOT_0'] = ficha_3['ICMS_TOT']
data['CST'] = ficha_3['CST']
data['Valor ICMS Operação'] = ficha_3['Valor ICMS Operação']
data['VALOR_UNIT'] = np.where((data['SUB_TIPO'] == 1) & (data['IND_OPER'] == 0),
                                data['ICMS_TOT_0'].fillna(0) / data['QTD_CAT'],
                                np.nan)
data['VALOR_OP_UNIT'] = np.where((data['SUB_TIPO'] == 1) & (data['IND_OPER'] == 0),
                                data['Valor ICMS Operação'].fillna(0) / data['QTD_CAT'],
                                np.nan)

grouped_data = data.groupby('COD_ITEM').agg({
    'VALOR_UNIT': 'mean',
    'VALOR_OP_UNIT': 'mean',
    'QTD_INI': 'first'
})

# Cálculo vetorizado para icms_init
grouped_data['ICMS_INI'] = grouped_data['VALOR_UNIT'] * (1 - 0.3 * np.random.random(size=len(grouped_data))) * grouped_data['QTD_INI']
grouped_data['ICMS_OP_INI'] = grouped_data['VALOR_OP_UNIT'] * (1 - 0.3 * np.random.random(size=len(grouped_data))) * grouped_data['QTD_INI']
data = data.merge(grouped_data[['ICMS_INI', 'ICMS_OP_INI']], how='left', left_on='COD_ITEM', right_index=True)

mask = data.duplicated(subset='COD_ITEM', keep='first')

# Definindo como nulo valores de 'ICMS_INI' onde a máscara é True, indicando que não é a primeira linha para 'COD_ITEM'
data['ICMS_INI'] = np.where(mask, np.nan, data['ICMS_INI'])
data['ICMS_OP_INI'] = np.where(mask, np.nan, data['ICMS_OP_INI'])

produtos_somente_saida = tabela_2.groupby('COD_ITEM')['IND_OPER'].all()
produtos_somente_saida = produtos_somente_saida[produtos_somente_saida == True].index
prods_icms_0 = data[(data['QTD_INI'] != 0) & (((data['ICMS_INI'] == 0) | (data['ICMS_INI'].isnull())) | ((data['ICMS_OP_INI'] == 0) | (data['ICMS_OP_INI'].isnull())))]
for produto in list(produtos_somente_saida) + list(prods_icms_0['COD_ITEM'].unique()) + list(prods_icms_0['COD_ITEM'].unique()):
# for produto in data['COD_ITEM'].unique():
# Executa a consulta para obter os valores mva_antes e mva_depois
    query = f"SELECT mva_antes, mva_depois FROM produtos WHERE codigo_produto = '{produto}'"
    try:
        mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
    except:
        mva = 0
    print('MVA: ', mva)
    # Calcula o lucro e a quantidade total
    lucro = sum(tabela_2[(tabela_2['COD_ITEM'] == produto) & (tabela_2['IND_OPER'] == 1)]['VALOR'])
    tot_qtde = sum(tabela_2[(tabela_2['COD_ITEM'] == produto) & (tabela_2['IND_OPER'] == 1)]['QTD_CAT'])
    aliquota = tabela_2[tabela_2['COD_ITEM'] == produto]['ALIQUOTA'].values[0] / 100

    
    try:
        # Calcula o valor unitário, base ST estimada e ICMS
        valor_unit = (lucro * 0.8) / tot_qtde
        print('Valor unitario: ', valor_unit)
        base_st_estimada = valor_unit + (valor_unit * mva)
        print('Base estimada: ', base_st_estimada)
        icms_op_unit = valor_unit * aliquota
        icms_suport_unit = base_st_estimada * aliquota
        print('Icms suportado unitario: ', icms_suport_unit)
        icms_inicial = icms_suport_unit * tot_qtde
        print('ICMS Inicial: ', icms_inicial)

    except:
        icms_inicial = 0
        icms_op_unit = 0
        

    # Verifica se o produto está presente no DataFrame 'data'
    produto_idx = data[data['COD_ITEM'] == produto].index

    if not produto_idx.empty:
        # Garante que a coluna 'ICMS_INI' seja do tipo float
        data['ICMS_INI'] = data['ICMS_INI'].astype(float)
        data['ICMS_OP_INI'] = data['ICMS_OP_INI'].astype(float)

        # Atualiza o valor na primeira linha correspondente ao COD_ITEM
        data.loc[produto_idx[0], 'ICMS_INI'] = icms_inicial
        data.loc[produto_idx[0], 'ICMS_OP_INI'] = icms_op_unit * data.loc[produto_idx[0], 'QTD_INI']

# Definição das colunas para cálculo de ressarcimento de acordo com as regras
ficha_3['QTD_INI'] = data['QTD_INI'].astype(float)
ficha_3['ICMS_INI'] = data['ICMS_INI'].astype(float)
ficha_3['ICMS_OP_INI'] = data['ICMS_OP_INI'].astype(float)
ficha_3['ICMS_INI'] = np.where((ficha_3['QTD_INI'] == 0) | (ficha_3['ICMS_INI'].isnull() & ficha_3['QTD_INI'].notnull()),
                                0,
                                ficha_3['ICMS_INI'])

ficha_3 = ficha_3[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER', 
                    'SUB_TIPO', 'QTD_CAT', 'Valor ICMS Operação','CST', 'QTD_INI','ICMS_INI', 'ICMS_OP_INI',
                    'ALIQUOTA', 'FONTE', 'ICMS_TOT', 'VALOR']]

# Inicializa as colunas
ficha_3['valor_op_fixo'] = 0
ficha_3['qtd_fixa'] = 0

# Processamento dos valores fixos acumulados
for cod in ficha_3['COD_ITEM'].unique():
    subset = ficha_3[ficha_3['COD_ITEM'] == cod].copy()

    acum_val = 0
    acum_qtd = 0

    for i, row in subset.iterrows():
        if row['IND_OPER'] == 0:
            ficha_3.loc[i, 'valor_op_fixo'] = acum_val
            ficha_3.loc[i, 'qtd_fixa'] = acum_qtd

            acum_val += row['Valor ICMS Operação']
            acum_qtd += row['QTD_CAT']

# Cálculo do valor médio
valor_medio = []

for cod in ficha_3['COD_ITEM'].unique():
    subset = ficha_3[ficha_3['COD_ITEM'] == cod].copy().reset_index()

    for i, row in subset.iterrows():
        if i == 0:  # Primeira linha
            if row['IND_OPER'] == 0:
                # Calcular com valores acumulados
                num = row['valor_op_fixo'] + row['Valor ICMS Operação'] + row['ICMS_OP_INI']
                den = row['qtd_fixa'] + row['QTD_CAT'] + row['QTD_INI']
                valor_medio.append(num / den)
            elif row['IND_OPER'] == 1:
                # Calcular com ICMS_OP_INI e QTD_INI
                num = row['ICMS_OP_INI']
                den = row['QTD_INI']
                valor_medio.append(num / den)
        else:  # Demais linhas
            if row['IND_OPER'] == 0:
                # Calcular com valores acumulados
                num = row['valor_op_fixo'] + row['Valor ICMS Operação'] + subset.iloc[0]['ICMS_OP_INI']
                den = row['qtd_fixa'] + row['QTD_CAT'] + subset.iloc[0]['QTD_INI']
                valor_medio.append(num / den)
            elif row['IND_OPER'] == 1:
                # Para IND_OPER == 1, deixamos como NaN
                valor_medio.append(np.nan)

# Adiciona a coluna 'valor_medio' ao DataFrame e preenche valores ausentes
ficha_3['valor_medio'] = valor_medio
ficha_3['valor_medio'] = ficha_3['valor_medio'].ffill()  # Preenche valores ausentes com o valor anterior

# # Cálculos finais
# ficha_3['COD_LEGAL'] = tabela_2['COD_LEGAL'].astype(float)
# ficha_3['ICMS_EFETIVO_ENTRADA'] = ficha_3['valor_medio'] * ficha_3['QTD_CAT']
# ficha_3['ICMS_EFETIVO_ENTRADA'] = np.where(ficha_3['COD_LEGAL'] > 1,
#                                         ficha_3['ICMS_EFETIVO_ENTRADA'],
#                                         np.nan)

ficha_3

Arquivo 'Cat42/Ladakh/Tabela 2/tabela_2_Ladakh_07318052000150.xlsx' lido com sucesso!

C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\2046617227.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  produtos = pd.read_sql_query(query, connection)
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\2046617227.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ficha_3['DATA'] = pd.to_datetime(ficha_3['DATA'], format='%Y-%m-%d')
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\2046617227.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['DATA'] = pd.to_datetime(data['DATA'], format='%Y-%m-%d')
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\2046617227.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['IND_OPER'] = data['IND_OPER'].astype(int)
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\2046617227.py:119: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])

MVA:  0.7646
Valor unitario:  5.859438215792648
Base estimada:  10.339564675587706
Icms suportado unitario:  2.5848911688969265
ICMS Inicial:  4288.3344492000015
MVA:  0.7646
Valor unitario:  5.859438215792648
Base estimada:  10.339564675587706
Icms suportado unitario:  2.5848911688969265
ICMS Inicial:  4288.3344492000015

C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\2046617227.py:119: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mva = float(pd.read_sql_query(query, connection).dropna(axis=1).iloc[0,0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_3428\2046617227.py:183: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2282.175' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ficha_3.loc[i, 'valor_op_fixo'] = acum_val

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,Valor ICMS Operação,CST,QTD_INI,ICMS_INI,ICMS_OP_INI,ALIQUOTA,FONTE,ICMS_TOT,VALOR,valor_op_fixo,qtd_fixa,valor_medio
0,35220142750994000103550010000000091900080107,2022-01-30,1411,18,11041,0,-1,17.0,0.00,NaN,0.0,0.0,0.0,25.0,entrada,27.218231,177.99,0.0,0,0.00000
1,35220207318052000150550200000252951878218081,2022-02-09,5405,4,11041,1,1,4.0,0.00,60.0,NaN,NaN,NaN,25.0,saida,NaN,31.08,0.0,0,0.00000
2,35220207318052000150550200000253101067116375,2022-02-10,5405,2,11041,1,1,10.0,0.00,60.0,NaN,NaN,NaN,25.0,saida,NaN,77.70,0.0,0,0.00000
3,35220207318052000150550200000253471150512258,2022-02-15,6404,4,11041,1,1,2.0,1.00,10.0,NaN,NaN,NaN,25.0,saida,NaN,14.35,0.0,0,0.00000
4,35220207318052000150550200000253591733511186,2022-02-17,5910,30,11041,1,1,1.0,0.00,10.0,NaN,NaN,NaN,25.0,saida,NaN,3.65,0.0,0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,35221207318052000150550200000296601511383457,2022-12-14,5405,27,11041,1,1,5.0,5.52,60.0,NaN,NaN,NaN,25.0,saida,NaN,52.35,0.0,0,1.07346
190,35221207318052000150550200000297171552765570,2022-12-16,6403,2,11041,1,1,1.0,4.19,10.0,NaN,NaN,NaN,25.0,saida,NaN,34.90,0.0,0,1.07346
191,35221207318052000150550200000297511138230448,2022-12-20,5910,32,11041,1,1,12.0,0.00,10.0,NaN,NaN,NaN,25.0,saida,NaN,52.90,0.0,0,1.07346
192,35221207318052000150550200000298081214716800,2022-12-22,6404,7,11041,1,1,10.0,4.40,10.0,NaN,NaN,NaN,25.0,saida,NaN,62.86,0.0,0,1.07346
193,35221207318052000150550200000298101666323880,2022-12-23,6409,3,11041,1,1,6.0,3.61,10.0,NaN,NaN,NaN,25.0,saida,NaN,30.06,0.0,0,1.07346

In [64]:
ficha_3[ficha_3['IND_OPER'] == 0]

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,Valor ICMS Operação,CST,QTD_INI,ICMS_INI,ICMS_OP_INI,ALIQUOTA,FONTE,ICMS_TOT,VALOR,valor_op_fixo,qtd_fixa,valor_medio
0,35220142750994000103550010000000091900080107,2022-01-30,1411,18,11041,0,-1,17.0,0.000,NaN,0.0,0.0,0.0,25.0,entrada,27.218231,177.99,0.000,0,0.000000
5,35220325127819000145550010000123381307027255,2022-03-18,1403,3,11041,0,1,2070.0,2282.175,60.0,NaN,NaN,NaN,25.0,entrada,1395.960804,9128.70,0.000,17,1.093519
20,35220342354636000181550010000000201326010538,2022-04-08,1202,126,11041,0,-1,7.0,0.000,NaN,NaN,NaN,NaN,25.0,entrada,NaN,73.29,2282.175,2087,1.089864
168,35221146179163000184550010000000351011552365,2022-11-14,1202,17,11041,0,-1,12.0,0.000,NaN,NaN,NaN,NaN,25.0,entrada,NaN,100.56,2282.175,2094,1.083654
175,51220845880032000167550010000000231029183942,2022-11-25,2202,17,11041,0,-1,13.0,0.000,NaN,NaN,NaN,NaN,25.0,entrada,0.000000,92.17,2282.175,2106,1.077006
181,35221131736269000245550010000000771010523593,2022-12-05,1202,13,11041,0,-1,7.0,0.000,NaN,NaN,NaN,NaN,25.0,entrada,NaN,62.79,2282.175,2119,1.073460

In [53]:
data[(data['QTD_INI'] != 0) & ((data['ICMS_INI'] == 0) | (data['ICMS_OP_INI'] == 0))]

Empty DataFrame
Columns: [COD_ITEM, DATA, QTD_CAT, IND_OPER, OPER, SALDO, QTD_INI, SUB_TIPO, ICMS_TOT_0, CST, Valor ICMS Operação, VALOR_UNIT, VALOR_OP_UNIT, ICMS_INI, ICMS_OP_INI]
Index: []

In [54]:
data

,COD_ITEM,DATA,QTD_CAT,IND_OPER,OPER,SALDO,QTD_INI,SUB_TIPO,ICMS_TOT_0,CST,Valor ICMS Operação,VALOR_UNIT,VALOR_OP_UNIT,ICMS_INI,ICMS_OP_INI
0,1025200,2022-01-07,60.0,1,-60.0,-60.0,15256.0,1,NaN,0.0,3.95,NaN,NaN,NaN,NaN
1,1025200,2022-01-11,20.0,1,-20.0,-80.0,NaN,1,NaN,10.0,0.89,NaN,NaN,NaN,NaN
2,1025200,2022-01-19,50.0,1,-50.0,-130.0,NaN,1,NaN,0.0,3.12,NaN,NaN,NaN,NaN
3,1025200,2022-01-20,20.0,1,-20.0,-150.0,NaN,1,NaN,60.0,0.00,NaN,NaN,NaN,NaN
4,1025200,2022-01-20,20.0,1,-20.0,-170.0,NaN,1,NaN,60.0,0.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,1025200,2022-11-18,10.0,1,-10.0,-15248.0,NaN,1,NaN,10.0,0.68,NaN,NaN,NaN,NaN
81,1025200,2022-11-18,1.0,1,-1.0,-15249.0,NaN,1,NaN,10.0,0.07,NaN,NaN,NaN,NaN
82,1025200,2022-11-25,14.0,0,14.0,-15235.0,NaN,-1,1.24592,NaN,0.00,NaN,NaN,NaN,NaN
83,1025200,2022-11-29,14.0,1,-14.0,-15249.0,NaN,1,NaN,10.0,0.92,NaN,NaN,NaN,NaN
84,1025200,2022-12-08,7.0,1,-7.0,-15256.0,NaN,1,NaN,10.0,0.44,NaN,NaN,NaN,NaN